Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst contaning double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|anubis|127\.0\.0\.1|user:password@proxy|libretranslate:)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

rst-seealso-inline:
  name: seealso should use block
  entry: '^\.\. seealso:: .*$'
  language: pygrep

rst-seealso-list:
  name: seealso shoud use list for multiple lins
  args:
  - --multiline
  entry: ^\.\. seealso::\n\n(   *[:`*][^\n]*\n)*   *[:`*][^\n]*,
  language: pygrep

py-join-comma:
  name: Localized comma in join
  args:
  - --multiline
  entry: format_html_join\(\s*", "
  language: pygrep

fix(automation): lock inherited AI context
  weblate/machinery/llm.py
  weblate/trans/automation.py
  weblate/trans/bulk.py
Due: py-join-comma

fix(lang): preserve all relations during language moves
  docs/admin/management.rst
  docs/changes.rst
  weblate/lang/models.py
  weblate/lang/test_language_move.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(api): handle HEAD requests for unit screenshots
  weblate/api/tests.py
  weblate/api/views.py
Due: py-join-comma

refactor(api): declare unit screenshot serializer on action
  weblate/api/views.py
Due: py-join-comma

fix(api): prevent forwarded IP throttle bypass
  docs/changes.rst
  weblate/api/throttling.py
  weblate/utils/tests/test_api_ratelimits.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

refactor(automation): hold AI locks through routing
  weblate/addons/ai.py
  weblate/automation/operations.py
  weblate/automation/runner.py
  weblate/automation/test_automation.py
  weblate/machinery/llm.py
  weblate/trans/automation.py
  weblate/trans/bulk.py
Due: py-join-comma

feat(component): add push_on_update next to push_on_commit
  docs/admin/projects.rst
  docs/api.rst
  docs/changes.rst
  docs/snippets/vcs-parameters.rst
  docs/specs/openapi.yaml
  docs/specs/schemas/weblate-component.schema.json
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/trans/backups.py
  weblate/trans/forms.py
  weblate/trans/migrations/0112_component_push_on_update.py
  weblate/trans/models/component.py
  weblate/trans/repository_context.py
  weblate/trans/tasks.py
  weblate/trans/tests/test_backups.py
  weblate/trans/tests/test_component.py
  weblate/trans/tests/test_tasks.py
  weblate/trans/tests/test_vcs_params.py
  weblate/vcs/params.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(automation): lock glossary configuration
  weblate/automation/operations.py
Due: py-join-comma

feat(api): expose and manage unit screenshots (#21587)
  docs/api.rst
  docs/changes.rst
  docs/specs/openapi.yaml
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/api/views.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(checks): refresh propagated warnings in background
  docs/admin/checks.rst
  docs/changes.rst
  docs/user/checks.rst
  weblate/checks/base.py
  weblate/checks/consistency.py
  weblate/checks/tasks.py
  weblate/checks/tests/test_consistency_checks.py
  weblate/trans/models/unit.py
  weblate/trans/tests/test_edit.py
  weblate/trans/tests/test_remote.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(translations): skip commits for state changes files cannot store
  docs/changes.rst
  docs/workflows.rst
  weblate/formats/base.py
  weblate/formats/tests/test_formats.py
  weblate/formats/ttkit.py
  weblate/trans/models/translation.py
  weblate/trans/models/unit.py
  weblate/trans/tests/test_models.py
  weblate/trans/tests/test_source_edit.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

chore: simplify chained comparison
  weblate/checks/fluent/inner_html.py
Due: py-join-comma

fix(automation): invalidate changed AI results
  weblate/automation/runner.py
  weblate/machinery/llm.py
Due: py-join-comma

fix(automation): block stale AI result mutations
  weblate/automation/operations.py
  weblate/automation/runner.py
  weblate/automation/test_automation.py
Due: py-join-comma

docs(api): clarify user search access
  docs/api.rst
  docs/changes.rst
  docs/specs/openapi.yaml
  weblate/api/tests.py
  weblate/api/views.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(automation): revalidate AI approval inputs
  weblate/addons/ai.py
  weblate/automation/operations.py
  weblate/automation/runner.py
  weblate/automation/test_automation.py
  weblate/machinery/llm.py
  weblate/trans/automation.py
  weblate/trans/bulk.py
Due: py-join-comma

keep raw bytes of translation content uploaded as form field
  docs/api.rst
  weblate/api/parsers.py
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/api/views.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(formats): validate App Store metadata files
  docs/changes.rst
  weblate/formats/base.py
  weblate/formats/convert.py
  weblate/formats/tests/test_txt.py
  weblate/formats/ttkit.py
  weblate/formats/txt.py
  weblate/trans/models/component.py
  weblate/trans/models/translation.py
  weblate/trans/tests/test_component.py
  weblate/trans/tests/test_views.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(automation): revalidate AI quality results (#21850)
  weblate/addons/ai.py
  weblate/automation/operations.py
  weblate/automation/test_automation.py
  weblate/trans/automation.py
  weblate/trans/bulk.py
Due: py-join-comma

chore(l10n): update Spanish translation
  weblate/locale/es/LC_MESSAGES/django.po
Due: none

chore(l10n): update German translation
  docs/locales/de/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Spanish translation
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Arabic translation
  weblate/locale/ar/LC_MESSAGES/django.po
Due: none

chore(l10n): update Asturian translation
  weblate/locale/ast/LC_MESSAGES/django.po
Due: none

chore(l10n): update Bulgarian translation
  weblate/locale/bg/LC_MESSAGES/django.po
Due: none

chore(l10n): update German translation
  weblate/locale/de/LC_MESSAGES/django.po
Due: none

chore(l10n): update Arabic translation
  docs/locales/ar/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Spanish translation
  weblate/locale/es/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Bulgarian translation
  docs/locales/bg/LC_MESSAGES/docs.po
Due: none

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
