Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst contaning double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|anubis|127\.0\.0\.1|user:password@proxy|libretranslate:)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

rst-seealso-inline:
  name: seealso should use block
  entry: '^\.\. seealso:: .*$'
  language: pygrep

rst-seealso-list:
  name: seealso shoud use list for multiple lins
  args:
  - --multiline
  entry: ^\.\. seealso::\n\n(   *[:`*][^\n]*\n)*   *[:`*][^\n]*,
  language: pygrep

py-join-comma:
  name: Localized comma in join
  args:
  - --multiline
  entry: format_html_join\(\s*", "
  language: pygrep

docs(security): clarify deployment configuration trust
  docs/security/threat-model.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

docs(docker): document nginx value validation
  docs/admin/install/docker.rst
  docs/changes.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

feat(automation): add AI quality evaluation action
  docs/admin/automation.rst
  docs/specs/automation.schema.json
  weblate/addons/ai.py
  weblate/automation/operations.py
  weblate/automation/test_automation.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

feat(machinery): identify LLM suggestion origins
  docs/changes.rst
  weblate/machinery/anthropic.py
  weblate/machinery/llm.py
  weblate/machinery/mistral.py
  weblate/machinery/ollama.py
  weblate/machinery/openai.py
  weblate/machinery/tests.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(security): scope VCS metadata filtering
  docs/changes.rst
  weblate/addons/tests.py
  weblate/api/tests.py
  weblate/trans/component_copy.py
  weblate/trans/discovery.py
  weblate/trans/management/commands/import_project.py
  weblate/trans/tasks.py
  weblate/trans/tests/test_commands.py
  weblate/trans/tests/test_discovery.py
  weblate/trans/tests/test_tasks.py
  weblate/trans/tests/test_views.py
  weblate/utils/files.py
  weblate/utils/tests/test_files.py
  weblate/utils/tests/test_validators.py
  weblate/utils/validators.py
  weblate/utils/views.py
  weblate/utils/zip.py
  weblate/vcs/base.py
  weblate/vcs/git.py
  weblate/vcs/tests/test_vcs.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

feat(api): allow background automatic translation
  docs/api.rst
  docs/changes.rst
  docs/specs/openapi.yaml
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/api/views.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(notifications): render plain-text email with turbohtml
  docs/changes.rst
  docs/conf.py
  pyproject.toml
  uv.lock
  weblate/accounts/tasks.py
  weblate/accounts/tests/test_notifications.py
  weblate/utils/html.py
  weblate/utils/requirements.py
  weblate/utils/tests/test_html.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

feat(kotlin-sdk): clarify CDN integration setup
  docs/admin/addons.rst
  docs/admin/config.rst
  docs/snippets/addons-autogenerated.rst
  weblate/addons/tests.py
  weblate/addons/views.py
  weblate/kotlin_sdk/addons.py
  weblate/kotlin_sdk/tests.py
  weblate/templates/addons/addon_api.html
  weblate/templates/addons/addon_base.html
  weblate/templates/addons/addon_detail.html
  weblate/templates/addons/cdnfiles.html
  weblate/templates/addons/cdnjs.html
  weblate/templates/addons/kotlin.html
  weblate/urls.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(l10n): correct Vietnamese passkey terminology
  weblate/locale/vi/LC_MESSAGES/django.po
Due: none

fix(l10n): correct Arabic project count
  weblate/locale/ar/LC_MESSAGES/django.po
Due: none

feat(formats): Xliff format customization (#21330)
  ci/migrate-scripts/assert-xliff-params.py
  ci/migrate-scripts/setup-xliff-params.py
  ci/run-migrate
  docs/changes.rst
  docs/formats/xliff.rst
  docs/formats/xliff2.rst
  docs/snippets/addon-parameters-autogenerated.rst
  docs/snippets/file-format-parameters.rst
  docs/snippets/format-features/xliff-features.rst
  docs/snippets/format-features/xliff2-features.rst
  docs/specs/openapi.yaml
  weblate/auth/permissions.py
  weblate/formats/auto.py
  weblate/formats/base.py
  weblate/formats/convert.py
  weblate/formats/defaults.py
  weblate/formats/management/commands/list_format_features.py
  weblate/formats/multi.py
  weblate/formats/source_edit.py
  weblate/formats/tests/test_formats.py
  weblate/formats/tests/test_source_edit.py
  weblate/formats/ttkit.py
  weblate/trans/backups.py
  weblate/trans/file_format_params.py
  weblate/trans/forms.py
  weblate/trans/migrations/0063_file_format_encoding.py
  weblate/trans/migrations/0107_xliff_format_params.py
  weblate/trans/models/translation.py
  weblate/trans/source_edit.py
  weblate/trans/tests/test_backups.py
  weblate/trans/tests/test_file_format_params.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(l10n): align Vietnamese WebAuthn login terms
  weblate/locale/vi/LC_MESSAGES/django.po
Due: none

fix(accounts): invalidate case-variant reset codes
  docs/changes.rst
  weblate/accounts/tests/test_registration.py
  weblate/accounts/tests/test_utils.py
  weblate/accounts/utils.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

chore(l10n): update Slovak translation
  docs/locales/sk/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Chinese (Traditional Han script) translation
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Due: none

chore(l10n): update Slovak translation
  weblate/locale/sk/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Chinese (Traditional Han script) translation
  docs/locales/zh_Hant/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Arabic translation
  weblate/locale/ar/LC_MESSAGES/django.po
Due: none

chore(l10n): update Dutch translation
  docs/locales/nl/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Arabic translation
  weblate/locale/ar/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Croatian translation
  weblate/locale/hr/LC_MESSAGES/django.po
Due: none

chore(l10n): update French translation
  weblate/locale/fr/LC_MESSAGES/django.po
Due: none

chore(l10n): update Croatian translation
  docs/locales/hr/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Arabic translation
  docs/locales/ar/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Spanish translation
  weblate/locale/es/LC_MESSAGES/django.po
Due: none

chore(l10n): update Vietnamese translation
  weblate/locale/vi/LC_MESSAGES/django.po
Due: none

chore(l10n): update Catalan translation
  docs/locales/ca/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Spanish translation
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Slovak translation
  weblate/locale/sk/LC_MESSAGES/django.po
Due: none

chore(l10n): update Vietnamese translation
  docs/locales/vi/LC_MESSAGES/docs.po
Due: none

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
