Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst contaning double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|anubis|127\.0\.0\.1|user:password@proxy|libretranslate:)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

rst-seealso-inline:
  name: seealso should use block
  entry: '^\.\. seealso:: .*$'
  language: pygrep

rst-seealso-list:
  name: seealso shoud use list for multiple lins
  args:
  - --multiline
  entry: ^\.\. seealso::\n\n(   *[:`*][^\n]*\n)*   *[:`*][^\n]*,
  language: pygrep

py-join-comma:
  name: Localized comma in join
  args:
  - --multiline
  entry: format_html_join\(\s*", "
  language: pygrep

chore(l10n): update Spanish translation
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Italian translation
  docs/locales/it/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Portuguese translation
  docs/locales/pt/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Vietnamese translation
  docs/locales/vi/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Latvian translation
  weblate/locale/lv/LC_MESSAGES/django.po
Due: none

chore(l10n): update Latvian translation
  docs/locales/lv/LC_MESSAGES/docs.po
Due: none

Address review: attribute commit language via precomputed mapping
  weblate/addons/git.py
  weblate/addons/tests.py
Due: py-join-comma

split serializers for request/response of UserViewSet
  docs/specs/openapi.yaml
  weblate/api/serializers.py
  weblate/api/views.py
Due: py-join-comma

chore(l10n): update Danish translation
  weblate/locale/da/LC_MESSAGES/django.po
Due: none

chore(l10n): update Bulgarian translation
  docs/locales/bg/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Bulgarian translation
  weblate/locale/bg/LC_MESSAGES/django.po
Due: none

chore(l10n): update German translation
  docs/locales/de/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Danish translation
  docs/locales/da/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Italian translation
  weblate/locale/it/LC_MESSAGES/django.po
Due: none

chore(l10n): update Vietnamese translation
  weblate/locale/vi/LC_MESSAGES/django.po
Due: none

remove user.languages to level field
  docs/api.rst
  docs/changes.rst
  docs/specs/openapi.yaml
  weblate/api/serializers.py
  weblate/api/tests.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

openAPI schema update
  docs/specs/openapi.yaml
Due: none

handle inline anchors and escaping backslash ; preserve passthrough macros content
  weblate/checks/markup.py
  weblate/checks/tests/test_markup_checks.py
  weblate/formats/base.py
Due: py-join-comma

feat(workspaces): add statistics and metrics
  docs/changes.rst
  weblate/billing/models.py
  weblate/billing/views.py
  weblate/metrics/models.py
  weblate/metrics/tasks.py
  weblate/metrics/templatetags/metrics.py
  weblate/metrics/tests.py
  weblate/templates/manage/workspaces.html
  weblate/templates/snippets/info.html
  weblate/templates/snippets/list-objects.html
  weblate/templates/workspace.html
  weblate/trans/mixins.py
  weblate/trans/models/project.py
  weblate/trans/templatetags/translations.py
  weblate/utils/stats.py
  weblate/utils/tasks.py
  weblate/wladmin/tests.py
  weblate/wladmin/views.py
  weblate/workspaces/migrations/0004_workspace_metric_id.py
  weblate/workspaces/models.py
  weblate/workspaces/tests.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

feat(formats): support Qt TS version 1
  docs/changes.rst
  docs/formats/qt.rst
  docs/snippets/format-features/ts1-features.rst
  docs/specs/openapi.yaml
  weblate/addons/flags.py
  weblate/formats/defaults.py
  weblate/formats/tests/test_formats.py
  weblate/formats/ttkit.py
  weblate/trans/tests/data/cs-ts1.ts
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

chore(l10n): update Swedish translation
  weblate/locale/sv/LC_MESSAGES/django.po
Due: none

chore(l10n): update Czech translation
  docs/locales/cs/LC_MESSAGES/docs.po
Due: none

chore(l10n): update French translation
  docs/locales/fr/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Indonesian translation
  docs/locales/id/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Polish translation
  docs/locales/pl/LC_MESSAGES/docs.po
Due: none

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
