Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Japanese)
  weblate/locale/ja/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Swedish)
  weblate/locale/sv/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Swedish)
  weblate/locale/sv/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Swedish)
  docs/locales/sv/LC_MESSAGES/docs.po
Due: none

Translate Weblate documentation to Spanish
  docs/index.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

improve test coverage
  weblate/trans/tests/test_component.py
Due: py-join-comma

documentation update
  docs/changes.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

extend validation of VCS options
  weblate/trans/models/component.py
  weblate/trans/tests/test_component.py
Due: py-join-comma

correct repetition in documentation
  docs/admin/continuous.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

fix(tests): clear anonymous user cache
  weblate/api/tests.py
  weblate/trans/tests/test_views.py
Due: py-join-comma

fix(screenshots): properly track repo originated updates
  docs/changes.rst
  weblate/addons/tests.py
  weblate/api/tests.py
  weblate/screenshots/models.py
  weblate/screenshots/tests.py
  weblate/trans/models/component.py
  weblate/trans/models/translation.py
  weblate/trans/tasks.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(tests): clear bots cache
  weblate/api/tests.py
  weblate/trans/tests/test_models.py
  weblate/trans/tests/test_views.py
  weblate/trans/tests/utils.py
Due: py-join-comma

feat: proxy screenshot view
  docs/admin/install.rst
  docs/admin/install/docker.rst
  docs/changes.rst
  weblate/examples/apache-path.conf
  weblate/examples/apache.conf
  weblate/examples/apache.gunicorn.conf
  weblate/examples/weblate.nginx.conf
  weblate/examples/weblate.nginx.granian.conf
  weblate/examples/weblate.nginx.gunicorn.conf
  weblate/middleware.py
  weblate/screenshots/models.py
  weblate/screenshots/tests.py
  weblate/screenshots/views.py
  weblate/settings_docker.py
  weblate/settings_example.py
  weblate/templates/screenshots/screenshot_show.html
  weblate/urls.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Translated using Weblate (Pashto)
  weblate/locale/ps/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Croatian)
  weblate/locale/hr/LC_MESSAGES/django.po
Due: none

fix(googlev3): ensure glossary path is set properly
  weblate/machinery/googlev3.py
Due: py-join-comma

feat(checks): report uninteded list conversion in rst
  docs/changes.rst
  docs/locales/ja/LC_MESSAGES/docs.po
  weblate/checks/markup.py
  weblate/checks/tests/test_markup_checks.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma
