Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

Translated using Weblate (Uyghur)
  weblate/locale/ug/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Czech)
  docs/locales/cs/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (German)
  weblate/locale/de/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  weblate/locale/pt_BR/LC_MESSAGES/django.po
Due: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Due: none

docs: change ogp_custom_meta_tags to tuple
  docs/conf.py
Due: py-join-comma

Multi-Level Rate Limiting for Notification E-Mails
  weblate/accounts/notifications.py
  weblate/settings_example.py
  weblate/utils/ratelimit.py
Due: py-join-comma

fix(ci): ignore only exit code 1 from mypy
  .github/workflows/mypy.yml
Due: none

Add REDIS_USER env variable
  docs/admin/install/docker.rst
  weblate/settings_docker.py
Due: rst-double-space, rst-http, py-join-comma

fix(audit): avoid confusing audit log for activation mails
  weblate/accounts/models.py
Due: py-join-comma

chore: log task in from celery
  weblate/utils/celery.py
Due: py-join-comma

fix(component): avoid push if needed for not commited changes
  weblate/trans/models/component.py
  weblate/trans/models/translation.py
Due: py-join-comma

fix(add-ons): corrected displaying errors in the log
  weblate/templates/addons/addon_logs.html
Due: none

feature: plurals translation feature
  weblate/lang/models.py
  weblate/machinery/base.py
  weblate/machinery/openai.py
  weblate/machinery/views.py
Due: py-join-comma

feat(ghost-translations): use add project language for ghost translations (#15538)
  weblate/accounts/models.py
  weblate/templates/category.html
  weblate/templates/project.html
  weblate/templates/snippets/list-objects.html
  weblate/trans/forms.py
  weblate/trans/models/project.py
  weblate/trans/models/translation.py
  weblate/trans/templatetags/translations.py
  weblate/trans/tests/test_dashboard.py
  weblate/trans/tests/test_views.py
  weblate/trans/views/basic.py
  weblate/trans/views/dashboard.py
  weblate/utils/stats.py
Due: py-join-comma

Tidying up CACHES.default.LOCATION and CELERY_BROKER_URL calculation
  weblate/settings_docker.py
Due: py-join-comma

Update docs/admin/install/docker.rst
  docs/admin/install/docker.rst
Due: rst-double-space, rst-http

fix(tests): fix typo in testcase
  weblate/trans/tests/test_component.py
Due: py-join-comma

fix(notify): avoid fetching notifications we will not use
  weblate/accounts/notifications.py
Due: py-join-comma

feat(docker): Add REDIS_USER env variable (#15687)
  docs/admin/install/docker.rst
  weblate/settings_docker.py
Due: rst-double-space, rst-http, py-join-comma

add api lock/unlock feature
  docs/api.rst
  weblate/api/tests.py
  weblate/api/views.py
Due: rst-double-space, rst-http, py-join-comma

Add setting to hide shared glossary components in projects they are shared to
  docs/admin/config.rst
  docs/admin/install/docker.rst
  weblate/settings_docker.py
  weblate/settings_example.py
  weblate/trans/views/basic.py
Due: rst-double-space, rst-http, py-join-comma

Hide plus-button menu when user does not have any permissions
  weblate/templates/base.html
Due: none

Translated using Weblate (Portuguese)
  weblate/locale/pt/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Indonesian)
  weblate/locale/id/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Japanese)
  weblate/locale/ja/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Due: none

fix(zen): remove check for changes in editor when saving
  weblate/static/editor/zen.js
Due: none
