Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

Translated using Weblate (Portuguese)
  weblate/locale/pt/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Chinese (Traditional Han script))
  docs/locales/zh_Hant/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Korean)
  docs/locales/ko/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Croatian)
  weblate/locale/hr/LC_MESSAGES/django.po
Due: none

docs(config): add the unit of allowed asset size value
  docs/admin/config.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

Potential fix for pull request finding
  weblate/machinery/forms.py
Due: py-join-comma

fix(tests): override SITE_DOMAIN for widgets test
  weblate/trans/tests/test_selenium.py
Due: py-join-comma

Regex caching
  weblate/glossary/models.py
Due: py-join-comma

Move languge specific instructions to the system prompt
  weblate/machinery/llm.py
  weblate/machinery/tests.py
Due: py-join-comma

fix(labels): use consistent ordering in UI
  weblate/trans/checklists.py
  weblate/trans/forms.py
  weblate/trans/models/label.py
  weblate/trans/tests/test_labels.py
  weblate/trans/views/labels.py
Due: py-join-comma

Avoid overriding existing workspace licenses
  weblate/trans/migrations/0089_repair_license_inheritance.py
  weblate/trans/tests/test_settings.py
Due: py-join-comma

Honor workspace permission
  weblate/trans/migrations/0089_repair_license_inheritance.py
  weblate/trans/tests/test_create.py
  weblate/trans/tests/test_settings.py
  weblate/trans/views/create.py
Due: py-join-comma

Address review feedback
  weblate/machinery/forms.py
  weblate/machinery/llm.py
  weblate/machinery/tests.py
Due: py-join-comma

fix(tests): avoid hardcoding delay
  weblate/trans/tests/test_selenium.py
Due: py-join-comma

feat(docker): allow to configure ALLOWED_ASSET_SIZE
  docs/admin/install/docker.rst
  docs/changes.rst
  weblate/settings_docker.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Use fuzzy_get_strict to get language
  weblate/machinery/llm.py
  weblate/machinery/tests.py
Due: py-join-comma

fix(workspaces): skip inherited license repair
  weblate/trans/migrations/0089_repair_license_inheritance.py
  weblate/trans/tests/test_settings.py
Due: py-join-comma

fix(tests): override backup location and passphrase for screenshot
  weblate/trans/tests/test_selenium.py
Due: py-join-comma

Fix languages preference
  weblate/machinery/llm.py
  weblate/machinery/tests.py
Due: py-join-comma

fix(translate): fetch all other units in a single query
  weblate/trans/tests/test_views.py
  weblate/trans/views/edit.py
Due: py-join-comma

feat(machinery): improve LLMs translation prompting (#19944)
  docs/admin/machine.rst
  docs/changes.rst
  docs/snippets/machines-autogenerated.rst
  docs/user/glossary.rst
  weblate/glossary/models.py
  weblate/machinery/forms.py
  weblate/machinery/llm.py
  weblate/machinery/tests.py
  weblate/machinery/types.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(screenshots): secure post-upload redirect and revert list button name
  weblate/screenshots/tests.py
  weblate/screenshots/views.py
Due: py-join-comma

feat: change message
  docs/changes.rst
  docs/specs/openapi.yaml
  docs/user/translating.rst
  weblate/api/serializers.py
  weblate/trans/change_messages.py
  weblate/trans/tests/test_change_messages.py
  weblate/trans/tests/test_changes.py
  weblate/trans/tests/test_search.py
  weblate/trans/views/changes.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

docs(config): give hint what counts as a asset
  docs/admin/config.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

docs(config): add uploading being affected by the allowed asset size
  docs/admin/config.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

Translated using Weblate (Italian)
  weblate/locale/it/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Croatian)
  docs/locales/hr/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Slovak)
  docs/locales/sk/LC_MESSAGES/docs.po
Due: none

feat(ci): base fuzzing container on weblate/dev
  .clusterfuzzlite/Dockerfile
  .clusterfuzzlite/compile.sh
Due: none
