Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst contaning double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|anubis|127\.0\.0\.1|user:password@proxy|libretranslate:)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

rst-seealso-inline:
  name: seealso should use block
  entry: '^\.\. seealso:: .*$'
  language: pygrep

rst-seealso-list:
  name: seealso shoud use list for multiple lins
  args:
  - --multiline
  entry: ^\.\. seealso::\n\n(   *[:`*][^\n]*\n)*   *[:`*][^\n]*,
  language: pygrep

py-join-comma:
  name: Localized comma in join
  args:
  - --multiline
  entry: format_html_join\(\s*", "
  language: pygrep

Translated using Weblate (Bashkir)
  weblate/locale/ba/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Due: none

fix: Added missing Ollama machinery configuration for Docker settings
  weblate/settings_docker.py
Due: py-join-comma

Draft One of API doc
  docs/api.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

fix(dev-docker): use same python for extracting deps as for runtime
  dev-docker/weblate-dev/start-dev
Due: none

feat(rundev): maintain uv cache
  dev-docker/weblate-dev/start-dev
Due: none

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  uv.lock
Due: none

fix: Added missing Ollama machinery configuration for Docker settings (#17159)
  weblate/settings_docker.py
Due: py-join-comma

Translated using Weblate (Hebrew)
  weblate/locale/he/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Hebrew)
  docs/locales/he/LC_MESSAGES/docs.po
Due: none

implement Memory context support for TMX file
  docs/changes.rst
  weblate/memory/models.py
  weblate/memory/tests.py
  weblate/trans/tests/data/memory.tmx
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(ui): drop themeing for REST framework browsable API
  weblate/templates/rest_framework/api.html
Due: none

Apply suggestion from @Copilot
  weblate/memory/tests.py
Due: py-join-comma

Apply suggestion from @nijel
  weblate/memory/tests.py
Due: py-join-comma

feat(memory): Implement context in Translation Memory for TMX file (#17167)
  docs/changes.rst
  weblate/memory/models.py
  weblate/memory/tests.py
  weblate/trans/tests/data/memory.tmx
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(ui): fix btn-outline styling on hover
  weblate/static/styles/variables.css
Due: none

feat(formats): add support for new translate-toolkit formats
  docs/changes.rst
  docs/formats/json.rst
  docs/formats/nextcloud-json.rst
  docs/formats/resjson.rst
  docs/formats/toml.rst
  docs/formats/xliff.rst
  docs/formats/xliff2.rst
  docs/specs/openapi.yaml
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  pyproject.toml
  uv.lock
  weblate/checks/flags.py
  weblate/formats/models.py
  weblate/formats/tests/test_formats.py
  weblate/formats/ttkit.py
  weblate/trans/tests/data/cs.goi18n.toml
  weblate/trans/tests/data/cs.nextjson
  weblate/trans/tests/data/cs.resjson
  weblate/trans/tests/data/cs.toml
  weblate/trans/tests/data/cs.xliff2
  weblate/utils/requirements.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

feat(formats): add support for new translate-toolkit formats (#17154)
  docs/changes.rst
  docs/formats/json.rst
  docs/formats/nextcloud-json.rst
  docs/formats/resjson.rst
  docs/formats/toml.rst
  docs/formats/xliff.rst
  docs/formats/xliff2.rst
  docs/specs/openapi.yaml
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  pyproject.toml
  uv.lock
  weblate/checks/flags.py
  weblate/formats/models.py
  weblate/formats/tests/test_formats.py
  weblate/formats/ttkit.py
  weblate/trans/tests/data/cs.goi18n.toml
  weblate/trans/tests/data/cs.nextjson
  weblate/trans/tests/data/cs.resjson
  weblate/trans/tests/data/cs.toml
  weblate/trans/tests/data/cs.xliff2
  weblate/utils/requirements.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Fix some issues related to the server update.
  scripts/backup/manage_statistics.md
  scripts/backup/recalculate_stats.py
Due: py-join-comma

Address some issues with automatic machine translation during batch creation of components/translations.
  scripts/auto/project-configs/setup_project_boost_json.json
  scripts/auto/project-configs/setup_project_boost_unordered.json
  scripts/backup/restore_to_local.sh
  weblate/trans/models/component.py
  weblate/trans/tasks.py
Due: py-join-comma

fix(git): relax lock check
  weblate/vcs/git.py
Due: py-join-comma

docs: add hint for disabling e-mail authentication
  docs/admin/install/docker.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

Initial draft of api documentation
  docs/api.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

Address one issue with automatic machine translation during batch creation of components/translations.
  weblate/trans/models/component.py
Due: py-join-comma

fix(component): tighter validation while adding new language
  weblate/trans/models/component.py
Due: py-join-comma

fix(ui): update image classes from 'img-responsive' to 'img-fluid' to fix responsiveness
  weblate/checks/render.py
  weblate/checks/tests/test_models.py
  weblate/static/styles/main.css
  weblate/templates/base.html
  weblate/templates/screenshots/screenshot_detail.html
  weblate/templates/screenshots/screenshot_show.html
Due: py-join-comma

fix(ui): update image classes from 'img-responsive' to 'img-fluid' (#17183)
  weblate/checks/render.py
  weblate/checks/tests/test_models.py
  weblate/static/styles/main.css
  weblate/templates/base.html
  weblate/templates/screenshots/screenshot_detail.html
  weblate/templates/screenshots/screenshot_show.html
Due: py-join-comma

fix(ui): update layout and styling for account-related templates
  weblate/static/styles/main.css
  weblate/static/styles/variables.css
  weblate/templates/accounts/2fa.html
  weblate/templates/accounts/login.html
  weblate/templates/accounts/register.html
  weblate/templates/accounts/reset.html
  weblate/templates/accounts/snippets/login-title.html
  weblate/templates/accounts/totp.html
  weblate/templates/data.html
  weblate/templates/manage/index.html
Due: none

chore: improve mypy configuration
  pyproject.toml
Due: none

feat(add-ons): integrate Fedora Messaging
  docs/admin/addons.rst
  docs/admin/optionals.rst
  docs/changes.rst
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  pyproject.toml
  uv.lock
  weblate/addons/base.py
  weblate/addons/fedora_messaging.py
  weblate/addons/forms.py
  weblate/addons/models.py
  weblate/addons/tests.py
  weblate/settings_docker.py
  weblate/settings_example.py
  weblate/utils/validators.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
