Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst contaning double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|anubis|127\.0\.0\.1|user:password@proxy|libretranslate:)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

rst-seealso-inline:
  name: seealso should use block
  entry: '^\.\. seealso:: .*$'
  language: pygrep

rst-seealso-list:
  name: seealso shoud use list for multiple lins
  args:
  - --multiline
  entry: ^\.\. seealso::\n\n(   *[:`*][^\n]*\n)*   *[:`*][^\n]*,
  language: pygrep

py-join-comma:
  name: Localized comma in join
  args:
  - --multiline
  entry: format_html_join\(\s*", "
  language: pygrep

test(machinery): add placeholder failure diagnostics
  weblate/machinery/tests.py
Due: py-join-comma

fix(vcs): update GitHub App manifest preview live
  weblate/static/js/github-app-manifest-preview.js
  weblate/templates/vcs/github_app_register.html
Due: none

refactor(vcs): clarify code hosting connection naming (#20421)
  docs/admin/code-hosting.rst
  docs/admin/continuous.rst
  docs/admin/install/docker.rst
  docs/changes.rst
  docs/security/threat-model.rst
  docs/specs/openapi.yaml
  docs/user/profile.rst
  docs/vcs.rst
  weblate/accounts/tests/test_views.py
  weblate/templates/accounts/profile.html
  weblate/templates/data.html
  weblate/templates/trans/component_create.html
  weblate/templates/vcs/account_integrations.html
  weblate/templates/vcs/github_app_register.html
  weblate/templates/vcs/github_app_register_submit.html
  weblate/templates/vcs/github_install_select.html
  weblate/templates/vcs/github_installation_detail.html
  weblate/templates/vcs/github_installation_list.html
  weblate/templates/vcs/github_repository_list.html
  weblate/templates/vcs/snippets/github_account_remove_modal.html
  weblate/templates/workspace.html
  weblate/trans/views/hooks.py
  weblate/utils/validators.py
  weblate/vcs/github.py
  weblate/vcs/tests/test_github_hooks.py
  weblate/vcs/tests/test_github_views.py
  weblate/vcs/views.py
  weblate/wladmin/views.py
  weblate/workspaces/tests.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

feat(wladmin): clarify Discover Weblate activation
  docs/admin/support.rst
  docs/changes.rst
  weblate/templates/manage/index.html
  weblate/wladmin/models.py
  weblate/wladmin/tests.py
  weblate/wladmin/views.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(machinery): validate Azure Translator regions
  docs/changes.rst
  weblate/addons/tests.py
  weblate/machinery/forms.py
  weblate/machinery/tests.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix: load altcha blob via importscripts (#20568)
  client/src/altcha.js
  weblate/middleware.py
  weblate/static/js/vendor/altcha.js
Due: py-join-comma

fix(html): make aria label translatable (#20567)
  weblate/templates/message.html
Due: none

fix(trans): lock repositories during rename
  weblate/trans/mixins.py
  weblate/trans/tests/test_manage.py
  weblate/trans/views/settings.py
Due: py-join-comma

fix(js): various bug fixes (#20566)
  weblate/static/loader-bootstrap.js
Due: none

fix(editor): render translation flags as text
  weblate/static/editor/full.js
Due: none

API doc update
  docs/api.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

Add Suggestion API
  docs/changes.rst
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/api/urls.py
  weblate/api/views.py
  weblate/trans/models/suggestion.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

minor improvements to view and serializers
  weblate/api/serializers.py
  weblate/api/views.py
  weblate/trans/models/suggestion.py
Due: py-join-comma

extend API with vote endpoint
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/api/views.py
Due: py-join-comma

Refactor suggestion, vote, auto-accept handling
  weblate/api/serializers.py
  weblate/api/views.py
  weblate/trans/autotranslate.py
  weblate/trans/models/__init__.py
  weblate/trans/models/suggestion.py
  weblate/trans/models/translation.py
  weblate/trans/tests/test_models.py
  weblate/trans/views/edit.py
Due: py-join-comma

documentation updates
  docs/api.rst
  docs/changes.rst
  docs/specs/openapi.yaml
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

validate plurals in suggestion API
  weblate/api/serializers.py
  weblate/api/tests.py
Due: py-join-comma

chore(l10n): update French translation
  weblate/locale/fr/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Danish translation
  weblate/locale/da/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Danish translation
  docs/locales/da/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Portuguese translation
  docs/locales/pt/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Slovak translation
  docs/locales/sk/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Chinese (Simplified Han script) translation
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Due: none

fix(machinery): update LLM models list
  docs/changes.rst
  docs/snippets/machines-autogenerated.rst
  weblate/machinery/anthropic.py
  weblate/machinery/forms.py
  weblate/machinery/tests.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

chore(l10n): update Czech translation
  docs/locales/cs/LC_MESSAGES/docs.po
Due: none

chore: releasing 2026.7.1
  docs/changes.rst
  docs/changes/contributors/2026.7.1.rst
  pyproject.toml
  uv.lock
  weblate/utils/version.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

chore: setting version to 2026.8
  client/package.json
  docs/changes.rst
  docs/changes/contributors/2026.8.rst
  docs/conf.py
  pyproject.toml
  uv.lock
  weblate/trans/views/about.py
  weblate/utils/version.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(api): align authorization with web interface
  docs/admin/access.rst
  docs/admin/projects.rst
  docs/api.rst
  docs/changes.rst
  docs/snippets/not-hosted.rst
  weblate/addons/models.py
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/api/views.py
  weblate/auth/permissions.py
  weblate/auth/tests/test_permissions.py
  weblate/trans/forms.py
  weblate/trans/tests/test_create.py
  weblate/trans/tests/test_settings.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
