Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

Translated using Weblate (Norwegian Bokmål)
  weblate/locale/nb/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  weblate/locale/nb/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  docs/locales/nb/LC_MESSAGES/docs.po
Due: none

chore(js): update vendored libraries
  client/yarn.lock
Due: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Croatian)
  docs/locales/hr/LC_MESSAGES/docs.po
Due: none

fix(glossary): indicate needs editing terms
  weblate/static/styles/main.css
  weblate/templates/snippets/glossary.html
Due: none

docs: add troubleshooting to GitLab integration
  docs/admin/continuous.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

Translated using Weblate (Tatar)
  weblate/locale/tt/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Tatar)
  docs/locales/tt/LC_MESSAGES/docs.po
Due: none

feat(hooks): modernize hooks implementation
  docs/Makefile
  docs/api.rst
  docs/changes.rst
  docs/specs/openapi.yaml
  weblate/api/generators.py
  weblate/api/spectacular.py
  weblate/middleware.py
  weblate/trans/tests/test_hooks.py
  weblate/trans/views/hooks.py
  weblate/urls.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

feat(checks): always warn when saving with enforced check triggering
  weblate/trans/views/edit.py
Due: py-join-comma

docs: fix typo
  docs/changes.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

docs: describe threat modeling for localization
  docs/changes.rst
  docs/index.rst
  docs/security/index.rst
  docs/security/localization-threat.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

Apply suggestion from @Copilot
  docs/security/localization-threat.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

Apply suggestions from code review
  docs/admin/install/docker.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

Update docs/admin/install/docker.rst
  docs/admin/install/docker.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

docs: describe threat modeling for localization (#16283)
  docs/changes.rst
  docs/index.rst
  docs/security/index.rst
  docs/security/localization-threat.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list
