Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

Update weblate/screenshots/tests.py
  weblate/screenshots/tests.py
Due: py-join-comma

feat: Add Screenshot form URL (#16572)
  docs/admin/config.rst
  docs/admin/translating.rst
  docs/changes.rst
  weblate/screenshots/forms.py
  weblate/screenshots/tests.py
  weblate/utils/models.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

chore(js): update vendored libraries
  client/yarn.lock
Due: none

chore(deps): bump minimal certify
  pyproject.toml
  uv.lock
Due: none

fix(add-ons): avoid repeated trigger of automatic translation add-on
  weblate/addons/autotranslate.py
Due: py-join-comma

docs: render format params as as list
  docs/snippets/file-format-parameters.rst
  weblate/trans/management/commands/list_file_format_params.py
Due: rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Dutch)
  docs/locales/nl/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Due: none

docs: improve generated docs
  docs/admin/addons.rst
  docs/snippets/file-format-parameters.rst
  weblate/addons/management/commands/list_addons.py
  weblate/trans/management/commands/list_file_format_params.py
  weblate/utils/rst.py
Due: rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(models): count pending unit not changes
  weblate/trans/models/component.py
  weblate/trans/models/pending.py
  weblate/trans/models/project.py
Due: py-join-comma

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

chore: Sync with WeblateOrg/meta
  .github/workflows/api.yml
  .github/workflows/docs.yml
  .github/workflows/linkcheck.yml
  .github/workflows/migrations.yml
  .github/workflows/mypy.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pylint.yml
  .github/workflows/rundev.yml
  .github/workflows/schema-update.yml
  .github/workflows/setup.yml
  .github/workflows/test.yml
  .github/workflows/unicodechars.yml
  .github/workflows/uv-upgrade.yml
  .github/workflows/yarn-update.yml
Due: none

Translated using Weblate (Albanian)
  docs/locales/sq/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Chinese (Simplified Han script))
  weblate/locale/zh_Hans/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Polish)
  weblate/locale/pl/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Macedonian)
  weblate/locale/mk/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Czech)
  docs/locales/cs/LC_MESSAGES/docs.po
Due: none

fix: removed duplicate definitions
  weblate/locale/zh_Hans/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Bashkir)
  docs/locales/ba/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Kurdish (Central))
  docs/locales/ckb/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Estonian)
  docs/locales/et/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Icelandic)
  docs/locales/is/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Filipino)
  docs/locales/fil/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Latvian)
  docs/locales/lv/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Norwegian Nynorsk)
  docs/locales/nn/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Irish)
  docs/locales/ga/LC_MESSAGES/docs.po
Due: none
