Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst containg double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|127\.0\.0\.1|user:password@proxy)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

chore: update code owners
  .github/CODEOWNERS
Due: none

chore(ci): downgrade macos system
  .github/workflows/macos.yml
Due: none

feat(accounts): differentiate sign in pages
  weblate/accounts/templatetags/authnames.py
  weblate/static/styles/main.css
  weblate/templates/accounts/login.html
  weblate/templates/accounts/register.html
  weblate/templates/accounts/snippets/login-title.html
  weblate/utils/const.py
  weblate/wladmin/models.py
Due: none

Revert "chore(ci): downgrade macos system"
  .github/workflows/macos.yml
Due: none

fix: corrected support status detection
  weblate/wladmin/models.py
Due: none

keep 'secret' as optional, request not signed if no secret provided
  docs/changes.rst
  weblate/addons/forms.py
  weblate/addons/tests.py
  weblate/addons/webhooks.py
Due: rst-double-space, rst-http, rst-bullet-stop

fix: corrected support status detection
  weblate/utils/const.py
Due: none

fix: fail silently if messages can not be added
  weblate/trans/models/component.py
  weblate/trans/models/translation.py
  weblate/utils/messages.py
Due: none

fix(formats): correctly format Android blank file
  weblate/formats/tests/test_formats.py
  weblate/formats/ttkit.py
Due: none

add upper bound for standardwebhooks lib version
  pyproject.toml
  weblate/addons/webhooks.py
Due: none

docs: clarify propagation limits
  docs/admin/continuous.rst
Due: rst-double-space, rst-http

docs: clarify that propagation has to be turned on
  docs/admin/continuous.rst
Due: rst-double-space, rst-http

fix(add-ons): change webhook signature verification implementation (#15042)
  docs/admin/addons.rst
  docs/changes.rst
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  pyproject.toml
  uv.lock
  weblate/addons/forms.py
  weblate/addons/tests.py
  weblate/addons/webhooks.py
Due: rst-double-space, rst-http, rst-bullet-stop

Translated using Weblate (Portuguese)
  weblate/locale/pt/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Kabyle)
  weblate/locale/kab/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Portuguese)
  weblate/locale/pt/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Portuguese)
  docs/locales/pt/LC_MESSAGES/docs.po
Due: none

documentation added
  docs/admin/addons.rst
  docs/changes.rst
  weblate/addons/webhooks.py
  weblate/templates/addons/webhook_log.html
Due: rst-double-space, rst-http, rst-bullet-stop

Slack messaging schema removed
  docs/schemas/weblate-slack-messaging.schema.json
  weblate/templates/addons/webhook_log.html
Due: none

fix(unit): correctly set pending state on explanation update
  weblate/trans/models/unit.py
Due: none

Translated using Weblate (French)
  weblate/locale/fr/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Turkish)
  weblate/locale/tr/LC_MESSAGES/django.po
Due: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Turkish)
  docs/locales/tr/LC_MESSAGES/docs.po
Due: none

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock$
