Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst contaning double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|anubis|127\.0\.0\.1|user:password@proxy|libretranslate:)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

rst-seealso-inline:
  name: seealso should use block
  entry: '^\.\. seealso:: .*$'
  language: pygrep

rst-seealso-list:
  name: seealso shoud use list for multiple lins
  args:
  - --multiline
  entry: ^\.\. seealso::\n\n(   *[:`*][^\n]*\n)*   *[:`*][^\n]*,
  language: pygrep

py-join-comma:
  name: Localized comma in join
  args:
  - --multiline
  entry: format_html_join\(\s*", "
  language: pygrep

ci(macos): pin Homebrew core snapshot
  .github/renovate.json
  .github/workflows/macos.yml
Due: none

ci(macos): use compatible Homebrew snapshot
  .github/workflows/macos.yml
Due: none

ci(macos): pin matched Homebrew snapshot
  .github/renovate.json
  .github/workflows/macos.yml
Due: none

fix(checks): return JSON for check dismissal
  docs/changes.rst
  weblate/trans/tests/test_edit.py
  weblate/trans/views/js.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

feat(billing): allow managers to change billing plans
  weblate/accounts/views.py
  weblate/billing/defines.py
  weblate/billing/forms.py
  weblate/billing/migrations/0014_alter_billinglog_event.py
  weblate/billing/models.py
  weblate/billing/tests.py
  weblate/billing/views.py
  weblate/templates/accounts/hosting.html
  weblate/templates/accounts/trial.html
  weblate/templates/billing/detail-content.html
Due: py-join-comma

docs(translations): clarify intermediate language behavior
  docs/admin/projects.rst
  docs/changes.rst
  weblate/trans/tests/test_component.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(screenshots): narrow default screenshot search
  docs/changes.rst
  docs/user/search.rst
  weblate/screenshots/forms.py
  weblate/screenshots/tests.py
  weblate/templates/screenshots/screenshot_list.html
  weblate/utils/search.py
  weblate/utils/tests/test_search.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(pre-commit): avoid broken charset-normalizer
  .pre-commit-config.yaml
Due: none

test(utils): fail on unexpected error reports
  weblate/accounts/tests/test_avatars.py
  weblate/accounts/tests/test_twofactor.py
  weblate/addons/tests.py
  weblate/formats/tests/test_formats.py
  weblate/gitexport/tests.py
  weblate/machinery/tests.py
  weblate/settings_test.py
  weblate/utils/defaults.py
  weblate/utils/errors.py
  weblate/utils/models.py
  weblate/utils/tests/test_errors.py
  weblate/utils/tests/test_tracing.py
Due: py-join-comma

fix(utils): increase maximal regex timeout
  weblate/utils/regex.py
Due: py-join-comma

Revert "fix(deps): update dependency charset-normalizer to v3.4.8"
  pyproject.toml
  uv.lock
Due: none

chore(pre-commit): drop no longer needed constraint
  .pre-commit-config.yaml
Due: none

fix(trans): detect bilingual PO set as monolingual
  docs/changes.rst
  docs/devel/alerts.rst
  weblate/templates/trans/alert/bilingualpoconfiguredasmonolingual.html
  weblate/trans/alerts/config.py
  weblate/trans/tests/test_alert.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(views): use nullcontext when no override is needed
  weblate/trans/views/js.py
Due: py-join-comma

fix(billing): move billing management to workspace operations
  weblate/billing/tests.py
  weblate/templates/billing/detail-content.html
  weblate/templates/billing/detail.html
  weblate/templates/workspace.html
  weblate/workspaces/tests.py
  weblate/workspaces/views.py
Due: py-join-comma

fix(billing): display yearly price
  weblate/billing/admin.py
Due: py-join-comma

/root/.profile: line 28: warning: setlocale: LC_ALL: cannot change locale (en_US.UTF-8) fix(memory): bound duplicate compaction candidates
  weblate/memory/tasks.py
  weblate/memory/tests.py
Due: py-join-comma

fix(memory): speed up fuzzy TM lookups
  docs/admin/install.rst
  docs/changes.rst
  weblate/api/tests.py
  weblate/api/views.py
  weblate/memory/machine.py
  weblate/memory/migrations/0006_memory_source_gist_prefix.py
  weblate/memory/models.py
  weblate/memory/tests.py
  weblate/trans/forms.py
  weblate/trans/tests/test_reports.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

chore(l10n): update Italian translation
  weblate/locale/it/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Portuguese translation
  docs/locales/pt/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Spanish translation
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Danish translation
  weblate/locale/da/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Danish translation
  docs/locales/da/LC_MESSAGES/docs.po
Due: none

chore(scripts): replace tinyunicodeblock
  .github/renovate.json
  .github/workflows/apply-maintenance-patch.yml
  .github/workflows/cjk-regexp.yml
  pyproject.toml
  scripts/generate-cjk-regexp.py
  uv.lock
Due: py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
