Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

chore: releasing 2026.10
  docs/changes.rst
  docs/changes/contributors/2026.10.rst
  pyproject.toml
  uv.lock
  weblate/utils/version.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

chore: releasing 2026.10
  docs/changes/contributors/2026.10.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

chore: setting version to 2026.10.1
  .github/workflows/migrations.yml
  client/package.json
  docs/changes.rst
  docs/changes/contributors/2026.10.1.rst
  docs/conf.py
  pyproject.toml
  uv.lock
  weblate/trans/views/about.py
  weblate/utils/version.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

feat(alerts): allow dismissal of advisory diagnostics
  docs/changes.rst
  docs/devel/alerts.rst
  weblate/trans/alerts/config.py
  weblate/trans/tests/test_alert.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

chore(js): update vendored libraries
  weblate/static/js/vendor/sentry.js
Due: none

fix(contributors): exclude LLM identities and deleted users
  scripts/list-contributors.py
  weblate/utils/tests/test_list_contributors.py
Due: py-join-comma

fix(auth): prevent duplicate provider login submissions
  docs/changes.rst
  weblate/accounts/tests/test_views.py
  weblate/accounts/views.py
  weblate/static/loader-bootstrap.js
  weblate/templates/accounts/login.html
  weblate/templates/accounts/profile.html
  weblate/templates/accounts/redirect.html
  weblate/templates/accounts/register.html
  weblate/trans/tests/test_selenium.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

docs: fix indentation
  docs/admin/install/docker.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

chore(l10n): update German translation
  weblate/locale/de/LC_MESSAGES/django.po
Due: none

chore(l10n): update Portuguese (Brazil) translation
  weblate/locale/pt_BR/LC_MESSAGES/django.po
Due: none

chore(l10n): update German translation
  docs/locales/de/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Bulgarian translation
  weblate/locale/bg/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Arabic translation
  weblate/locale/ar/LC_MESSAGES/django.po
Due: none

chore(l10n): update Bulgarian translation
  weblate/locale/bg/LC_MESSAGES/django.po
Due: none

chore(l10n): update Arabic translation
  docs/locales/ar/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Dutch translation
  weblate/locale/nl/LC_MESSAGES/django.po
Due: none

chore(l10n): update Dutch translation
  docs/locales/nl/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Portuguese translation
  weblate/locale/pt/LC_MESSAGES/django.po
Due: none

chore(l10n): update Polish translation
  weblate/locale/pl/LC_MESSAGES/django.po
Due: none

chore(l10n): update Welsh translation
  weblate/locale/cy/LC_MESSAGES/django.po
Due: none

chore(l10n): update Asturian translation
  docs/locales/ast/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Belarusian translation
  docs/locales/be/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Azerbaijani translation
  docs/locales/az/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Belarusian (Latin script) translation
  docs/locales/be_Latn/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Breton translation
  docs/locales/br/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Bulgarian translation
  docs/locales/bg/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Kurdish (Sorani) translation
  docs/locales/ckb/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Catalan translation
  docs/locales/ca/LC_MESSAGES/docs.po
Due: none
