Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

fix(notifications): do not truncate grouped values in summary e-mails
  docs/changes.rst
  docs/user/profile.rst
  weblate/accounts/notifications.py
  weblate/accounts/tests/test_notifications.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(auth): restrict project team invitations
  docs/changes.rst
  weblate/auth/forms.py
  weblate/trans/tests/test_acl.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

test fixes
  weblate/static/js/bulk-edit-selection.js
  weblate/templates/search.html
  weblate/templates/snippets/bulk-edit-selection.html
  weblate/trans/forms.py
  weblate/trans/tests/test_search.py
Due: py-join-comma

fix lint
  weblate/trans/forms.py
  weblate/trans/tests/test_search.py
Due: py-join-comma

Add link to opened pull request
  docs/changes.rst
  weblate/templates/snippets/git-info.html
  weblate/trans/migrations/0104_component_pull_request_url.py
  weblate/trans/models/component.py
  weblate/trans/tests/test_git_views.py
  weblate/trans/tests/test_remote.py
  weblate/vcs/base.py
  weblate/vcs/git.py
  weblate/vcs/github.py
  weblate/vcs/tests/test_vcs.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Address PR feedback
  docs/changes.rst
  weblate/templates/snippets/git-info.html
  weblate/trans/migrations/0111_component_pull_request_url.py
  weblate/trans/models/component.py
  weblate/trans/tests/test_git_views.py
  weblate/trans/tests/test_remote.py
  weblate/vcs/git.py
  weblate/vcs/tests/test_vcs.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(l10n): correct Tamil critical severity
  weblate/locale/ta/LC_MESSAGES/django.po
Due: none

chore(l10n): update French translation
  weblate/locale/fr/LC_MESSAGES/django.po
Due: none

chore(l10n): update Arabic translation
  weblate/locale/ar/LC_MESSAGES/django.po
Due: none

chore(l10n): update Azerbaijani translation
  weblate/locale/az/LC_MESSAGES/django.po
Due: none

chore(l10n): update German translation
  weblate/locale/de/LC_MESSAGES/django.po
Due: none

chore(l10n): update French translation
  weblate/locale/fr/LC_MESSAGES/djangojs.po
Due: none

fix(api): preserve explicit enforced check inheritance
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/trans/inherited_settings.py
  weblate/trans/models/category.py
  weblate/trans/models/component.py
  weblate/trans/models/project.py
Due: py-join-comma

chore(l10n): update Arabic translation
  weblate/locale/ar/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Croatian translation
  weblate/locale/hr/LC_MESSAGES/django.po
Due: none

chore(l10n): update Bulgarian translation
  weblate/locale/bg/LC_MESSAGES/django.po
Due: none

chore(l10n): update Arabic translation
  docs/locales/ar/LC_MESSAGES/docs.po
Due: none

chore(l10n): update German translation
  docs/locales/de/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Bulgarian translation
  docs/locales/bg/LC_MESSAGES/docs.po
Due: none

chore(l10n): update French translation
  docs/locales/fr/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Croatian translation
  docs/locales/hr/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Chinese (Simplified Han script) translation
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Due: none
