Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst contaning double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|anubis|127\.0\.0\.1|user:password@proxy|libretranslate:)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

rst-seealso-inline:
  name: seealso should use block
  entry: '^\.\. seealso:: .*$'
  language: pygrep

rst-seealso-list:
  name: seealso shoud use list for multiple lins
  args:
  - --multiline
  entry: ^\.\. seealso::\n\n(   *[:`*][^\n]*\n)*   *[:`*][^\n]*,
  language: pygrep

py-join-comma:
  name: Localized comma in join
  args:
  - --multiline
  entry: format_html_join\(\s*", "
  language: pygrep

Translated using Weblate (Belarusian)
  weblate/locale/be/LC_MESSAGES/django.po
Due: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Swedish)
  weblate/locale/sv/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Irish)
  weblate/locale/ga/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Irish)
  docs/locales/ga/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Turkish)
  weblate/locale/tr/LC_MESSAGES/djangojs.po
Due: none

fix: preserve server-side sorting for user contributions
  weblate/accounts/views.py
Due: py-join-comma

docs: add submodules documentation
  docs/contributing/index.rst
  docs/contributing/modules.rst
  docs/contributing/submodules.rst
  docs/contributing/tests.rst
  docs/index.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

fix(import): use source explanation correctly during component creation
  weblate/trans/models/component.py
  weblate/trans/models/unit.py
  weblate/trans/tests/data/test-base-repo.git.tar
  weblate/trans/tests/data/test-base-repo.hg.tar
  weblate/trans/tests/data/test-base-repo.svn.tar
  weblate/trans/tests/test_component.py
Due: py-join-comma

feat(search): search for multiple checks and screenshots at once
  weblate/trans/tests/test_search.py
  weblate/utils/search.py
  weblate/utils/tests/test_search.py
Due: py-join-comma

docs(detailed state): improve documentation on needs checking/rewriting
  docs/user/search.rst
  docs/workflows.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

Update index.rst
  docs/index.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

Translated using Weblate (Ukrainian)
  weblate/locale/uk/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Japanese)
  weblate/locale/ja/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Ukrainian)
  docs/locales/uk/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Tamil)
  docs/locales/ta/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Dutch)
  docs/locales/nl/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Japanese)
  weblate/locale/ja/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Due: none

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
