Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

Translated using Weblate (Italian)
  weblate/locale/it/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Albanian)
  weblate/locale/sq/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Swedish)
  weblate/locale/sv/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Hebrew)
  weblate/locale/he/LC_MESSAGES/django.po
Due: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Albanian)
  docs/locales/sq/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Irish)
  weblate/locale/ga/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Bulgarian)
  weblate/locale/bg/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Czech)
  docs/locales/cs/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Irish)
  docs/locales/ga/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Italian)
  docs/locales/it/LC_MESSAGES/docs.po
Due: none

Fix missing XMLCharsAroundTagsCheck import in test_markup_checks
  weblate/checks/tests/test_markup_checks.py
Due: py-join-comma

Checks: Add XMLCharsAroundTagsCheck for issue #6334
  weblate/checks/markup.py
  weblate/checks/tests/test_markup_checks.py
  weblate/settings_docker.py
Due: py-join-comma

Replace .isalpha() with regex \p{L}
  weblate/checks/markup.py
  weblate/checks/models.py
Due: py-join-comma

Replace range(len()) with enumerate()
  weblate/checks/markup.py
Due: py-join-comma

Update per ruff and pre-commit
  weblate/checks/markup.py
Due: py-join-comma

Make small changes per Copilot, update documentation and change log
  docs/changes.rst
  docs/user/checks.rst
  weblate/checks/markup.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

docs: clarify read-only API availability
  docs/api.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

docs: fix thread model formatting
  docs/security/threat-model.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

docs: clarify incident response plan
  docs/security/incident-response-plan.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

Translated using Weblate (German)
  weblate/locale/de/LC_MESSAGES/django.po
Due: none
