Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst contaning double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|anubis|127\.0\.0\.1|user:password@proxy)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

rst-seealso-inline:
  name: seealso should use block
  entry: '^\.\. seealso:: .*$'
  language: pygrep

rst-seealso-list:
  name: seealso shoud use list for multiple lins
  args:
  - --multiline
  entry: ^\.\. seealso::\n\n(   *[:`*][^\n]*\n)*   *[:`*][^\n]*,
  language: pygrep

py-join-comma:
  name: Localized comma in join
  args:
  - --multiline
  entry: format_html_join\(\s*", "
  language: pygrep

fix documentation error
  docs/changes.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

docs: update anubis configuration
  docs/admin/install/docker.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

fix(profile): corrected Git export URL example
  weblate/templates/accounts/profile.html
  weblate/trans/templatetags/translations.py
Due: py-join-comma

docs: clarify language definition contributions
  docs/admin/languages.rst
  docs/contributing/index.rst
  docs/contributing/modules.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

Update docs/contributing/modules.rst
  docs/contributing/modules.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

docs: clarify language definition contributions (#16354)
  docs/admin/languages.rst
  docs/contributing/index.rst
  docs/contributing/modules.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

fix(stats): utilize iterators to avoid Django caching
  weblate/utils/stats.py
Due: py-join-comma

Update weblate/utils/stats.py
  weblate/utils/stats.py
Due: py-join-comma

Update weblate/trans/models/component.py
  weblate/trans/models/component.py
Due: py-join-comma

feat: cache project links in the component object
  weblate/trans/models/component.py
  weblate/utils/stats.py
Due: py-join-comma

feat(api): Added support for Component's File format parameters in REST API (#15937)
  docs/admin/projects.rst
  docs/api.rst
  docs/changes.rst
  docs/specs/openapi.yaml
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/trans/file_format_params.py
  weblate/trans/forms.py
  weblate/trans/migrations/0050_alter_component_file_format_params.py
  weblate/trans/models/component.py
  weblate/trans/validators.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(stats): utilize iterators to avoid Django caching (#16355)
  weblate/trans/models/component.py
  weblate/utils/stats.py
Due: py-join-comma

fix(unit): use update_extra_flags to set flags
  weblate/trans/bulk.py
  weblate/trans/models/unit.py
  weblate/trans/views/js.py
  weblate/trans/views/source.py
Due: py-join-comma

chore: Sync with WeblateOrg/meta
  .github/workflows/uv-upgrade.yml
  .github/workflows/yarn-update.yml
Due: none

feat(ci): publish releases with sigstore
  .github/workflows/setup.yml
Due: none

fix(tests): fix selenium tests
  weblate/trans/tests/test_selenium.py
Due: py-join-comma

Translated using Weblate (Romanian)
  weblate/locale/ro/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Icelandic)
  weblate/locale/is/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Croatian)
  docs/locales/hr/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Icelandic)
  docs/locales/is/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Romanian)
  docs/locales/ro/LC_MESSAGES/docs.po
Due: none

fix(ui): announcement display
  weblate/templates/category.html
  weblate/templates/component.html
  weblate/templates/dashboard/anonymous.html
  weblate/templates/dashboard/user.html
  weblate/templates/language-project.html
  weblate/templates/language.html
  weblate/templates/message.html
  weblate/templates/project.html
  weblate/templates/translation.html
  weblate/trans/templatetags/translations.py
Due: py-join-comma

chore: fix and annotate typos
  weblate/checks/tests/test_format_checks.py
  weblate/trans/tests/test_workflowsetting.py
Due: py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
