Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

fix(validators): reject certain paths from being used
  weblate/trans/backups.py
  weblate/utils/files.py
  weblate/utils/tests/test_validators.py
  weblate/utils/validators.py
Due: py-join-comma

docs(state): add new states
  docs/admin/projects.rst
  docs/changes.rst
  docs/workflows.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

feat(machinery): update list of OpenAI models
  weblate/machinery/forms.py
Due: py-join-comma

fix(accounts): gracefully handle authentication connection errors
  weblate/accounts/views.py
Due: py-join-comma

feat: cache authentication provider URLs
  weblate/middleware.py
Due: py-join-comma

fix(component): gracefully handle invalid symlinks
  weblate/addons/tests.py
  weblate/api/tests.py
  weblate/api/views.py
  weblate/screenshots/models.py
  weblate/trans/models/component.py
  weblate/trans/tests/data/test-base-repo.git.tar
  weblate/trans/tests/data/test-base-repo.hg.tar
  weblate/trans/tests/data/test-base-repo.svn.tar
  weblate/trans/tests/test_commands.py
  weblate/trans/tests/test_component.py
  weblate/trans/tests/test_discovery.py
  weblate/utils/views.py
  weblate/vcs/base.py
  weblate/vcs/git.py
Due: py-join-comma

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Belarusian)
  weblate/locale/be/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Vietnamese)
  docs/locales/vi/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Turkish)
  weblate/locale/tr/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Turkish)
  weblate/locale/tr/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Estonian)
  weblate/locale/et/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Bulgarian)
  weblate/locale/bg/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Turkish)
  docs/locales/tr/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Indonesian)
  weblate/locale/id/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Due: none

fix(component): do not try to reacquire not held lock
  weblate/trans/models/component.py
  weblate/utils/lock.py
Due: py-join-comma

fix(docker): make SSL autodetection work only when not configured
  docs/changes.rst
  weblate/settings_docker.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(vcs): use GIT_SSH_COMMAND to override ssh command
  weblate/vcs/base.py
Due: py-join-comma

fix(component): use field validation for language regex
  weblate/addons/forms.py
  weblate/addons/tests.py
  weblate/api/tests.py
  weblate/trans/migrations/0060_alter_component_language_regex.py
  weblate/trans/models/component.py
  weblate/trans/tests/test_discovery.py
  weblate/utils/validators.py
Due: py-join-comma
