Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst contaning double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|anubis|127\.0\.0\.1|user:password@proxy|libretranslate:)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

rst-seealso-inline:
  name: seealso should use block
  entry: '^\.\. seealso:: .*$'
  language: pygrep

rst-seealso-list:
  name: seealso shoud use list for multiple lins
  args:
  - --multiline
  entry: ^\.\. seealso::\n\n(   *[:`*][^\n]*\n)*   *[:`*][^\n]*,
  language: pygrep

py-join-comma:
  name: Localized comma in join
  args:
  - --multiline
  entry: format_html_join\(\s*", "
  language: pygrep

chore(l10n): update Spanish translation
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Indonesian translation
  docs/locales/id/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Italian translation
  docs/locales/it/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Dutch translation
  docs/locales/nl/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Portuguese translation
  docs/locales/pt/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Swedish translation
  docs/locales/sv/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Vietnamese translation
  docs/locales/vi/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Italian translation
  weblate/locale/it/LC_MESSAGES/django.po
Due: none

chore(l10n): update German translation
  docs/locales/de/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Vietnamese translation
  weblate/locale/vi/LC_MESSAGES/django.po
Due: none

chore(l10n): update English (United Kingdom) translation
  weblate/locale/en_GB/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Spanish translation
  weblate/locale/es/LC_MESSAGES/django.po
Due: none

chore(l10n): update German translation
  weblate/locale/de/LC_MESSAGES/django.po
Due: none

chore(l10n): update Czech translation
  docs/locales/cs/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Dutch translation
  weblate/locale/nl/LC_MESSAGES/django.po
Due: none

chore(l10n): update Czech translation
  weblate/locale/cs/LC_MESSAGES/django.po
Due: none

chore(l10n): update Indonesian translation
  weblate/locale/id/LC_MESSAGES/django.po
Due: none

chore(l10n): update Swedish translation
  weblate/locale/sv/LC_MESSAGES/django.po
Due: none

fix tests
  weblate/machinery/tests.py
Due: py-join-comma

fix(stats): keep aggregated statistics consistent
  docs/changes.rst
  weblate/accounts/notifications.py
  weblate/metrics/migrations/0003_cleanup_category_language_metric_keys.py
  weblate/metrics/models.py
  weblate/metrics/tasks.py
  weblate/metrics/tests.py
  weblate/trans/models/__init__.py
  weblate/trans/models/category.py
  weblate/trans/models/change.py
  weblate/trans/models/comment.py
  weblate/trans/removal.py
  weblate/trans/tests/test_categories.py
  weblate/trans/tests/test_comment.py
  weblate/trans/tests/test_links.py
  weblate/trans/tests/test_models.py
  weblate/trans/tests/test_workflowsetting.py
  weblate/utils/stats.py
  weblate/utils/tasks.py
  weblate/utils/tests/test_stats.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix: sort by toggle icon
  weblate/static/loader-bootstrap.js
Due: none

refactor(models): declare PostgreSQL requirement
  weblate/accounts/models.py
  weblate/addons/models.py
  weblate/auth/models.py
  weblate/billing/models.py
  weblate/checks/models.py
  weblate/configuration/models.py
  weblate/fonts/models.py
  weblate/lang/models.py
  weblate/legal/models.py
  weblate/memory/models.py
  weblate/metrics/models.py
  weblate/screenshots/models.py
  weblate/trans/models/agreement.py
  weblate/trans/models/alert.py
  weblate/trans/models/announcement.py
  weblate/trans/models/category.py
  weblate/trans/models/change.py
  weblate/trans/models/comment.py
  weblate/trans/models/component.py
  weblate/trans/models/componentlist.py
  weblate/trans/models/label.py
  weblate/trans/models/pending.py
  weblate/trans/models/project.py
  weblate/trans/models/report.py
  weblate/trans/models/suggestion.py
  weblate/trans/models/translation.py
  weblate/trans/models/unit.py
  weblate/trans/models/variant.py
  weblate/trans/models/workflow.py
  weblate/utils/tests/test_checks.py
  weblate/vcs/github.py
  weblate/vcs/models.py
  weblate/wladmin/models.py
  weblate/workspaces/models.py
Due: py-join-comma

chore(js): update vendored libraries
  client/yarn.lock
Due: none

fix Index timestamp for machinery error queries
  weblate/machinery/migrations/0001_initial.py
  weblate/machinery/models.py
Due: py-join-comma

fix(wladmin): avoid spawning health check processes
  weblate/wladmin/middleware.py
  weblate/wladmin/tests.py
  weblate/wladmin/views.py
Due: py-join-comma

feat(workspaces): add statistics and metrics
  docs/changes.rst
  weblate/billing/models.py
  weblate/billing/views.py
  weblate/metrics/models.py
  weblate/metrics/tasks.py
  weblate/metrics/templatetags/metrics.py
  weblate/metrics/tests.py
  weblate/templates/manage/workspaces.html
  weblate/templates/snippets/info.html
  weblate/templates/snippets/list-objects.html
  weblate/templates/workspace.html
  weblate/trans/mixins.py
  weblate/trans/models/project.py
  weblate/trans/templatetags/translations.py
  weblate/utils/stats.py
  weblate/utils/tasks.py
  weblate/wladmin/tests.py
  weblate/wladmin/views.py
  weblate/workspaces/migrations/0004_workspace_metric_id.py
  weblate/workspaces/models.py
  weblate/workspaces/tests.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

add validation to commit_email, commit_name and public_email fields
  weblate/api/serializers.py
  weblate/api/tests.py
Due: py-join-comma

documentation and API schema update
  docs/api.rst
  docs/changes.rst
  docs/security/threat-model.rst
  docs/specs/openapi.yaml
  weblate/api/serializers.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
