Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst contaning double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|anubis|127\.0\.0\.1|user:password@proxy|libretranslate:)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

rst-seealso-inline:
  name: seealso should use block
  entry: '^\.\. seealso:: .*$'
  language: pygrep

rst-seealso-list:
  name: seealso shoud use list for multiple lins
  args:
  - --multiline
  entry: ^\.\. seealso::\n\n(   *[:`*][^\n]*\n)*   *[:`*][^\n]*,
  language: pygrep

py-join-comma:
  name: Localized comma in join
  args:
  - --multiline
  entry: format_html_join\(\s*", "
  language: pygrep

Translated using Weblate (Italian)
  docs/locales/it/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Hebrew)
  docs/locales/he/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Japanese)
  weblate/locale/ja/LC_MESSAGES/django.po
Due: none

migrate GWTFormat encoding to file format params
  weblate/formats/ttkit.py
  weblate/trans/file_format_params.py
Due: py-join-comma

migrate StringsFormat encoding to file format parameters
  weblate/formats/base.py
  weblate/formats/ttkit.py
  weblate/trans/file_format_params.py
  weblate/trans/forms.py
  weblate/trans/models/component.py
  weblate/trans/tests/test_component.py
  weblate/trans/tests/test_file_format_params.py
Due: py-join-comma

migration file
  ci/run-migrate
  weblate/formats/models.py
  weblate/trans/migrations/0058_file_format_encoding.py
  weblate/trans/tests/test_file_format_params.py
Due: py-join-comma

migrate PropertiesFormat encoding to file_format_params
  weblate/addons/properties.py
  weblate/formats/models.py
  weblate/formats/ttkit.py
  weblate/trans/file_format_params.py
  weblate/trans/models/component.py
  weblate/trans/tests/test_component.py
  weblate/trans/tests/test_file_format_params.py
  weblate/trans/tests/utils.py
Due: py-join-comma

migrate CSVFormat and CSVSimpleFormat encoding to file_format_params
  weblate/formats/external.py
  weblate/formats/models.py
  weblate/formats/multi.py
  weblate/formats/ttkit.py
  weblate/trans/file_format_params.py
  weblate/trans/tests/test_component.py
  weblate/trans/tests/utils.py
Due: py-join-comma

pylint fix
  weblate/formats/auto.py
Due: py-join-comma

Update file formats documentation
  ci/run-migrate
  docs/changes.rst
  docs/formats/apple.rst
  docs/formats/csv.rst
  docs/formats/java.rst
  docs/snippets/file-format-parameters.rst
  weblate/formats/tests/test_formats.py
  weblate/formats/ttkit.py
  weblate/trans/file_format_params.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

typo fix
  ci/run-migrate
Due: none

improve test coverage
  weblate/trans/file_format_params.py
  weblate/trans/tests/test_file_format_params.py
Due: py-join-comma

tests fix
  ci/run-migrate
  weblate/api/tests.py
  weblate/trans/tests/test_views.py
Due: py-join-comma

update new file formats empty_file_template attributes
  weblate/formats/ttkit.py
Due: py-join-comma

hide file format parameter fields when no format is selected
  weblate/static/loader-bootstrap.js
Due: none

fix(hooks): validate full name is provided before using it
  weblate/trans/views/hooks.py
Due: py-join-comma

fix(utils): properly detect encoding for system check
  weblate/utils/apps.py
Due: py-join-comma

feat(add-ons): move event filtering to the task
  weblate/addons/autotranslate.py
  weblate/addons/base.py
  weblate/addons/fedora_messaging.py
  weblate/addons/tasks.py
  weblate/addons/webhooks.py
Due: py-join-comma

docs: Improve VCS integration documentation clarity (#17166)
  docs/admin/install/docker.rst
  docs/changes.rst
  docs/faq.rst
  docs/vcs.rst
  weblate/trans/migrations/0058_alter_component_push_branch.py
  weblate/trans/models/component.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(utils): use locale to get current system encoding
  weblate/trans/management/commands/list_versions.py
  weblate/utils/tasks.py
Due: py-join-comma

Apply suggestion from @nijel
  weblate/trans/tests/test_hooks.py
Due: py-join-comma

chore(tests): extend webhook tests to cover more edge cases
  weblate/trans/tests/test_hooks.py
Due: py-join-comma

docs: add documentation and changelog, test: improve coverage, refactor: remove redundant regex
  docs/changes.rst
  docs/user/checks.rst
  weblate/checks/format.py
  weblate/checks/tests/test_format_checks.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix: Add license information for bootstrap5_rtl.j
  client/webpack.config.js
  weblate/static/js/vendor/bootstrap5_rtl.js.license
Due: none

feat: add support for Laravel format check (#17084) (#17213)
  docs/changes.rst
  docs/user/checks.rst
  weblate/checks/format.py
  weblate/checks/models.py
  weblate/checks/tests/test_format_checks.py
  weblate/formats/ttkit.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Update docs/api.rst
  docs/api.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

Update weblate/api/views.py
  weblate/api/views.py
Due: py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
