Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

chore(tests): use fixture tests for cases which do not need a repository
  weblate/accounts/tests/test_notifications.py
  weblate/auth/tests/test_views.py
  weblate/checks/tests/test_consistency_checks.py
  weblate/checks/tests/test_views.py
  weblate/trans/tests/test_changes.py
  weblate/trans/tests/test_dashboard.py
  weblate/trans/tests/test_labels.py
  weblate/trans/tests/test_lock.py
  weblate/trans/tests/test_projecttoken.py
  weblate/trans/tests/test_review.py
  weblate/trans/tests/test_workflowsetting.py
Due: py-join-comma

chore(tests): do not base format tests on fixture tests
  weblate/formats/tests/test_formats.py
Due: py-join-comma

chore(tests): restructure tests for improved performance
  weblate/fonts/tests/test_models.py
  weblate/fonts/tests/test_utils.py
  weblate/fonts/tests/utils.py
  weblate/lang/tests.py
  weblate/machinery/tests.py
  weblate/metrics/tests.py
  weblate/trans/tests/test_agreement.py
  weblate/trans/tests/test_commands.py
  weblate/trans/tests/test_component.py
  weblate/trans/tests/test_templatetags.py
  weblate/trans/tests/test_views.py
Due: py-join-comma

chore(tests): base tests on more lightweight test bases
  weblate/addons/tests.py
  weblate/auth/tests/test_models.py
  weblate/auth/tests/test_permissions.py
  weblate/checks/tests/test_consistency_checks.py
  weblate/checks/tests/test_format_checks.py
  weblate/checks/tests/test_glossary_checks.py
  weblate/checks/tests/test_placeholders.py
  weblate/checks/tests/test_source_checks.py
  weblate/trans/tests/test_commands.py
  weblate/trans/tests/test_tasks.py
  weblate/utils/tests/test_db.py
Due: py-join-comma

Apply suggested fix to docs/contributing/addons.rst from Copilot Autofix
  docs/contributing/addons.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

more typos
  weblate/trans/tests/test_comment.py
  weblate/trans/tests/test_models.py
Due: py-join-comma

fix(lang): utilize existing plurals cache
  weblate/lang/models.py
  weblate/lang/tests.py
Due: py-join-comma

feat(machinery): improve LLM integration
  weblate/machinery/llm.py
  weblate/machinery/tests.py
Due: py-join-comma

chore: fix typo in dismissible
  weblate/static/style-dark.css
  weblate/templates/component.html
  weblate/trans/models/alert.py
  weblate/trans/views/settings.py
Due: py-join-comma

fix #16253: Address review feedback
  weblate/addons/gettext.py
  weblate/trans/models/translation.py
  weblate/vcs/base.py
  weblate/vcs/git.py
  weblate/vcs/mercurial.py
Due: py-join-comma

fix #16253: Update LINGUAS file on language removal
  docs/snippets/addons-autogenerated.rst
  weblate/addons/base.py
  weblate/addons/events.py
  weblate/addons/gettext.py
  weblate/addons/migrations/0015_alter_addonactivitylog_event_alter_event_event.py
  weblate/addons/models.py
  weblate/addons/tests.py
  weblate/trans/models/translation.py
  weblate/trans/signals.py
  weblate/vcs/base.py
  weblate/vcs/git.py
  weblate/vcs/mercurial.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(projectbackup): correctly restore source translation flags
  docs/changes.rst
  weblate/trans/backups.py
  weblate/trans/migrations/0071_normalize_translation_readonly_flags.py
  weblate/trans/models/component.py
  weblate/trans/models/translation.py
  weblate/trans/tests/test_backups.py
  weblate/trans/tests/test_models.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

chore(deps): use extras from translate-toolkit
  pyproject.toml
  uv.lock
Due: none

fix(component): consistenly handle settings for linked components
  docs/admin/projects.rst
  docs/api.rst
  docs/changes.rst
  docs/snippets/linked-repository-setting.rst
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/api/views.py
  weblate/trans/forms.py
  weblate/trans/models/component.py
  weblate/trans/models/pending.py
  weblate/trans/tests/test_component.py
  weblate/trans/tests/test_models.py
  weblate/trans/tests/test_settings.py
  weblate/trans/tests/utils.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(ci): silence transient translate-toolkit warning
  pyproject.toml
Due: none

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
Due: none

chore(pyproject): fix typo
  pyproject.toml
Due: none

feat(change): track project backup/restores
  docs/changes.rst
  docs/snippets/addon-parameters-autogenerated.rst
  docs/specs/openapi.yaml
  weblate/trans/actions.py
  weblate/trans/backups.py
  weblate/trans/change_display.py
  weblate/trans/migrations/0072_alter_change_action.py
  weblate/trans/tasks.py
  weblate/trans/tests/test_backups.py
  weblate/trans/views/settings.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Translated using Weblate (Portuguese (Brazil))
  docs/locales/pt_BR/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  weblate/locale/pt_BR/LC_MESSAGES/django.po
Due: none

Translated using Weblate (French)
  weblate/locale/fr/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Korean)
  weblate/locale/ko/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Indonesian)
  weblate/locale/id/LC_MESSAGES/django.po
Due: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Korean)
  docs/locales/ko/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (German)
  weblate/locale/de/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Bulgarian)
  weblate/locale/bg/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Ukrainian)
  weblate/locale/uk/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Belarusian)
  weblate/locale/be/LC_MESSAGES/django.po
Due: none
