Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

chore(l10n): update Latvian translation
  docs/locales/lv/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Bashkir translation
  docs/locales/ba/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Slovak translation
  weblate/locale/sk/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Polish translation
  weblate/locale/pl/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Vietnamese translation
  docs/locales/vi/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Irish translation
  weblate/locale/ga/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Ukrainian translation
  docs/locales/uk/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Irish translation
  docs/locales/ga/LC_MESSAGES/docs.po
Due: none

fix(api): hide restricted component changes
  docs/changes.rst
  weblate/api/tests.py
  weblate/api/views.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(github): handle app integration edge cases
  weblate/trans/tests/test_create.py
  weblate/trans/views/create.py
  weblate/trans/views/hooks.py
  weblate/vcs/github.py
  weblate/vcs/tests/test_github_hooks.py
  weblate/vcs/tests/test_github_models.py
Due: py-join-comma

fix(github): handle install webhook redirect races
  weblate/trans/views/hooks.py
  weblate/vcs/github.py
  weblate/vcs/migrations/0006_pendinginstallation.py
  weblate/vcs/models.py
  weblate/vcs/tests/test_github_hooks.py
  weblate/vcs/tests/test_github_views.py
  weblate/vcs/views.py
Due: py-join-comma

fix(security): restrict ZIP symlinks to component roots
  weblate/api/tests.py
  weblate/trans/tests/test_views.py
  weblate/trans/views/files.py
  weblate/utils/views.py
Due: py-join-comma

chore(l10n): update Vietnamese translation
  weblate/locale/vi/LC_MESSAGES/django.po
Due: none

chore(l10n): update Chinese (Simplified Han script) translation
  weblate/locale/zh_Hans/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Slovak translation
  docs/locales/sk/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Dutch translation
  weblate/locale/nl/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Dutch translation
  docs/locales/nl/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Chinese (Simplified Han script) translation
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Due: none

fix(github): tighten app repository handling
  weblate/trans/views/hooks.py
  weblate/vcs/github.py
  weblate/vcs/tests/test_github.py
  weblate/vcs/tests/test_github_hooks.py
  weblate/vcs/tests/test_github_models.py
  weblate/vcs/tests/test_github_views.py
Due: py-join-comma

fixes
  weblate/static/style-dark.css
  weblate/static/styles/main.css
Due: none

docs(formats): remove empty translation in untranslateable term from tbx example
  weblate/trans/tests/data/cs.tbx
Due: none
