Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

fix(machinery): use project-level config for batch auto-translation form display (#18618)
  docs/changes.rst
  weblate/trans/views/basic.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(formats): preserve multi-value JSON placeholder flags (#18637)
  weblate/checks/flags.py
  weblate/checks/tests/test_flags.py
  weblate/formats/tests/test_formats.py
  weblate/formats/ttkit.py
Due: py-join-comma

Apply suggestion from @nijel
  weblate/machinery/tests.py
Due: py-join-comma

chore: fix code comment in rundev (#18641)
  dev-docker/weblate-dev/start-dev
Due: none

docs: fix machinery api placeholders
  docs/api.rst
  docs/changes.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

Make extra notification form test less brittle
  weblate/accounts/tests/test_views.py
Due: py-join-comma

Update format.py
  weblate/checks/format.py
Due: py-join-comma

Update changes.rst
  docs/changes.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

fix(vcs): avoid pushing upstream commits to push branch
  docs/changes.rst
  weblate/templates/js/git-status.html
  weblate/trans/models/component.py
  weblate/trans/tests/test_remote.py
  weblate/vcs/base.py
  weblate/vcs/git.py
  weblate/vcs/tests/test_vcs.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(machinery): handle empty Anthropic base URL (#18647)
  docs/changes.rst
  weblate/machinery/anthropic.py
  weblate/machinery/tests.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(acl): do not allow removal of last team from project token (#18644)
  docs/changes.rst
  weblate/api/tests.py
  weblate/api/views.py
  weblate/trans/forms.py
  weblate/trans/tests/test_projecttoken.py
  weblate/trans/views/acl.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Set YAMLFormat as both mono/bilingual
  weblate/formats/management/commands/list_format_features.py
  weblate/formats/ttkit.py
Due: py-join-comma

refactor(addons): formalize addons cache as AddonCache dataclass (#18645)
  weblate/addons/models.py
  weblate/addons/tests.py
  weblate/trans/forms.py
  weblate/trans/guide.py
  weblate/trans/models/component.py
Due: py-join-comma

feat(component): allow categorizing shared components in target projects (#18574)
  ci/migrate-scripts/assert-links.py
  ci/migrate-scripts/setup-links.py
  ci/run-migrate
  docs/api.rst
  docs/changes.rst
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/api/views.py
  weblate/static/loader-bootstrap.js
  weblate/templates/component.html
  weblate/trans/forms.py
  weblate/trans/migrations/0067_componentlink_alter_component_links.py
  weblate/trans/models/__init__.py
  weblate/trans/models/category.py
  weblate/trans/models/component.py
  weblate/trans/tests/test_categories.py
  weblate/trans/tests/test_links.py
  weblate/trans/tests/test_settings.py
  weblate/trans/views/basic.py
  weblate/trans/views/settings.py
  weblate/urls.py
  weblate/utils/stats.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(backups): more robust error handling in borg invocation
  docs/changes.rst
  weblate/templates/manage/backups.html
  weblate/utils/backup.py
  weblate/utils/tests/test_backup.py
  weblate/wladmin/models.py
  weblate/wladmin/tasks.py
  weblate/wladmin/tests.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Handle prefix-less forms in notification index discovery
  weblate/accounts/tests/test_views.py
Due: py-join-comma

fix(accounts): Fix default initials for additional notification forms and add test (#18607)
  weblate/accounts/tests/test_views.py
  weblate/accounts/views.py
Due: py-join-comma

Update Objective-C format check documentation
  docs/user/checks.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

fix(deps): higher bound for requests
  pyproject.toml
  uv.lock
Due: none

po-update
  docs/changes.rst
  docs/snippets/addons-autogenerated.rst
  weblate/addons/extractors/__init__.py
  weblate/addons/extractors/django/__init__.py
  weblate/addons/extractors/django/command.py
  weblate/addons/extractors/django/run.py
  weblate/addons/extractors/django/settings.py
  weblate/addons/extractors/sphinx/__init__.py
  weblate/addons/extractors/sphinx/conf.py
  weblate/addons/extractors/sphinx/docutils.conf
  weblate/addons/forms.py
  weblate/addons/gettext.py
  weblate/addons/models.py
  weblate/addons/tests.py
  weblate/templates/trans/alert/extractpotaddonerror.html
  weblate/templates/trans/alert/extractpotmissingmsgmerge.html
  weblate/trans/guide.py
  weblate/trans/models/alert.py
  weblate/trans/tests/test_alert.py
  weblate/trans/tests/test_guide.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(docs): improve add-on snippets updating
  docs/snippets/addons-autogenerated.rst
  weblate/addons/management/commands/list_addons.py
  weblate/addons/tests.py
  weblate/trans/forms.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(deps): higher bound for requests (#18658)
  pyproject.toml
  uv.lock
Due: none

fix(ci): ignore errors brew upgrade
  .github/workflows/macos.yml
Due: none

Update weblate/addons/tests.py
  weblate/addons/tests.py
Due: py-join-comma

refactor: use less sort icons
  weblate/static/sort/down-dark.svg
  weblate/static/sort/hover-down.svg
  weblate/static/sort/hover-up.svg
  weblate/static/sort/up-dark.svg
  weblate/static/style-dark.css
  weblate/static/styles/main.css
Due: none

fix(ui): editor highlighting when focused
  weblate/static/style-dark.css
  weblate/static/styles/main.css
Due: none

refactor: use less sort icons (#18663)
  weblate/static/sort/down-dark.svg
  weblate/static/sort/hover-down.svg
  weblate/static/sort/hover-up.svg
  weblate/static/sort/up-dark.svg
  weblate/static/style-dark.css
  weblate/static/styles/main.css
Due: none

Update Argos machinery and tests
  weblate/machinery/argos.py
  weblate/machinery/tests.py
Due: py-join-comma

fix(docs): improve add-on snippets updating (#18661)
  docs/snippets/addons-autogenerated.rst
  weblate/addons/management/commands/list_addons.py
  weblate/addons/tests.py
  weblate/trans/forms.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(memory): tighten initial similarity tresholds
  weblate/memory/models.py
  weblate/memory/tests.py
  weblate/utils/db.py
  weblate/utils/tests/test_db.py
Due: py-join-comma

perf(machinery): improve built-in machinery performance
  docs/changes.rst
  weblate/machinery/tests.py
  weblate/machinery/weblatetm.py
  weblate/trans/migrations/0068_unit_source_tm_index.py
  weblate/trans/models/unit.py
  weblate/utils/db.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix: clear automatically_translated flag on state changes from repo
  weblate/trans/models/unit.py
  weblate/trans/tests/test_remote.py
  weblate/trans/tests/utils.py
Due: py-join-comma

Translated using Weblate (Chinese (Traditional Han script))
  docs/locales/zh_Hant/LC_MESSAGES/docs.po
Due: none
