Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst contaning double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|anubis|127\.0\.0\.1|user:password@proxy|libretranslate:)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

rst-seealso-inline:
  name: seealso should use block
  entry: '^\.\. seealso:: .*$'
  language: pygrep

rst-seealso-list:
  name: seealso shoud use list for multiple lins
  args:
  - --multiline
  entry: ^\.\. seealso::\n\n(   *[:`*][^\n]*\n)*   *[:`*][^\n]*,
  language: pygrep

py-join-comma:
  name: Localized comma in join
  args:
  - --multiline
  entry: format_html_join\(\s*", "
  language: pygrep

refactor(api): derive autotranslate serializer from AutoForm
  docs/admin/addons.rst
  docs/changes.rst
  docs/security/threat-model.rst
  docs/snippets/addons-autogenerated.rst
  docs/specs/openapi.yaml
  weblate/addons/forms.py
  weblate/addons/tests.py
  weblate/api/serializers.py
  weblate/trans/autotranslate.py
  weblate/trans/forms.py
  weblate/trans/tests/test_autotranslate.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(security): reject case-folded VCS metadata paths
  docs/changes.rst
  weblate/utils/files.py
  weblate/utils/tests/test_files.py
  weblate/utils/tests/test_validators.py
  weblate/vcs/tests/test_vcs.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Improve translation memory search bar appearance
  weblate/static/styles/main.css
  weblate/templates/translate.html
Due: none

feat(support): submit monthly instance activity metrics
  docs/admin/support.rst
  docs/changes.rst
  weblate/metrics/wrapper.py
  weblate/trans/tests/test_charts.py
  weblate/wladmin/models.py
  weblate/wladmin/tests.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(ux): improve History revert/details button spacing
  docs/changes.rst
  weblate/static/styles/main.css
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

refactor(api): derive autotranslate serializer from AutoForm (#21552)
  docs/admin/addons.rst
  docs/changes.rst
  docs/security/threat-model.rst
  docs/snippets/addons-autogenerated.rst
  docs/specs/openapi.yaml
  weblate/addons/forms.py
  weblate/addons/tests.py
  weblate/api/serializers.py
  weblate/trans/autotranslate.py
  weblate/trans/forms.py
  weblate/trans/tests/test_autotranslate.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

more improvements and fixes
  weblate/memory/machine.py
  weblate/memory/models.py
  weblate/memory/tests.py
  weblate/static/editor/full.js
  weblate/static/styles/main.css
  weblate/templates/translate.html
  weblate/trans/tests/test_selenium.py
Due: py-join-comma

changelog
  docs/changes.rst
  weblate/static/styles/main.css
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

refactor(urls): make redirect trust boundaries explicit
  weblate/trans/tests/test_edit.py
  weblate/trans/views/edit.py
  weblate/urls.py
  weblate/utils/tests/test_static.py
Due: py-join-comma

Update weblate/static/styles/main.css
  weblate/static/styles/main.css
Due: none

docs(checks): improve max-length explanation
  docs/snippets/checks-autogenerated.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

docs(checks): drop duplicated max-length listing
  docs/snippets/check-flags-autogenerated.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

feat(trans): allow creation of existing project languages
  docs/admin/projects.rst
  docs/changes.rst
  docs/specs/openapi.yaml
  docs/workflows.rst
  weblate/api/tests.py
  weblate/api/views.py
  weblate/templates/new-language.html
  weblate/templates/new-project-or-category-language.html
  weblate/trans/inherited_settings.py
  weblate/trans/migrations/0104_existing_project_languages.py
  weblate/trans/models/component.py
  weblate/trans/models/project.py
  weblate/trans/tests/test_settings.py
  weblate/trans/tests/test_views.py
  weblate/trans/views/basic.py
  weblate/workspaces/migrations/0005_existing_project_languages.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Apply code review suggestions
  weblate/static/editor/full.js
  weblate/static/styles/main.css
  weblate/templates/translate.html
  weblate/trans/tests/test_selenium.py
Due: py-join-comma

docs(security): clarify threat model review scope
  AGENTS.md
  docs/admin/addons.rst
  docs/security/threat-model.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

fix(trans): prefer matching context in automatic translation
  docs/changes.rst
  docs/user/translating.rst
  weblate/api/tests.py
  weblate/trans/autotranslate.py
  weblate/trans/tests/test_autotranslate.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(ux): improve History revert/details button spacing (#21573)
  docs/changes.rst
  weblate/static/styles/main.css
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

fix(checks): skip duplicate words for South Asian languages
  docs/changes.rst
  docs/snippets/checks-autogenerated.rst
  weblate/checks/duplicate.py
  weblate/checks/tests/test_duplicate_checks.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Fix race conditions when merging results
  weblate/static/editor/full.js
  weblate/trans/tests/test_selenium.py
Due: py-join-comma

feat: improve machinery tab (#21563)
  docs/changes.rst
  weblate/machinery/tests.py
  weblate/machinery/types.py
  weblate/memory/machine.py
  weblate/memory/models.py
  weblate/memory/tests.py
  weblate/static/editor/full.js
  weblate/static/styles/main.css
  weblate/templates/translate.html
  weblate/trans/tests/test_selenium.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

chore(l10n): update Vietnamese translation
  weblate/locale/vi/LC_MESSAGES/django.po
Due: none

chore(l10n): update Czech translation
  weblate/locale/cs/LC_MESSAGES/django.po
Due: none

chore(l10n): update Vietnamese translation
  docs/locales/vi/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Esperanto translation
  weblate/locale/eo/LC_MESSAGES/django.po
Due: none

chore(l10n): update Chinese (Simplified Han script) translation
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Due: none

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
