Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst containg double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|127\.0\.0\.1|user:password@proxy)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

Translated using Weblate (Mara)
  docs/locales/mrh/LC_MESSAGES/docs.po
Due: none

Added translation using Weblate (Mara)
  weblate/locale/mrh/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Danish)
  weblate/locale/da/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Danish)
  weblate/locale/da/LC_MESSAGES/djangojs.po
Due: none

Added translation using Weblate (Mara)
  docs/locales/mrh/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Mongolian)
  weblate/locale/mn/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Danish)
  docs/locales/da/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Mara)
  weblate/locale/mrh/LC_MESSAGES/django.po
Due: none

Added translation using Weblate (Mara)
  weblate/locale/mrh/LC_MESSAGES/django.po
Due: none

feat(tbx): handle extended metadata in tbx format
  docs/changes.rst
  docs/formats/tbx.rst
  docs/user/glossary.rst
  weblate/formats/tests/test_formats.py
  weblate/formats/ttkit.py
  weblate/trans/tests/data/fr-extended-metadata.tbx
Due: rst-double-space, rst-http, rst-bullet-stop

make codecov happy
  weblate/formats/tests/test_formats.py
  weblate/trans/tests/data/fr-extended-metadata.tbx
Due: none

add clarification comment
  weblate/formats/ttkit.py
Due: none

update tbxformat to use new translate-toolkit helpers
  pyproject.toml
  uv.lock
  weblate/formats/ttkit.py
Due: none

add category field to webhook payload
  docs/admin/addons.rst
  docs/changes.rst
  docs/schemas/weblate-messaging.schema.json
  weblate/addons/tests.py
  weblate/addons/webhooks.py
Due: rst-double-space, rst-http, rst-bullet-stop

feat(tbx): handle extended metadata in tbx format (#14998)
  docs/changes.rst
  docs/formats/tbx.rst
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  docs/user/glossary.rst
  pyproject.toml
  uv.lock
  weblate/formats/tests/test_formats.py
  weblate/formats/ttkit.py
  weblate/trans/tests/data/fr-extended-metadata.tbx
Due: rst-double-space, rst-http, rst-bullet-stop

fix: consistent line wrapping in text editor
  weblate/static/styles/main.css
Due: none

fix(editor): disable certain buttons for read only strings (#15034)
  weblate/static/editor/base.js
  weblate/static/styles/main.css
Due: none

fix documentation indentation error
  docs/admin/addons.rst
Due: rst-double-space, rst-http

docs: use correct Apache package names for RedHat
  docs/admin/install/venv-redhat.rst
Due: rst-double-space, rst-http

Add permission for posting announcements and update roles
  weblate/api/tests.py
  weblate/auth/data.py
  weblate/templates/category-language.html
  weblate/templates/category.html
  weblate/templates/translation.html
  weblate/trans/tests/test_manage.py
  weblate/trans/views/basic.py
  weblate/trans/views/settings.py
Due: none

chore(js): update vendored libraries (#15100)
  client/yarn.lock
Due: none

fix: do not merge plurals on enforced check
  weblate/trans/models/component.py
Due: none

Update weblate/templates/js/service-worker.js
  weblate/templates/js/service-worker.js
Due: none

docs: clarify container vulnerability scanning
  docs/security/dependencies.rst
Due: rst-double-space, rst-http

feat: anonymize IP address in notificatin mails
  weblate/accounts/models.py
  weblate/accounts/tasks.py
  weblate/accounts/tests/test_models.py
  weblate/accounts/tests/test_notifications.py
  weblate/templates/mail/shared-activity.html
Due: none

update docs
  docs/admin/access.rst
  docs/changes.rst
  weblate/auth/management/commands/list_permissions.py
Due: rst-double-space, rst-http, rst-bullet-stop

upgrade weblate_schemas version
  docs/changes.rst
  pyproject.toml
  uv.lock
  weblate/addons/webhooks.py
Due: rst-double-space, rst-http, rst-bullet-stop

feat: Category field in Webhook payload (#15127)
  docs/admin/addons.rst
  docs/changes.rst
  uv.lock
  weblate/addons/tests.py
  weblate/addons/webhooks.py
Due: rst-double-space, rst-http, rst-bullet-stop

feat(formats): add Compose Multiplatform resources
  docs/changes.rst
  docs/formats/android.rst
  docs/formats/compose-multiplatform-resources.rst
  docs/formats/moko-resources.rst
  docs/specs/openapi.yaml
  weblate/formats/models.py
  weblate/formats/ttkit.py
Due: rst-double-space, rst-http, rst-bullet-stop

move test_category_in_payload test to webhooksAddonTest
  weblate/addons/tests.py
Due: none

improve webhooks display, update documentation
  docs/admin/addons.rst
  weblate/addons/webhooks.py
Due: rst-double-space, rst-http

feat: Slack notifications with webhook (#15009)
  docs/admin/addons.rst
  docs/changes.rst
  weblate/addons/forms.py
  weblate/addons/models.py
  weblate/addons/tests.py
  weblate/addons/webhooks.py
  weblate/settings_docker.py
  weblate/settings_example.py
  weblate/static/icons/slack.svg
Due: rst-double-space, rst-http, rst-bullet-stop

feat(announcement): Add permission for posting announcements and new role (#15005)
  docs/admin/access.rst
  docs/changes.rst
  weblate/api/tests.py
  weblate/auth/data.py
  weblate/auth/management/commands/list_permissions.py
  weblate/templates/category-language.html
  weblate/templates/category.html
  weblate/templates/translation.html
  weblate/trans/tests/test_manage.py
  weblate/trans/views/basic.py
  weblate/trans/views/settings.py
Due: rst-double-space, rst-http, rst-bullet-stop

Translated using Weblate (Italian)
  weblate/locale/it/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Greek)
  weblate/locale/el/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Arabic)
  weblate/locale/ar/LC_MESSAGES/django.po
Due: none

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock$
