Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst contaning double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|anubis|127\.0\.0\.1|user:password@proxy|libretranslate:)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

rst-seealso-inline:
  name: seealso should use block
  entry: '^\.\. seealso:: .*$'
  language: pygrep

rst-seealso-list:
  name: seealso shoud use list for multiple lins
  args:
  - --multiline
  entry: ^\.\. seealso::\n\n(   *[:`*][^\n]*\n)*   *[:`*][^\n]*,
  language: pygrep

py-join-comma:
  name: Localized comma in join
  args:
  - --multiline
  entry: format_html_join\(\s*", "
  language: pygrep

Translated using Weblate (Bulgarian)
  docs/locales/bg/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Bulgarian)
  weblate/locale/bg/LC_MESSAGES/django.po
Due: none

chore: ignore gi warnings
  pyproject.toml
Due: none

chore(ci): add lockfile maintenance to dependabot branches
  .github/workflows/uv-upgrade.yml
  .github/workflows/yarn-update.yml
Due: none

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
Due: none

fix(api): base memory API on ReadOnlyModelViewSet
  weblate/api/views.py
Due: py-join-comma

fix(api): Improved API access control for pending tasks
  docs/changes.rst
  weblate/api/tests.py
  weblate/api/views.py
  weblate/trans/models/component.py
  weblate/utils/celery.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Update changes.rst with bug fix details
  docs/changes.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

fix(api): base memory API on ReadOnlyModelViewSet (#18513)
  docs/changes.rst
  docs/specs/openapi.yaml
  weblate/api/views.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

test(vcs): adapt response schema for bitbucket cloud's effective default reviewers
  weblate/vcs/tests/test_vcs.py
Due: py-join-comma

fix(vcs): make default reviewers loading for bitbucket cloud more defensive
  weblate/vcs/git.py
Due: py-join-comma

feat(add-ons): validate CDN fetch locations
  docs/admin/config.rst
  docs/changes.rst
  docs/devel/html.rst
  weblate/addons/forms.py
  weblate/addons/tasks.py
  weblate/addons/tests.py
  weblate/utils/tests/test_validators.py
  weblate/utils/validators.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

feat(api): improve error handling
  docs/changes.rst
  weblate/api/tests.py
  weblate/api/views.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

feat(add-ons): validate CDN fetch locations (#18516)
  docs/admin/config.rst
  docs/changes.rst
  docs/devel/html.rst
  weblate/addons/forms.py
  weblate/addons/tasks.py
  weblate/addons/tests.py
  weblate/utils/tests/test_validators.py
  weblate/utils/validators.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Apply suggested fix to weblate/billing/models.py from Copilot Autofix
  weblate/billing/models.py
Due: py-join-comma

Apply suggested fix to weblate/templates/translate.html from Copilot Autofix
  weblate/templates/translate.html
Due: none

Apply suggested fix to weblate/utils/celery.py from Copilot Autofix
  weblate/utils/celery.py
Due: py-join-comma

Apply suggestion from @nijel
  weblate/utils/celery.py
Due: py-join-comma

fix(billing): typo in the error message (#18525)
  weblate/billing/models.py
Due: py-join-comma

fix(translate): corrected rendering of forbidden glossary entries#18526 (#18526)
  weblate/templates/translate.html
Due: none

fix(utils): corrected type annotations in celery (#18528)
  weblate/utils/celery.py
Due: py-join-comma

feat(category): faster removal
  docs/changes.rst
  weblate/trans/models/__init__.py
  weblate/trans/models/component.py
  weblate/trans/removal.py
  weblate/trans/tasks.py
  weblate/trans/tests/test_categories.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

chore(addons): remove project_scope class attribute
  docs/changes.rst
  weblate/addons/autotranslate.py
  weblate/addons/base.py
  weblate/addons/cdn.py
  weblate/addons/consistency.py
  weblate/addons/generate.py
  weblate/addons/gettext.py
  weblate/addons/models.py
  weblate/addons/removal.py
  weblate/addons/tasks.py
  weblate/addons/tests.py
  weblate/trans/models/component.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix mypy
  weblate/addons/consistency.py
Due: py-join-comma

Translated using Weblate (Chinese (Traditional Han script))
  docs/locales/zh_Hant/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Croatian)
  docs/locales/hr/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Due: none

chore(packaging): use package data instead of MANIFEST.in
  MANIFEST.in
  pyproject.toml
Due: none

fix(utils): consistently use regex for user provided expressions
  weblate/addons/forms.py
  weblate/addons/tests.py
  weblate/templates/addons/discovery_preview.html
  weblate/trans/discovery.py
  weblate/trans/models/component.py
  weblate/trans/models/componentlist.py
  weblate/trans/models/translation.py
  weblate/trans/models/unit.py
  weblate/trans/tests/test_component.py
  weblate/trans/tests/test_discovery.py
  weblate/trans/tests/test_models.py
  weblate/utils/regex.py
  weblate/utils/tests/test_validators.py
  weblate/utils/validators.py
Due: py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
