Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst contaning double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|anubis|127\.0\.0\.1|user:password@proxy|libretranslate:)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

rst-seealso-inline:
  name: seealso should use block
  entry: '^\.\. seealso:: .*$'
  language: pygrep

rst-seealso-list:
  name: seealso shoud use list for multiple lins
  args:
  - --multiline
  entry: ^\.\. seealso::\n\n(   *[:`*][^\n]*\n)*   *[:`*][^\n]*,
  language: pygrep

py-join-comma:
  name: Localized comma in join
  args:
  - --multiline
  entry: format_html_join\(\s*", "
  language: pygrep

fix(api): restrict editing for scoped teams
  docs/changes.rst
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/api/views.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

docs: update gitee links
  docs/admin/code-hosting.rst
  docs/api.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

fix(addons): tolerate missing xgettext language
  weblate/addons/gettext.py
  weblate/addons/tests.py
Due: py-join-comma

fix(billing): corrected merge form
  weblate/billing/tests.py
  weblate/templates/billing/merge.html
Due: py-join-comma

docs: update yandex links
  docs/conf.py
  docs/snippets/machines-autogenerated.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(api): keep existing values on PATCH (#19980)
  docs/changes.rst
  docs/specs/openapi.yaml
  weblate/api/serializers.py
  weblate/api/tests.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Indonesian)
  weblate/locale/id/LC_MESSAGES/django.po
Due: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (French)
  weblate/locale/fr/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Dutch)
  weblate/locale/nl/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Indonesian)
  weblate/locale/id/LC_MESSAGES/djangojs.po
Due: none

docs: extend data residency
  docs/changes.rst
  docs/security/data-residency.rst
  docs/security/index.rst
  docs/snippets/hosted-legal-documents.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

chore(docs): ignore another chinese URL for linkcheck
  docs/conf.py
Due: py-join-comma

Apply suggestions from code review
  docs/snippets/checks-autogenerated.rst
  weblate/checks/chars.py
  weblate/checks/tests/test_chars_checks.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

Potential fix for pull request finding
  docs/security/index.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

Apply suggestions from code review
  weblate/checks/chars.py
  weblate/checks/tests/test_chars_checks.py
Due: py-join-comma

fix(utils): centralize error collection settings validation
  weblate/utils/errors.py
  weblate/utils/tests/test_errors.py
Due: py-join-comma

docs: extend data residency (#19989)
  docs/changes.rst
  docs/security/data-residency.rst
  docs/security/index.rst
  docs/snippets/hosted-legal-documents.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

docs(api): updated projects API docs
  docs/api.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

fix(agents): clarify accessing org-level discussions
  AGENTS.md
Due: none

feat: improve meta description content
  docs/changes.rst
  weblate/trans/context_processors.py
  weblate/trans/tests/test_basic_views.py
  weblate/trans/tests/test_util.py
  weblate/trans/util.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
