Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst contaning double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|anubis|127\.0\.0\.1|user:password@proxy|libretranslate:)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

rst-seealso-inline:
  name: seealso should use block
  entry: '^\.\. seealso:: .*$'
  language: pygrep

rst-seealso-list:
  name: seealso shoud use list for multiple lins
  args:
  - --multiline
  entry: ^\.\. seealso::\n\n(   *[:`*][^\n]*\n)*   *[:`*][^\n]*,
  language: pygrep

py-join-comma:
  name: Localized comma in join
  args:
  - --multiline
  entry: format_html_join\(\s*", "
  language: pygrep

fix(checks): ignore malformed replacements flags
  docs/changes.rst
  weblate/checks/base.py
  weblate/checks/tests/test_source_checks.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(github): handle stale app integration state
  docs/changes.rst
  docs/security/threat-model.rst
  weblate/vcs/github.py
  weblate/vcs/tests/test_github_models.py
  weblate/vcs/tests/test_github_views.py
  weblate/vcs/views.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Avoid stripping XML entities
  docs/snippets/checks-autogenerated.rst
  weblate/checks/chars.py
  weblate/checks/tests/test_chars_checks.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

Make check opt-in and requiring accelerator
  docs/changes.rst
  docs/snippets/check-flags-autogenerated.rst
  docs/snippets/checks-autogenerated.rst
  weblate/checks/chars.py
  weblate/checks/management/commands/list_checks.py
  weblate/checks/tests/test_chars_checks.py
  weblate/checks/tests/test_flags.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

feat(checks): add accelerator key consistency check
  docs/changes.rst
  docs/snippets/check-flags-autogenerated.rst
  docs/snippets/checks-autogenerated.rst
  weblate/checks/chars.py
  weblate/checks/defaults.py
  weblate/checks/tests/test_chars_checks.py
  weblate/settings_example.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Apply suggestions from code review
  weblate/checks/chars.py
  weblate/checks/tests/test_chars_checks.py
Due: py-join-comma

Apply suggestions from code review
  docs/snippets/checks-autogenerated.rst
  weblate/checks/chars.py
  weblate/checks/tests/test_chars_checks.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(github): create components through app imports
  weblate/templates/vcs/github_installation_detail.html
  weblate/trans/forms.py
  weblate/trans/models/component.py
  weblate/trans/tests/test_component.py
  weblate/trans/tests/test_create.py
  weblate/trans/tests/test_settings.py
  weblate/trans/views/create.py
  weblate/vcs/base.py
  weblate/vcs/github.py
  weblate/vcs/tests/test_github_models.py
  weblate/vcs/tests/test_github_views.py
  weblate/vcs/urls.py
  weblate/vcs/views.py
Due: py-join-comma

fix(renovate): Allow OpenTelemetry instrumentation beta releases
  .github/renovate.json
Due: none

fix(checks): run max-size check on source strings
  docs/changes.rst
  docs/snippets/checks-autogenerated.rst
  weblate/checks/management/commands/list_checks.py
  weblate/checks/render.py
  weblate/checks/tests/test_commands.py
  weblate/checks/tests/test_models.py
  weblate/checks/tests/test_render_checks.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(api): hide restricted component changes
  docs/changes.rst
  weblate/api/tests.py
  weblate/api/views.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

chore(renovate): group opentelemetry updates
  .github/renovate.json
Due: none

chore(l10n): update Spanish translation
  weblate/locale/es/LC_MESSAGES/django.po
Due: none

chore(l10n): update Vietnamese translation
  weblate/locale/vi/LC_MESSAGES/django.po
Due: none

chore(l10n): update Polish translation
  weblate/locale/pl/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Russian translation
  weblate/locale/ru/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Romanian translation
  weblate/locale/ro/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update German translation
  docs/locales/de/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Croatian translation
  weblate/locale/hr/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Arabic translation
  weblate/locale/ar/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Welsh translation
  docs/locales/cy/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Welsh translation
  weblate/locale/cy/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Finnish translation
  weblate/locale/fi/LC_MESSAGES/django.po
Due: none

chore(l10n): update Portuguese (Brazil) translation
  weblate/locale/pt_BR/LC_MESSAGES/django.po
Due: none

chore(l10n): update Finnish translation
  docs/locales/fi/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Czech translation
  weblate/locale/cs/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Dutch translation
  weblate/locale/nl/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Thai translation
  weblate/locale/th/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Belarusian (Latin script) translation
  weblate/locale/be_Latn/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Estonian translation
  weblate/locale/et/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Armenian translation
  weblate/locale/hy/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Bulgarian translation
  docs/locales/bg/LC_MESSAGES/docs.po
Due: none

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
