Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Slovenian)
  weblate/locale/sl/LC_MESSAGES/django.po
Due: none

Translated using Weblate (French)
  weblate/locale/fr/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Slovenian)
  docs/locales/sl/LC_MESSAGES/docs.po
Due: none

fix(ui): unmigrated templates fixes (#17261)
  weblate/legal/templates/legal/confirm.html
  weblate/static/style-dark.css
  weblate/static/styles/main.css
  weblate/templates/mail/style.css
  weblate/templates/manage/backups.html
Due: none

fix tests
  weblate/api/tests.py
Due: py-join-comma

feat: show absolute dates for more distant timestamps
  docs/changes.rst
  weblate/static/loader-bootstrap.js
  weblate/trans/templatetags/translations.py
  weblate/trans/tests/test_templatetags.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(vcs): simplify git remote update to persist shallow clones
  weblate/trans/models/component.py
  weblate/trans/views/create.py
  weblate/vcs/base.py
  weblate/vcs/git.py
  weblate/vcs/tests/test_vcs.py
Due: py-join-comma

Apply suggestions from code review
  weblate/trans/models/component.py
  weblate/vcs/git.py
Due: py-join-comma

feat(api): indicate pending changes in repository API endpoint (#17107)
  docs/specs/openapi.yaml
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/api/views.py
  weblate/trans/tests/test_remote.py
Due: py-join-comma

fix(vcs): simplify git remote update to persist shallow clones (#17278)
  weblate/trans/models/component.py
  weblate/trans/views/create.py
  weblate/vcs/base.py
  weblate/vcs/git.py
  weblate/vcs/tests/test_vcs.py
Due: py-join-comma

feat(component): track repository cleanup in the history
  weblate/trans/actions.py
  weblate/trans/migrations/0059_alter_change_action.py
  weblate/trans/models/component.py
Due: py-join-comma

fix(ui): fix comments rendering
  weblate/static/styles/main.css
  weblate/templates/list-comments.html
  weblate/templates/snippets/last-changes-content.html
  weblate/templates/snippets/suggestions.html
Due: none

presever existing parameters
  ci/run-migrate
  weblate/trans/file_format_params.py
  weblate/trans/migrations/0059_file_format_encoding.py
Due: py-join-comma

Fix migrations
  weblate/trans/migrations/0060_file_format_encoding.py
Due: py-join-comma

fix: update Google documentation links
  docs/admin/machine.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

fix invalid syntax in migration file
  weblate/trans/migrations/0060_file_format_encoding.py
Due: py-join-comma

fix(ui): fix comments rendering (#17285)
  weblate/static/styles/main.css
  weblate/templates/list-comments.html
  weblate/templates/snippets/last-changes-content.html
  weblate/templates/snippets/suggestions.html
Due: none

fix(ui): update dropdown and search icon styles
  weblate/static/style-dark.css
  weblate/static/styles/main.css
Due: none
