Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst containg double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|127\.0\.0\.1|user:password@proxy)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

fix: apply rate limiting to second factor
  docs/admin/optionals.rst
  weblate/accounts/views.py
Due: rst-double-space, rst-http

text improvements
  docs/security/issues.rst
Due: rst-double-space, rst-http

feat(docs): render OpenAPI documentation
  .github/workflows/api.yml
  .pre-commit-config.yaml
  REUSE.toml
  docs/Makefile
  docs/specs/openapi.yaml
Due: none

text syntax fix
  docs/admin/optionals.rst
Due: rst-double-space, rst-http

text polishing
  weblate/wladmin/apps.py
Due: none

rephrasing
  weblate/templates/manage/backups.html
Due: none

Update docs/admin/optionals.rst
  docs/admin/optionals.rst
Due: rst-double-space, rst-http

Update docs/security/issues.rst
  docs/security/issues.rst
Due: rst-double-space, rst-http

feat: improve reporting broken backups or unpaid subscriptions (#14890)
  weblate/templates/manage/backups.html
  weblate/templates/manage/index.html
  weblate/utils/checks.py
  weblate/utils/const.py
  weblate/wladmin/apps.py
  weblate/wladmin/models.py
Due: none

fix: update DeepL API Free glossary limits (#14888)
  docs/changes.rst
  weblate/machinery/base.py
  weblate/machinery/deepl.py
Due: rst-double-space, rst-http, rst-bullet-stop

feat(users): make invitation subject more describing (#14869)
  weblate/templates/mail/invite_subject.txt
  weblate/trans/tests/test_acl.py
Due: none

docs: add vulnerability disclosure policy (#14807)
  docs/security/issues.rst
Due: rst-double-space, rst-http

show a warning when component of the unit changes
  weblate/trans/views/edit.py
Due: none

fix: correctly detect newly added appstore metadata files
  docs/changes.rst
  weblate/glossary/tasks.py
  weblate/trans/models/component.py
  weblate/trans/models/translation.py
  weblate/trans/tasks.py
  weblate/trans/tests/test_newlang.py
  weblate/trans/tests/utils.py
  weblate/trans/views/basic.py
Due: rst-double-space, rst-http, rst-bullet-stop

fix: do not send authid parameter in saml backend
  weblate/accounts/views.py
Due: none

Translated using Weblate (Hungarian)
  weblate/locale/hu/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Portuguese)
  weblate/locale/pt/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Kabyle)
  weblate/locale/kab/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Kabyle)
  weblate/locale/kab/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Galician)
  docs/locales/gl/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Hungarian)
  docs/locales/hu/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Kabyle)
  docs/locales/kab/LC_MESSAGES/docs.po
Due: none

add test with billing disabled and missing permission
  weblate/api/tests.py
Due: none

override perform_create instead of create to simplify
  weblate/api/views.py
Due: none

fix(fonts): pass font weight for size rendering
  weblate/fonts/utils.py
Due: none

fix openai spec
  weblate/api/views.py
Due: none

feat: update service worker cache to remove unused routes
  weblate/templates/js/service-worker.js
Due: none

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock$
