Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

docs(docker): clarify WEB_WORKERS behavior
  docs/admin/install/docker.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

contact.html: Add class name to alert element
  weblate/templates/accounts/contact.html
Due: none

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  uv.lock
Due: none

fix(add-ons): remove stale XML customize add-on
  docs/changes.rst
  weblate/addons/migrations/0009_remove_migrated_customize_addons.py
  weblate/trans/migrations/0046_component_file_format_params.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Hide plus-button menu when user does not have any permissions
  weblate/templates/base.html
Due: none

fix(auth): shorten session expiry while in 2fa
  docs/admin/config.rst
  docs/changes.rst
  weblate/accounts/forms.py
  weblate/accounts/middleware.py
  weblate/accounts/pipeline.py
  weblate/accounts/utils.py
  weblate/auth/models.py
  weblate/settings_docker.py
  weblate/settings_example.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(api): typo in get_drf_standardized_errors_settings
  docs/changes.rst
  rundev.sh
  weblate/addons/consistency.py
  weblate/api/spectacular.py
  weblate/settings_docker.py
  weblate/settings_example.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

feat(auth): log failed 2fa attempts
  docs/changes.rst
  weblate/accounts/migrations/0019_alter_auditlog_activity.py
  weblate/accounts/models.py
  weblate/accounts/templatetags/authnames.py
  weblate/accounts/types.py
  weblate/accounts/utils.py
  weblate/accounts/views.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

feat(glosary): add help text to glossary term options
  weblate/trans/forms.py
Due: py-join-comma

docs: missing changelog entries (#15993)
  docs/changes.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Lithuanian)
  weblate/locale/lt/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Galician)
  weblate/locale/gl/LC_MESSAGES/django.po
Due: none

fix(stats): correctly update stats for shared components
  docs/changes.rst
  weblate/trans/models/__init__.py
  weblate/trans/models/project.py
  weblate/trans/tests/test_links.py
  weblate/utils/stats.py
  weblate/utils/tasks.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

chore: add type annotations
  weblate/addons/migrations/0007_update_autotranslate_filter_type.py
  weblate/addons/migrations/0009_remove_migrated_customize_addons.py
  weblate/trans/forms.py
  weblate/trans/migrations/0046_component_file_format_params.py
  weblate/trans/tests/test_changes.py
  weblate/trans/tests/test_file_format_params.py
  weblate/trans/tests/test_models.py
  weblate/trans/tests/test_settings.py
  weblate/trans/tests/test_views.py
  weblate/utils/hash.py
  weblate/vcs/ssh.py
  weblate/wladmin/sites.py
  weblate/wsgi.py
Due: py-join-comma

Update pyproject.toml
  pyproject.toml
Due: none

feat(dashboard): lazily load componentlist content
  docs/changes.rst
  weblate/templates/dashboard/componentlist.html
  weblate/templates/dashboard/user.html
  weblate/trans/models/componentlist.py
  weblate/trans/tests/test_dashboard.py
  weblate/trans/views/dashboard.py
  weblate/urls.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(checks): correctly exclude reference label from the check
  docs/changes.rst
  weblate/checks/markup.py
  weblate/checks/tests/test_markup_checks.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

chore: remove no longer needed links
  docs/contributing/modules.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

chore: releasing 5.13.1-rc
  docs/changes.rst
  weblate/utils/version.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(stats): fix aggegating stats across projects
  weblate/utils/stats.py
Due: py-join-comma
