Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

chore(l10n): update Spanish translation
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Bulgarian translation
  docs/locales/bg/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Arabic translation
  docs/locales/ar/LC_MESSAGES/docs.po
Due: none

mypy error fixes
  weblate/api/parsers.py
Due: py-join-comma

fix(formats): validate App Store metadata files
  docs/changes.rst
  weblate/formats/base.py
  weblate/formats/convert.py
  weblate/formats/tests/test_txt.py
  weblate/formats/ttkit.py
  weblate/formats/txt.py
  weblate/trans/models/component.py
  weblate/trans/models/translation.py
  weblate/trans/tests/test_component.py
  weblate/trans/tests/test_views.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(translations): protect reverts from CSRF
  docs/changes.rst
  weblate/templates/snippets/last-changes-content.html
  weblate/trans/tests/test_edit.py
  weblate/trans/tests/test_querystring.py
  weblate/trans/views/edit.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(access): hide blocked user emails
  docs/changes.rst
  weblate/templates/trans/project-access.html
  weblate/trans/tests/test_acl.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(translations): validate component settings before repository fetch
  docs/changes.rst
  weblate/trans/models/component.py
  weblate/trans/tests/test_component.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(glossary): accept explanation-only suggestion updates
  docs/changes.rst
  weblate/trans/tests/test_suggestions.py
  weblate/trans/views/edit.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

ci: avoid duplicate feature branch checks
  .github/workflows/api.yml
  .github/workflows/docs.yml
  .github/workflows/linkcheck.yml
  .github/workflows/macos.yml
  .github/workflows/migrations.yml
  .github/workflows/mypy.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pylint.yml
  .github/workflows/rundev.yml
  .github/workflows/setup.yml
  .github/workflows/test.yml
Due: none

fix(security): clean up rejected component uploads
  docs/changes.rst
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/api/views.py
  weblate/vcs/git.py
  weblate/vcs/tests/test_vcs.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(languages): prepare Norwegian Bokmål code migration
  docs/admin/languages.rst
  docs/changes.rst
  weblate/formats/base.py
  weblate/formats/tests/test_formats.py
  weblate/lang/data.py
  weblate/lang/models.py
  weblate/lang/test_language_move.py
  weblate/lang/tests.py
  weblate/machinery/apertium.py
  weblate/machinery/aws.py
  weblate/machinery/tests.py
  weblate/screenshots/tests.py
  weblate/screenshots/views.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

feat(api): Upload translation file content through APi (#21829)
  docs/api.rst
  docs/changes.rst
  weblate/api/parsers.py
  weblate/api/tests.py
  weblate/api/views.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix: add author language squash mode (#20031)
  docs/changes.rst
  docs/snippets/addons-autogenerated.rst
  weblate/addons/forms.py
  weblate/addons/git.py
  weblate/addons/tests.py
  weblate/templates/addons/squash_help.html
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(api): require color when creating labels
  docs/api.rst
  docs/specs/openapi.yaml
  weblate/api/serializers.py
  weblate/api/tests.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(auth): preserve partial confirmation data with social auth 6.1
  weblate/accounts/strategy.py
  weblate/trans/tests/test_acl.py
Due: py-join-comma

fix(translations): accept serialized parameter form initials
  weblate/trans/forms.py
  weblate/trans/tests/test_vcs_params.py
Due: py-join-comma

chore(l10n): update French translation
  weblate/locale/fr/LC_MESSAGES/django.po
Due: none

chore(l10n): update Dutch translation
  weblate/locale/nl/LC_MESSAGES/django.po
Due: none

chore(l10n): update Czech translation
  weblate/locale/cs/LC_MESSAGES/django.po
Due: none

chore(l10n): update Arabic translation
  weblate/locale/ar/LC_MESSAGES/django.po
Due: none

chore(l10n): update German translation
  weblate/locale/de/LC_MESSAGES/django.po
Due: none

chore(l10n): update Portuguese (Brazil) translation
  weblate/locale/pt_BR/LC_MESSAGES/django.po
Due: none

chore(l10n): update Korean translation
  weblate/locale/ko/LC_MESSAGES/django.po
Due: none

chore(l10n): update Dutch translation
  weblate/locale/nl/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Korean translation
  weblate/locale/ko/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Arabic translation
  weblate/locale/ar/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Chinese (Simplified Han script) translation
  weblate/locale/zh_Hans/LC_MESSAGES/django.po
Due: none

chore(l10n): update Bulgarian translation
  weblate/locale/bg/LC_MESSAGES/django.po
Due: none

fix(download): skip incompatible MO archive translations
  docs/changes.rst
  weblate/trans/tests/test_files.py
  weblate/trans/views/files.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

chore(l10n): update Czech translation
  docs/locales/cs/LC_MESSAGES/docs.po
Due: none
