Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst containg double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|127\.0\.0\.1|user:password@proxy)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

test: verify that check_id matches expectations
  weblate/checks/tests/test_models.py
Due: none

fix(add-ons): corrected squash add-on behavior on linked repos
  weblate/addons/git.py
Due: none

fix: improve whitespace highlighting
  weblate/trans/templatetags/translations.py
  weblate/trans/tests/test_templatetags.py
Due: none

fix(metric): optimize fetching metric
  weblate/metrics/wrapper.py
Due: none

chore: add type annotations to metric
  weblate/metrics/wrapper.py
Due: none

Translated using Weblate (Kabyle)
  weblate/locale/kab/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Danish)
  weblate/locale/da/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Danish)
  docs/locales/da/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Chinese (Simplified Han script))
  weblate/locale/zh_Hans/LC_MESSAGES/django.po
Due: none

deliver webhook message as separate task
  weblate/addons/tests.py
  weblate/addons/webhooks.py
  weblate/api/tasks.py
Due: none

chore: add myself as code owner
  .github/CODEOWNERS
Due: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Due: none

fix: do not show ghosts when paginating results
  weblate/trans/views/basic.py
Due: none

chore: disable automatic label sync
  .github/labels.yml
  .github/workflows/label-sync.yml
Due: none

docs: document changes
  docs/changes.rst
Due: rst-double-space, rst-http, rst-bullet-stop

docs: clarify translation memory usage
  docs/admin/memory.rst
Due: rst-double-space, rst-http

fix(search): corrected behavior of the implicit AND operator
  docs/changes.rst
  docs/user/search.rst
  weblate/utils/search.py
  weblate/utils/tests/test_search.py
Due: rst-double-space, rst-http, rst-bullet-stop

fix(add-ons): trigger add-on upon transaction commit
  docs/changes.rst
  weblate/addons/consistency.py
  weblate/addons/models.py
  weblate/addons/tasks.py
Due: rst-double-space, rst-http, rst-bullet-stop

fix(backups): correctly restore repos without refs
  docs/changes.rst
  weblate/trans/backups.py
  weblate/trans/tests/test_backups.py
  weblate/vcs/base.py
Due: rst-double-space, rst-http, rst-bullet-stop

docs: clarify prohibited initial character documentation
  docs/user/checks.rst
  weblate/checks/management/commands/list_checks.py
Due: rst-double-space, rst-http

chore: lower password length limit to 72 characters
  docs/changes.rst
  weblate/accounts/forms.py
  weblate/accounts/models.py
  weblate/accounts/password_validation.py
  weblate/settings_docker.py
  weblate/settings_example.py
Due: rst-double-space, rst-http, rst-bullet-stop

feat(auth): use django-zxcvbn-password-validator for zxcvbn integration
  docs/admin/auth.rst
  docs/admin/config.rst
  docs/admin/install/docker.rst
  docs/changes.rst
  pyproject.toml
  uv.lock
  weblate/settings_docker.py
  weblate/settings_example.py
Due: rst-double-space, rst-http, rst-bullet-stop

feat(checks): improved error messages from duplicate words check
  docs/user/checks.rst
  weblate/checks/duplicate.py
  weblate/checks/tests/test_duplicate_checks.py
Due: rst-double-space, rst-http

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock$
