Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Due: none

Update and rename weblate/checks/models.py to weblate/checks/weblate/checks/tests/test_format.py
  weblate/checks/weblate/checks/tests/test_format.py
Due: py-join-comma

docs: add more guidance on best practices in localization
  docs/devel/starting.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

initial implementation suggestion
  docs/formats/tbx.rst
  docs/snippets/format-features/tbx-features.rst
  weblate/formats/docs.py
  weblate/formats/management/__init__.py
  weblate/formats/management/commands/__init__.py
  weblate/formats/management/commands/list_format_features.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

basic supported features snippets generation
  expected.rst
  weblate/formats/base.py
  weblate/formats/convert.py
  weblate/formats/management/commands/list_format_features.py
  weblate/formats/ttkit.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

Add API identifiers, read-only strings and common extensions to features table
  weblate/formats/base.py
  weblate/formats/management/commands/list_format_features.py
  weblate/formats/tests/test_commands.py
  weblate/formats/ttkit.py
  weblate/utils/management/base.py
Due: py-join-comma

changelog update
  docs/Makefile
  docs/admin/management.rst
  docs/changes.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

delete one file to test auto-update
  docs/snippets/format-features/po-mono-features.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

Add ChecksLoader and WeblateChecksConf classes
  weblate/checks/models.py
Due: py-join-comma

Add ObjCFormatCheck to format checks list
  weblate/checks/models.py
Due: py-join-comma

Translated using Weblate (Czech)
  docs/locales/cs/LC_MESSAGES/docs.po
Due: none

Delete weblate/checks/weblate/checks/tests/test_format.py
  weblate/checks/weblate/checks/tests/test_format.py
Due: py-join-comma

Add ObjCFormatTest for Objective-C format checks
  weblate/checks/tests/test_format_checks.py
Due: py-join-comma

Fix formatting issue in checks/models.py
  weblate/checks/models.py
Due: py-join-comma

Add check for Objective-C format strings
  docs/changes.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

Document Objective-C format string checks
  docs/user/checks.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

Fix formatting of Objective-C check description
  docs/user/checks.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

Apply suggestion from @Copilot
  weblate/checks/format.py
Due: py-join-comma

Add additional format checks in ObjCFormatTest
  weblate/checks/tests/test_format_checks.py
Due: py-join-comma

replace SUPPORTS_FUZZY with file format additional_states flag
  expected.rst
  weblate/formats/management/commands/list_format_features.py
  weblate/formats/ttkit.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

docs: Documentation snippets update
  docs/snippets/format-features/po-mono-features.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

Fix #14129: Correct HTML nesting for glossary terms in search results
  weblate/trans/templatetags/translations.py
  weblate/trans/tests/test_templatetags.py
Due: py-join-comma

fix(add-ons): gracefully handle no longer existing add-ons
  docs/contributing/addons.rst
  weblate/addons/tests.py
  weblate/addons/views.py
  weblate/templates/addons/addon_detail.html
  weblate/templates/addons/addon_logs.html
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

Apply suggestion from @nijel
  docs/changes.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

docs: update agents instructions
  .github/copilot-instructions.md
  AGENTS.md
  REUSE.toml
  docs/contributing/snippets/code-guide.rst
  docs/contributing/tests.rst
  pyproject.toml
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

Apply suggestion from @nijel
  weblate/checks/markup.py
Due: py-join-comma

Update docs/changes.rst
  docs/changes.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

Drop unnecessary copy for notification initial data
  weblate/accounts/tests/test_views.py
  weblate/accounts/views.py
Due: py-join-comma

chore: add argos ci badge
  README.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

chore: add argos mention to the docs
  docs/contributing/tests.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

fix spacing punctuation fix to ignore placeholders
  weblate/checks/chars.py
  weblate/checks/tests/test_chars_checks.py
  weblate/trans/autofixes/chars.py
  weblate/trans/tests/test_autofix.py
Due: py-join-comma

replace strip_format uses with highlight_string
  weblate/checks/duplicate.py
  weblate/checks/same.py
  weblate/checks/tests/test_duplicate_checks.py
  weblate/checks/tests/test_same_checks.py
  weblate/checks/tests/test_utils.py
  weblate/checks/utils.py
Due: py-join-comma

changelog update
  docs/changes.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

Make notification fallback test assert form context
  weblate/accounts/tests/test_views.py
Due: py-join-comma

fix include statetement typo
  docs/formats/tbx.rst
  docs/formats/xliff2.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list
