Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pyupgrade, black, flake8, blacken-docs

isort:
  name: isort
  entry: isort
  language: system

pyupgrade:
  name: pyupgrade
  entry: pyupgrade --py36-plus
  language: system

black:
  name: black
  entry: black
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system

Update api.rst
  docs/api.rst
Due: blacken-docs

Fix typo: enfornce -> enforce
  docs/admin/projects.rst
Due: blacken-docs

Machinery: Update list of Amazon Translate languages
  docs/changes.rst
  scripts/generate-aws-languages
  weblate/machinery/aws.py
Due: isort, pyupgrade, black, flake8, blacken-docs

Update docs/user/translating.rst
  docs/user/translating.rst
Due: blacken-docs

Notifications: Improve license change notification
  weblate/templates/mail/component_license.html
Due: none

Changes: Display license changes more verbosely
  weblate/templates/mail/component_license.html
  weblate/trans/models/change.py
Due: isort, pyupgrade, black, flake8, blacken-docs

Changes: Localize N/A label for license
  weblate/trans/models/change.py
Due: isort, pyupgrade, black, flake8, blacken-docs

Translated using Weblate (Ukrainian)
  weblate/locale/uk/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Catalan)
  weblate/locale/ca/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Japanese)
  weblate/locale/ja/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Serbian)
  weblate/locale/sr/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Polish)
  weblate/locale/pl/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Catalan)
  docs/locales/ca/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Ukrainian)
  docs/locales/uk/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Dutch)
  weblate/locale/nl/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Croatian)
  weblate/locale/hr/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Turkish)
  weblate/locale/tr/LC_MESSAGES/django.po
Due: none

Translated using Weblate (French)
  weblate/locale/fr/LC_MESSAGES/django.po
Due: none

Translated using Weblate (German)
  weblate/locale/de/LC_MESSAGES/django.po
Due: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Hebrew)
  docs/locales/he/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Croatian)
  docs/locales/hr/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Serbian)
  docs/locales/sr/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Chinese (Simplified))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Polish)
  docs/locales/pl/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Dutch)
  docs/locales/nl/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Turkish)
  docs/locales/tr/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Hebrew)
  weblate/locale/he/LC_MESSAGES/django.po
Due: none

Update addons.rst
  docs/admin/addons.rst
Due: blacken-docs

Path conditions:
  isort: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*$
  pyupgrade: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*$
  black: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*$
  flake8: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*$
  blacken-docs: any of: \.(rst|md|markdown|py|tex)$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*$
