Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst contaning double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|anubis|127\.0\.0\.1|user:password@proxy|libretranslate:)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

rst-seealso-inline:
  name: seealso should use block
  entry: '^\.\. seealso:: .*$'
  language: pygrep

rst-seealso-list:
  name: seealso shoud use list for multiple lins
  args:
  - --multiline
  entry: ^\.\. seealso::\n\n(   *[:`*][^\n]*\n)*   *[:`*][^\n]*,
  language: pygrep

py-join-comma:
  name: Localized comma in join
  args:
  - --multiline
  entry: format_html_join\(\s*", "
  language: pygrep

fix(memory): use correct language code in the error
  weblate/memory/models.py
Due: py-join-comma

chore(edit): improve type annotations for automatic translation
  weblate/addons/autotranslate.py
  weblate/api/views.py
  weblate/checks/tests/test_models.py
  weblate/trans/autotranslate.py
  weblate/trans/management/commands/auto_translate.py
  weblate/trans/tasks.py
  weblate/trans/tests/test_autotranslate.py
  weblate/trans/views/edit.py
Due: py-join-comma

chore(backups): remove checking for database features
  weblate/trans/backups.py
  weblate/trans/models/component.py
  weblate/trans/tests/test_backups.py
Due: py-join-comma

feat(manage): add help text to SSH add form
  weblate/wladmin/forms.py
Due: py-join-comma

fix(ui): make unsaved changes text readable in light theme
  weblate/static/styles/main.css
Due: none

feat(api): add email filter to /api/users endpoint
  docs/api.rst
  weblate/api/tests.py
  weblate/api/views.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(unit): avoid pending changes cleanup for created units
  weblate/trans/models/unit.py
Due: py-join-comma

fix(stats): gracefully handle nested categories in category/language
  weblate/utils/stats.py
Due: py-join-comma

feat(ssh): make it easier to verify key fingerprint
  weblate/trans/tests/data/ssh-keyscan
  weblate/vcs/ssh.py
  weblate/wladmin/forms.py
  weblate/wladmin/tests.py
  weblate/wladmin/views.py
Due: py-join-comma

chore(formats): enable type checking
  .github/workflows/mypy.yml
  weblate/formats/auto.py
  weblate/formats/base.py
  weblate/formats/convert.py
  weblate/formats/external.py
  weblate/formats/tests/test_convert.py
  weblate/formats/tests/test_external.py
  weblate/formats/tests/test_formats.py
  weblate/formats/tests/test_txt.py
  weblate/formats/ttkit.py
  weblate/formats/txt.py
  weblate/trans/file_format_params.py
  weblate/trans/util.py
Due: py-join-comma

chore(js): update vendored libraries
  client/yarn.lock
Due: none

fix(change): do not show blank reject reason
  weblate/trans/change_display.py
Due: py-join-comma

fix(checks): consider only translated changes for translated check
  weblate/checks/consistency.py
Due: py-join-comma

feat(unit): better report repository origin of automatic translation
  weblate/templates/translate.html
Due: none

Translated using Weblate (Slovenian)
  weblate/locale/sl/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  docs/locales/nb/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Ukrainian)
  weblate/locale/uk/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Hebrew)
  docs/locales/he/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  weblate/locale/nb/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Ukrainian)
  docs/locales/uk/LC_MESSAGES/docs.po
Due: none

fix(templates): corrected template errors
  weblate/templates/accounts/profile.html
  weblate/templates/component.html
  weblate/templates/project.html
  weblate/templates/snippets/query-builder.html
  weblate/templates/translate.html
  weblate/templates/translation.html
Due: none

chore(deps): remove crispy-bootstrap3
  pyproject.toml
  uv.lock
Due: none

chore: drop no longer needed inline field customization
  weblate/templates/bootstrap5/layout/inline_field.html
Due: none

chore: modernize help_text template
  weblate/templates/bootstrap5/layout/help_text.html
Due: none

chore: remove Django 5.x compatibility from radio template
  weblate/templates/bootstrap5/layout/radio_checkbox_select.html
Due: none

chore(ci): remove explicit Django settings for django-upgrade
  .pre-commit-config.yaml
  weblate/settings_docker.py
  weblate/settings_example.py
Due: py-join-comma

chore: add type override for too strict annotation
  weblate/formats/convert.py
Due: py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
