Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

tests: extend vcs operation tests (#16704)
  weblate/trans/models/component.py
  weblate/trans/tests/test_git_views.py
  weblate/trans/tests/test_views.py
Due: py-join-comma

fix(backup): silently ignore not existing services
  weblate/wladmin/tasks.py
Due: py-join-comma

fix(ui); fix keyboard shortcuts modal appearance and general modal handling
  weblate/static/js/keyboard-shortcuts.js
  weblate/static/styles/main.css
  weblate/templates/base5.html
  weblate/templates/keyboard-shortcuts5.html
Due: none

fix(biom): remove obsolete setting experimentalScannerIgnores
  biome.json
Due: none

fix(auth): sync project teams when review configuration changes
  weblate/auth/models.py
  weblate/trans/models/project.py
  weblate/trans/tests/test_models.py
  weblate/utils/stats.py
Due: py-join-comma

docs: document data residency for Weblate services
  docs/index.rst
  docs/security/data-residency.rst
  docs/security/index.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

Update docs/security/data-residency.rst
  docs/security/data-residency.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

Translated using Weblate (Slovak)
  weblate/locale/sk/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Dutch)
  weblate/locale/nl/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Belarusian)
  weblate/locale/be/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Japanese)
  weblate/locale/ja/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Dutch)
  docs/locales/nl/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  docs/locales/pt_BR/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Slovak)
  docs/locales/sk/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Irish)
  docs/locales/ga/LC_MESSAGES/docs.po
Due: none

docs: document data residency for Weblate services (#16713)
  docs/index.rst
  docs/security/data-residency.rst
  docs/security/index.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

Trương Minh Điền
  docs/index.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

Update 5.11.rst
  docs/changes/contributors/5.11.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

chore(js): update vendored libraries
  client/yarn.lock
Due: none
