Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst contaning double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|anubis|127\.0\.0\.1|user:password@proxy|libretranslate:)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

rst-seealso-inline:
  name: seealso should use block
  entry: '^\.\. seealso:: .*$'
  language: pygrep

rst-seealso-list:
  name: seealso shoud use list for multiple lins
  args:
  - --multiline
  entry: ^\.\. seealso::\n\n(   *[:`*][^\n]*\n)*   *[:`*][^\n]*,
  language: pygrep

py-join-comma:
  name: Localized comma in join
  args:
  - --multiline
  entry: format_html_join\(\s*", "
  language: pygrep

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Polish)
  weblate/locale/pl/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Croatian)
  docs/locales/hr/LC_MESSAGES/docs.po
Due: none

feat(formats): add support for AsciiDoc (#18075)
  docs/changes.rst
  docs/formats/asciidoc.rst
  docs/snippets/file-format-parameters.rst
  docs/specs/openapi.yaml
  weblate/formats/convert.py
  weblate/formats/models.py
  weblate/formats/tests/test_convert.py
  weblate/trans/file_format_params.py
  weblate/trans/tests/data/cs.adoc
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

docs: format HTTP headers as such
  docs/admin/addons.rst
Due: rst-http, rst-seealso-inline, rst-seealso-list

fix: use anonymous user for query parsing
  weblate/utils/forms.py
Due: py-join-comma

fix(formats): hold markdown lock for parsing
  weblate/formats/convert.py
  weblate/utils/concurrency.py
  weblate/utils/markdown.py
Due: py-join-comma

fix(utils): gracefully handle negative ranges in inv_regex
  weblate/utils/inv_regex.py
  weblate/utils/tests/test_inv_regex.py
Due: py-join-comma

Update weblate/trans/models/_conf.py
  weblate/trans/models/_conf.py
Due: py-join-comma

Update docs/admin/config.rst
  docs/admin/config.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

Update weblate/trans/tests/test_alert.py
  weblate/trans/tests/test_alert.py
Due: py-join-comma

fix(utils): explicitely pass sorting parameters
  weblate/trans/views/basic.py
  weblate/utils/views.py
Due: py-join-comma

fix(unit): skip source update on unit create
  weblate/trans/models/unit.py
Due: py-join-comma

fix(check): simplify long untranslated batch query
  weblate/checks/source.py
Due: py-join-comma

feat(ui): update color mode js
  weblate/static/loader-bootstrap.js
  weblate/templates/base.html
Due: none

docs: Documentation snippets update
  weblate/static/loader-bootstrap.js
Due: none

fix(editor): update modal event handlers for memory deletion dialog
  weblate/static/editor/full.js
Due: none

feat: verify 2fa before changing password
  weblate/accounts/utils.py
  weblate/accounts/views.py
Due: py-join-comma

fix(files): better error message on replace upload
  weblate/trans/models/translation.py
  weblate/trans/tests/test_files.py
  weblate/trans/views/files.py
Due: py-join-comma

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Czech)
  docs/locales/cs/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Hungarian)
  weblate/locale/hu/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Dutch)
  docs/locales/nl/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Hebrew)
  weblate/locale/he/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  weblate/locale/pt_BR/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  docs/locales/pt_BR/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Dutch)
  weblate/locale/nl/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Hungarian)
  docs/locales/hu/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Dutch)
  weblate/locale/nl/LC_MESSAGES/djangojs.po
Due: none

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
