Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst contaning double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|anubis|127\.0\.0\.1|user:password@proxy|libretranslate:)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

rst-seealso-inline:
  name: seealso should use block
  entry: '^\.\. seealso:: .*$'
  language: pygrep

rst-seealso-list:
  name: seealso shoud use list for multiple lins
  args:
  - --multiline
  entry: ^\.\. seealso::\n\n(   *[:`*][^\n]*\n)*   *[:`*][^\n]*,
  language: pygrep

py-join-comma:
  name: Localized comma in join
  args:
  - --multiline
  entry: format_html_join\(\s*", "
  language: pygrep

tests: add test for stop behavior in French
  weblate/checks/tests/test_chars_checks.py
Due: py-join-comma

feat(add-ons): allow install webhook add-ons multiple times
  docs/changes.rst
  weblate/addons/webhooks.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

chore: drop support for Python 3.11
  .github/workflows/test.yml
  ci/pip-install
  docs/admin/install.rst
  docs/changes.rst
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  pyproject.toml
  setup.py
  uv.lock
  weblate/formats/base.py
  weblate/machinery/types.py
  weblate/utils/classloader.py
  weblate/utils/files.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(unit): avoid crash on invalid flags
  weblate/trans/models/unit.py
Due: py-join-comma

Translated using Weblate (Portuguese)
  docs/locales/pt/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Arabic)
  weblate/locale/ar/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Arabic)
  docs/locales/ar/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Korean)
  weblate/locale/ko/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Esperanto)
  weblate/locale/eo/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Swedish)
  weblate/locale/sv/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Swedish)
  docs/locales/sv/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Portuguese)
  weblate/locale/pt/LC_MESSAGES/django.po
Due: none

feat: use askalono to detect licenses
  docs/admin/install.rst
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  pyproject.toml
  uv.lock
  weblate/trans/views/create.py
  weblate/utils/licenses.py
  weblate/utils/tests/test_licenses.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

feat: use askalono to detect licenses (#17045)
  docs/admin/install.rst
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  pyproject.toml
  uv.lock
  weblate/trans/views/create.py
  weblate/utils/licenses.py
  weblate/utils/tests/test_licenses.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

Fix som bugs: - remove the temporary html file when the translation is removed. - fix minor auto translation bug.
  weblate/trans/autobatchtranslate.py
  weblate/trans/models/__init__.py
  weblate/trans/models/translation.py
Due: py-join-comma

address changes from code review
  docs/user/search.rst
  weblate/templates/snippets/query-builder.html
  weblate/templates/translate.html
  weblate/trans/models/project.py
  weblate/trans/models/unit.py
  weblate/trans/tests/test_search.py
  weblate/utils/search.py
  weblate/utils/tests/test_search.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

remove LabelsField
  weblate/trans/migrations/0001_squashed_weblate_5.py
  weblate/trans/models/unit.py
Due: py-join-comma

fix(machinery): do not interpret replacement string for placeholders
  weblate/machinery/base.py
  weblate/machinery/dummy.py
  weblate/machinery/tests.py
Due: py-join-comma

Update weblate/accounts/tests/test_middleware.py
  weblate/accounts/tests/test_middleware.py
Due: py-join-comma

fix(ui): update styles to use badges instead of labels and adjust color edit input styles
  weblate/static/styles/main.css
  weblate/static/styles/variables.css
  weblate/templates/bootstrap5/layout/radio_checkbox_select.html
  weblate/templates/bootstrap5/layout/radioselect.html
  weblate/templates/mail/base.html
  weblate/templates/manage/backups.html
  weblate/templates/project-labels.html
  weblate/templates/snippets/glossary-badge.html
  weblate/templates/translate.html
Due: none

fix: lint
  weblate/templates/bootstrap5/layout/radio_checkbox_select.html
Due: none

Apply suggestion from @nijel
  weblate/accounts/tests/test_middleware.py
Due: py-join-comma

Apply suggestion from @nijel
  docs/changes.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
