Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

feat(translation): bulk create source strings while parsing
  weblate/trans/management/commands/import_demo.py
  weblate/trans/models/component.py
  weblate/trans/models/translation.py
  weblate/trans/models/unit.py
  weblate/trans/tests/test_component.py
Due: py-join-comma

chore(tests): convert assertRaises uses to contexts
  weblate/trans/tests/test_component.py
Due: py-join-comma

fix(api): improved permission denied handling
  docs/changes.rst
  weblate/api/serializers.py
  weblate/api/views.py
  weblate/auth/models.py
  weblate/auth/permissions.py
  weblate/auth/results.py
  weblate/trans/models/unit.py
  weblate/trans/util.py
Due: rst-double-space, rst-http, rst-bullet-stop, py-join-comma

chore: add type annotations to permission checks
  weblate/auth/permissions.py
  weblate/memory/views.py
Due: py-join-comma

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Estonian)
  weblate/locale/et/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Estonian)
  weblate/locale/et/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Estonian)
  docs/locales/et/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Due: none

new list_file_format_params
  docs/admin/management.rst
  docs/contributing/documentation.rst
  weblate/trans/forms.py
  weblate/trans/management/commands/list_file_format_params.py
Due: rst-double-space, rst-http, py-join-comma

fix(component): pass acting user to background translation sync
  weblate/trans/models/component.py
  weblate/trans/tasks.py
Due: py-join-comma

fix: make sure dev Docker start-dev is always using unix EOL
  .gitattributes
Due: none

fix(actions): add label for unmilestoned issues
  .github/workflows/issue-milestoned.yml
Due: none

feat: show source note if explanation is not available
  weblate/templates/translate.html
Due: none

Translated using Weblate (Ukrainian)
  weblate/locale/uk/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Polish)
  weblate/locale/pl/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Galician)
  weblate/locale/gl/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Portuguese)
  weblate/locale/pt/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Turkish)
  weblate/locale/tr/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Ukrainian)
  weblate/locale/uk/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Polish)
  weblate/locale/pl/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (French)
  weblate/locale/fr/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Finnish)
  weblate/locale/fi/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Indonesian)
  weblate/locale/id/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Slovak)
  weblate/locale/sk/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/djangojs.po
Due: none
