Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst contaning double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|anubis|127\.0\.0\.1|user:password@proxy|libretranslate:)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

rst-seealso-inline:
  name: seealso should use block
  entry: '^\.\. seealso:: .*$'
  language: pygrep

rst-seealso-list:
  name: seealso shoud use list for multiple lins
  args:
  - --multiline
  entry: ^\.\. seealso::\n\n(   *[:`*][^\n]*\n)*   *[:`*][^\n]*,
  language: pygrep

py-join-comma:
  name: Localized comma in join
  args:
  - --multiline
  entry: format_html_join\(\s*", "
  language: pygrep

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Chinese (Traditional Han script))
  docs/locales/zh_Hant/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Slovak)
  weblate/locale/sk/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Slovak)
  docs/locales/sk/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Ukrainian)
  docs/locales/uk/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Hebrew)
  weblate/locale/he/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Dutch)
  weblate/locale/nl/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Irish)
  weblate/locale/ga/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Due: none

Apply suggestions from code review
  weblate/trans/file_format_params.py
Due: py-join-comma

feat(ci): run docker tests on arm
  .github/workflows/rundev.yml
Due: none

fix: update altcha verification to use hmac_secret keyword argument
  weblate/accounts/forms.py
Due: py-join-comma

feat(deps): update altcha api to v2 and altcha widget to 3.0
  client/package.json
  client/webpack.config.js
  docs/admin/config.rst
  weblate/accounts/captcha.py
  weblate/accounts/forms.py
  weblate/accounts/models.py
  weblate/accounts/tests/test_captcha.py
  weblate/accounts/tests/test_registration.py
  weblate/static/js/vendor/altcha.js
  weblate/static/js/vendor/altcha.js.license
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

docs: add changelog entry for the altcha migration
  docs/changes.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

chore(ci): show git svn version in the logs
  ci/lib.sh
  ci/print-versions
Due: none

Apply suggestion from @nijel
  weblate/trans/file_format_params.py
Due: py-join-comma

fix(files): consolidate error handling on file upload
  docs/changes.rst
  weblate/api/tests.py
  weblate/api/views.py
  weblate/trans/models/translation.py
  weblate/trans/tests/test_files.py
  weblate/trans/util.py
  weblate/trans/views/files.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(add-ons): avoid repeated fetching of activity log for updating
  weblate/addons/models.py
  weblate/addons/tasks.py
  weblate/addons/tests.py
Due: py-join-comma

feat(machinery): extend context for LLM based engines
  docs/admin/machine.rst
  docs/changes.rst
  docs/snippets/machines-autogenerated.rst
  weblate/machinery/base.py
  weblate/machinery/llm.py
  weblate/machinery/management/commands/list_machinery.py
  weblate/machinery/tests.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

dark theme overrides for new multi select widget
  weblate/static/style-dark.css
Due: none

fix(tests): extend tests for restricted components
  weblate/trans/tests/test_edit.py
Due: py-join-comma

feat(models): track project and component changes
  docs/changes.rst
  weblate/trans/actions.py
  weblate/trans/change_display.py
  weblate/trans/forms.py
  weblate/trans/migrations/0075_setting_change_history.py
  weblate/trans/models/audit.py
  weblate/trans/models/component.py
  weblate/trans/models/project.py
  weblate/trans/tests/test_settings.py
  weblate/trans/views/settings.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
