Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst contaning double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|anubis|127\.0\.0\.1|user:password@proxy|libretranslate:)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

rst-seealso-inline:
  name: seealso should use block
  entry: '^\.\. seealso:: .*$'
  language: pygrep

rst-seealso-list:
  name: seealso shoud use list for multiple lins
  args:
  - --multiline
  entry: ^\.\. seealso::\n\n(   *[:`*][^\n]*\n)*   *[:`*][^\n]*,
  language: pygrep

py-join-comma:
  name: Localized comma in join
  args:
  - --multiline
  entry: format_html_join\(\s*", "
  language: pygrep

feat(automation): add AI quality evaluation action
  docs/admin/automation.rst
  docs/specs/automation.schema.json
  weblate/addons/ai.py
  weblate/automation/operations.py
  weblate/automation/test_automation.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

chore(js): update vendored libraries
  weblate/static/js/vendor/sentry.js
Due: none

feat(api): allow background automatic translation
  docs/api.rst
  docs/changes.rst
  docs/specs/openapi.yaml
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/api/views.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(l10n): correct Arabic project count
  weblate/locale/ar/LC_MESSAGES/django.po
Due: none

feat(backup): preserve repoweb_translations in project backups
  weblate/trans/backups.py
  weblate/trans/tests/test_backups.py
Due: py-join-comma

fix: use translation browser for all translation files
  docs/admin/projects.rst
  weblate/accounts/notifications.py
  weblate/accounts/tests/test_notifications.py
  weblate/trans/alerts/config.py
  weblate/trans/tests/test_alert.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

feat(kotlin-sdk): clarify CDN integration setup
  docs/admin/addons.rst
  docs/admin/config.rst
  docs/snippets/addons-autogenerated.rst
  weblate/addons/tests.py
  weblate/addons/views.py
  weblate/kotlin_sdk/addons.py
  weblate/kotlin_sdk/tests.py
  weblate/templates/addons/addon_api.html
  weblate/templates/addons/addon_base.html
  weblate/templates/addons/addon_detail.html
  weblate/templates/addons/cdnfiles.html
  weblate/templates/addons/cdnjs.html
  weblate/templates/addons/kotlin.html
  weblate/urls.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(l10n): correct Vietnamese passkey terminology
  weblate/locale/vi/LC_MESSAGES/django.po
Due: none

fix(l10n): align Vietnamese WebAuthn login terms
  weblate/locale/vi/LC_MESSAGES/django.po
Due: none

test: narrow Markdown link match for mypy
  weblate/utils/tests/test_html.py
Due: py-join-comma

fix(accounts): show expired login badge for subscriptions
  weblate/accounts/tests/test_views.py
  weblate/templates/accounts/snippets/login-title.html
Due: py-join-comma

fix(notifications): render plain-text email with turbohtml
  docs/changes.rst
  docs/conf.py
  pyproject.toml
  uv.lock
  weblate/accounts/tasks.py
  weblate/accounts/tests/test_notifications.py
  weblate/utils/html.py
  weblate/utils/requirements.py
  weblate/utils/tests/test_html.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

feat(machinery): identify LLM suggestion origins
  docs/changes.rst
  weblate/machinery/anthropic.py
  weblate/machinery/llm.py
  weblate/machinery/mistral.py
  weblate/machinery/ollama.py
  weblate/machinery/openai.py
  weblate/machinery/tests.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(security): scope VCS metadata filtering
  docs/changes.rst
  weblate/addons/tests.py
  weblate/api/tests.py
  weblate/trans/component_copy.py
  weblate/trans/discovery.py
  weblate/trans/management/commands/import_project.py
  weblate/trans/tasks.py
  weblate/trans/tests/test_commands.py
  weblate/trans/tests/test_discovery.py
  weblate/trans/tests/test_tasks.py
  weblate/trans/tests/test_views.py
  weblate/utils/files.py
  weblate/utils/tests/test_files.py
  weblate/utils/tests/test_validators.py
  weblate/utils/validators.py
  weblate/utils/views.py
  weblate/utils/zip.py
  weblate/vcs/base.py
  weblate/vcs/git.py
  weblate/vcs/tests/test_vcs.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(api): honor language-scoped download permissions
  docs/api.rst
  docs/changes.rst
  docs/specs/openapi.yaml
  weblate/api/tests.py
  weblate/api/views.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(security): make rate limit reservations atomic
  docs/admin/optionals.rst
  docs/changes.rst
  weblate/utils/ratelimit.py
  weblate/utils/tests/test_ratelimit.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

feat(accounts): add configurable AVATAR_URL_TEMPLATE setting
  docs/admin/config.rst
  docs/admin/install/docker.rst
  docs/changes.rst
  weblate/accounts/avatar.py
  weblate/accounts/defaults.py
  weblate/accounts/models.py
  weblate/accounts/tests/test_avatars.py
  weblate/settings_docker.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(accounts): add username placeholder to AVATAR_URL_TEMPLATE context
  docs/admin/config.rst
  weblate/accounts/apps.py
  weblate/accounts/avatar.py
  weblate/accounts/tests/test_avatars.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(checks): Detect untranslated Markdown link titles (#21494)
  docs/changes.rst
  docs/snippets/checks-autogenerated.rst
  weblate/checks/markup.py
  weblate/checks/tests/test_markup_checks.py
  weblate/utils/html.py
  weblate/utils/tests/test_html.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

test fix
  weblate/static/editor/zen.js
  weblate/templates/zen.html
  weblate/trans/tests/test_selenium.py
Due: py-join-comma

chore(l10n): update Spanish translation
  weblate/locale/es/LC_MESSAGES/django.po
Due: none

chore(l10n): update German translation
  weblate/locale/de/LC_MESSAGES/django.po
Due: none

chore(l10n): update Spanish translation
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

chore(l10n): update German translation
  docs/locales/de/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Dutch translation
  docs/locales/nl/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Russian translation
  docs/locales/ru/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Asturian translation
  weblate/locale/ast/LC_MESSAGES/django.po
Due: none

chore(l10n): update Russian translation
  weblate/locale/ru/LC_MESSAGES/django.po
Due: none

chore(l10n): update Arabic translation
  weblate/locale/ar/LC_MESSAGES/django.po
Due: none

chore(l10n): update Thai translation
  weblate/locale/th/LC_MESSAGES/django.po
Due: none

chore(l10n): update Galician translation
  weblate/locale/gl/LC_MESSAGES/django.po
Due: none

chore(l10n): update Portuguese translation
  weblate/locale/pt/LC_MESSAGES/django.po
Due: none

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
