Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

update fuzzy states to use in various cases
  weblate/addons/flags.py
  weblate/addons/generate.py
  weblate/addons/tests.py
  weblate/api/tests.py
  weblate/api/views.py
  weblate/trans/autotranslate.py
  weblate/trans/models/comment.py
  weblate/trans/models/component.py
  weblate/trans/models/translation.py
  weblate/trans/models/unit.py
  weblate/trans/views/edit.py
Due: py-join-comma

add migration
  weblate/trans/migrations/0062_alter_pendingunitchange_state_and_more.py
Due: py-join-comma

fix tests
  weblate/api/tests.py
  weblate/trans/models/unit.py
  weblate/trans/tests/test_edit.py
Due: py-join-comma

remove todos
  weblate/trans/autotranslate.py
  weblate/trans/models/translation.py
Due: py-join-comma

Translated using Weblate (Greek)
  weblate/locale/el/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Portuguese)
  weblate/locale/pt/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Greek)
  docs/locales/el/LC_MESSAGES/docs.po
Due: none

fix(formats): corrected subtitle max length
  weblate/formats/txt.py
Due: py-join-comma

chore: remove unused argument from naturaltime
  weblate/trans/templatetags/translations.py
Due: py-join-comma

Fix for Duplication in regular expression character class
  weblate/checks/markup.py
Due: py-join-comma

Fix for Duplication in regular expression character class
  weblate/checks/same.py
Due: py-join-comma

chore: fix test result formatting
  weblate/lang/tests.py
Due: py-join-comma

fix(checks): Fix for Duplication in regular expression character class (#17415)
  weblate/checks/same.py
Due: py-join-comma

fix(ui): file format params checkbox
  weblate/trans/file_format_params.py
Due: py-join-comma

fix(bulk-edit): mark units as not automatically_translated
  weblate/trans/bulk.py
  weblate/trans/tests/test_search.py
Due: py-join-comma

fix(permission): make announcement.delete a real permission
  docs/admin/access.rst
  docs/changes.rst
  weblate/auth/data.py
  weblate/auth/permissions.py
  weblate/trans/templatetags/translations.py
  weblate/trans/tests/test_manage.py
  weblate/trans/views/settings.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Due: none

Translated using Weblate (English (United Kingdom))
  weblate/locale/en_GB/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Catalan)
  docs/locales/ca/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Catalan)
  weblate/locale/ca/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Czech)
  docs/locales/cs/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Catalan)
  weblate/locale/ca/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Due: none
