Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

add help text for note field in UserBlockForm
  weblate/trans/forms.py
Due: py-join-comma

feat(label): add change events for label assignment and removal
  weblate/api/tests.py
  weblate/api/views.py
  weblate/trans/actions.py
  weblate/trans/bulk.py
  weblate/trans/forms.py
  weblate/trans/migrations/0056_alter_change_action.py
  weblate/trans/models/comment.py
  weblate/trans/models/unit.py
  weblate/trans/tests/test_labels.py
Due: py-join-comma

fix(checks): use same prefix for filtering
  weblate/checks/source.py
Due: py-join-comma

fix(migration): remove no longer needed migration
  weblate/trans/migrations/0052_unit_automatically_translated_alter_unit_labels.py
Due: py-join-comma

fix(vcs): sanitize mercurial error messages
  weblate/vcs/base.py
  weblate/vcs/mercurial.py
Due: py-join-comma

feat: restrict user full name
  weblate/utils/tests/test_validators.py
  weblate/utils/validators.py
Due: py-join-comma

fix(auth): add homoglyph validation
  docs/changes.rst
  pyproject.toml
  uv.lock
  weblate/utils/tests/test_validators.py
  weblate/utils/validators.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

feat(vcs): extended filtering of allowed VCS URLs
  docs/admin/config.rst
  docs/admin/install/docker.rst
  docs/changes.rst
  weblate/settings_docker.py
  weblate/settings_test.py
  weblate/trans/migrations/0056_alter_component_push_alter_component_repo.py
  weblate/trans/models/component.py
  weblate/utils/tests/test_validators.py
  weblate/utils/validators.py
  weblate/vcs/git.py
  weblate/vcs/models.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

feat(api): indicate pending changes in repository API endpoint
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/api/views.py
  weblate/trans/tests/test_remote.py
Due: py-join-comma

fix context form bug
  weblate/trans/forms.py
Due: py-join-comma

Update docs/api.rst and changes.rst
  docs/api.rst
  docs/changes.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

Add support to get comments on a unit
  weblate/api/views.py
Due: py-join-comma

Add test to list comments
  weblate/api/tests.py
Due: py-join-comma

Typo in unit
  weblate/api/views.py
Due: py-join-comma

feat(label): add change events for label assignment and removal (#17099)
  docs/specs/openapi.yaml
  weblate/api/tests.py
  weblate/api/views.py
  weblate/trans/actions.py
  weblate/trans/bulk.py
  weblate/trans/forms.py
  weblate/trans/migrations/0056_alter_change_action.py
  weblate/trans/models/comment.py
  weblate/trans/models/unit.py
  weblate/trans/tests/test_labels.py
Due: py-join-comma

Translated using Weblate (Croatian)
  docs/locales/hr/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Breton)
  weblate/locale/br/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Saraiki)
  weblate/locale/skr/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Croatian)
  weblate/locale/hr/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Saraiki)
  weblate/locale/skr/LC_MESSAGES/djangojs.po
Due: none

feat(vcs): extended filtering of allowed VCS URLs
  docs/admin/config.rst
  docs/admin/install/docker.rst
  docs/changes.rst
  docs/faq.rst
  docs/vcs.rst
  weblate/settings_docker.py
  weblate/settings_test.py
  weblate/trans/migrations/0057_alter_component_push_alter_component_repo.py
  weblate/trans/models/component.py
  weblate/utils/tests/test_validators.py
  weblate/utils/validators.py
  weblate/vcs/git.py
  weblate/vcs/models.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

feat(versions): correctly report redict server version
  weblate/utils/requirements.py
Due: py-join-comma

feat(vcs): make API timeout configurable
  docs/admin/config.rst
  docs/admin/install/docker.rst
  docs/changes.rst
  weblate/settings_docker.py
  weblate/vcs/git.py
  weblate/vcs/models.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(auth): add homoglyph validation (#17105)
  docs/changes.rst
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  pyproject.toml
  uv.lock
  weblate/utils/tests/test_validators.py
  weblate/utils/validators.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(migrations): update all units at once
  weblate/trans/migrations/0053_migrate_automatically_translated_label_to_unit_field.py
Due: py-join-comma
