Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst contaning double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|anubis|127\.0\.0\.1|user:password@proxy)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

rst-seealso-inline:
  name: seealso should use block
  entry: '^\.\. seealso:: .*$'
  language: pygrep

rst-seealso-list:
  name: seealso shoud use list for multiple lins
  args:
  - --multiline
  entry: ^\.\. seealso::\n\n(   *[:`*][^\n]*\n)*   *[:`*][^\n]*,
  language: pygrep

py-join-comma:
  name: Localized comma in join
  args:
  - --multiline
  entry: format_html_join\(\s*", "
  language: pygrep

pass fil_format_params arg `to add_language`
  weblate/trans/models/component.py
Due: py-join-comma

add unit tests
  weblate/formats/tests/test_formats.py
  weblate/trans/tests/test_file_format_params.py
Due: py-join-comma

update `changes.rst`
  docs/changes.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

feat: add expires date to the admin interface
  weblate/auth/admin.py
Due: py-join-comma

feat(accounts): log expiry based disabling in the audit log
  weblate/accounts/migrations/0020_alter_auditlog_activity.py
  weblate/accounts/models.py
  weblate/auth/models.py
  weblate/auth/tasks.py
Due: py-join-comma

feat: show user expiry on profile
  weblate/templates/accounts/user.html
Due: none

feat: allow to edit user expiry in the UI
  docs/admin/access.rst
  docs/changes.rst
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/auth/forms.py
  weblate/auth/migrations/0007_alter_user_date_expires.py
  weblate/auth/models.py
  weblate/trans/forms.py
  weblate/utils/forms.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

chore: fix and annotate typos
  weblate/checks/tests/test_format_checks.py
  weblate/trans/tests/test_workflowsetting.py
Due: py-join-comma

cleanup tests
  weblate/trans/tests/test_file_format_params.py
Due: py-join-comma

fix(add-ons): gracefully handle pending logs in display
  weblate/addons/base.py
Due: py-join-comma

chore: clarify instructions on changelog placement
  .github/copilot-instructions.md
Due: none

Remove duplicate import
  weblate/checks/source.py
Due: py-join-comma

chore: share logic for license required
  weblate/trans/forms.py
  weblate/trans/models/alert.py
  weblate/trans/models/project.py
  weblate/trans/tests/test_settings.py
Due: py-join-comma

chore: exclude anubis from linkcheck
  docs/conf.py
Due: py-join-comma

fix(file-formats) ts2 formatting fix (#16375)
  docs/changes.rst
  weblate/formats/tests/test_formats.py
  weblate/trans/models/component.py
  weblate/trans/tests/test_file_format_params.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Translated using Weblate (Portuguese)
  weblate/locale/pt/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Persian)
  weblate/locale/fa/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

fix flaky test
  weblate/checks/tests/test_source_checks.py
Due: py-join-comma

feat(acl): add unit.bulk_edit permission and update bulk edit view
  docs/admin/access.rst
  docs/changes.rst
  weblate/api/tests.py
  weblate/auth/data.py
  weblate/auth/permissions.py
  weblate/auth/utils.py
  weblate/templates/translate.html
  weblate/trans/templatetags/translations.py
  weblate/trans/tests/test_acl.py
  weblate/trans/views/basic.py
  weblate/trans/views/edit.py
  weblate/trans/views/search.py
  weblate/trans/views/settings.py
  weblate/trans/views/source.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

feat: Use batch operations for slow source checks (#16322)
  docs/changes.rst
  weblate/checks/source.py
  weblate/checks/tests/test_source_checks.py
  weblate/trans/tests/test_models.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Multi-Level Rate Limiting for Notification E-Mails
  weblate/accounts/notifications.py
  weblate/settings_example.py
  weblate/utils/ratelimit.py
  weblate/utils/tests/test_ratelimit.py
Due: py-join-comma

Add tests
  weblate/utils/tests/test_ratelimit.py
Due: py-join-comma

fix: move defaults to models
  weblate/accounts/models.py
  weblate/settings_example.py
Due: py-join-comma

Apply suggestions from code review
  weblate/utils/ratelimit.py
  weblate/utils/tests/test_ratelimit.py
Due: py-join-comma

docs: document new setting
  docs/admin/config.rst
  docs/changes.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

chore: coding style fixes
  weblate/accounts/models.py
  weblate/utils/tests/test_ratelimit.py
Due: py-join-comma

fix: corrected window test
  weblate/accounts/tests/test_views.py
Due: py-join-comma

fix(tests): disable notification rate limiting
  weblate/accounts/tests/test_notifications.py
Due: py-join-comma

fix: this now has proper defaults
  weblate/utils/ratelimit.py
Due: py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
