Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

chore(l10n): update Spanish translation
  weblate/locale/es/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Chinese (Traditional Han script) translation
  docs/locales/zh_Hant/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Vietnamese translation
  weblate/locale/vi/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Spanish translation
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Chinese (Simplified Han script) translation
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Due: none

fix(vcs): explain missing workspace for GitHub App setup
  docs/changes.rst
  weblate/vcs/tests/test_github_views.py
  weblate/vcs/views.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

feat(ci): use OIDC based upload to Argos
  .github/workflows/test.yml
Due: none

docs: make documentation llm friendly
  docs/conf.py
  pyproject.toml
  uv.lock
Due: py-join-comma

feat(translations): show restricted component indicator
  docs/changes.rst
  weblate/static/state/shield.svg
  weblate/trans/templatetags/translations.py
  weblate/trans/tests/test_templatetags.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(checks): clarify French punctuation spacing failures
  docs/changes.rst
  weblate/checks/chars.py
  weblate/checks/tests/test_chars_checks.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

refactor(vcs): clarify code hosting connection naming
  docs/admin/code-hosting.rst
  docs/changes.rst
  docs/security/threat-model.rst
  weblate/templates/accounts/profile.html
  weblate/templates/trans/component_create.html
  weblate/templates/vcs/account_integrations.html
  weblate/templates/vcs/github_app_register.html
  weblate/templates/vcs/github_app_register_submit.html
  weblate/templates/vcs/github_install_select.html
  weblate/templates/vcs/github_installation_detail.html
  weblate/templates/vcs/github_installation_list.html
  weblate/templates/vcs/github_repository_list.html
  weblate/templates/vcs/snippets/github_account_remove_modal.html
  weblate/templates/workspace.html
  weblate/trans/views/hooks.py
  weblate/vcs/github.py
  weblate/vcs/tests/test_github_hooks.py
  weblate/vcs/tests/test_github_views.py
  weblate/vcs/views.py
  weblate/wladmin/views.py
  weblate/workspaces/tests.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

perf(auth): optimize cached team memberships
  docs/changes.rst
  weblate/auth/models.py
  weblate/auth/tests/test_models.py
  weblate/trans/tests/test_acl.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(fedora-messaging): align TLS broker probe with transport
  docs/changes.rst
  weblate/addons/fedora_messaging.py
  weblate/addons/tests.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(trans): preserve repoweb user for linked repos
  weblate/trans/models/component.py
  weblate/trans/tests/test_component.py
Due: py-join-comma

Customization fixes
  weblate/templates/configuration/custom.css
Due: none

implement enforce hamburger
  weblate/templates/configuration/custom.css
Due: none

chore(l10n): update Chinese (Traditional Han script) translation
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Due: none

chore(l10n): update German translation
  docs/locales/de/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Portuguese translation
  docs/locales/pt/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Slovak translation
  docs/locales/sk/LC_MESSAGES/docs.po
Due: none

fix(machinery): render empty LLM language instructions blank
  docs/changes.rst
  weblate/machinery/forms.py
  weblate/machinery/tests.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma
