Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-xml
  - id: check-toml
  - id: check-merge-conflict
  - id: check-json
  - id: debug-statements
  - id: mixed-line-ending
    args: [--fix=lf]
  - id: pretty-format-json
    args: [--no-sort-keys, --autofix, --no-ensure-ascii]
    exclude: ^weblate/trans/fixtures/simple-project.json|weblate/trans/tests/data/.*.json$
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.23.0
  hooks:
  - id: django-upgrade
    args: [--target-version, '5.1']
- repo: https://github.com/adrienverge/yamllint
  rev: v1.35.1
  hooks:
  - id: yamllint
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.4
  hooks:
  - id: ruff
    args: [--fix, --exit-non-zero-on-fix]
  - id: ruff-format
- repo: https://github.com/asottile/blacken-docs
  rev: 1.19.1
  hooks:
  - id: blacken-docs
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.14.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2']
- repo: https://github.com/pappasam/toml-sort
  rev: v0.24.2
  hooks:
  - id: toml-sort-fix
- repo: https://github.com/executablebooks/mdformat
  rev: 0.7.22
  hooks:
  - id: mdformat
    additional_dependencies:
    - mdformat-gfm==0.4.1
    - mdformat-ruff==0.1.3
    - mdformat-shfmt==0.2.0
    - mdformat_tables==1.0.0
- repo: https://github.com/scop/pre-commit-shfmt
  rev: v3.10.0-2
  hooks:
  - id: shfmt
- repo: https://github.com/awebdeveloper/pre-commit-stylelint
  rev: 0.0.2
  hooks:
  - id: stylelint
    args: [--formatter=compact]
    additional_dependencies:
    - stylelint@16.14.1
- repo: https://github.com/fsfe/reuse-tool
  rev: v5.0.2
  hooks:
  - id: reuse
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    require_serial: true
    args: [-x]
- repo: https://github.com/biomejs/pre-commit
  rev: v1.9.4
  hooks:
  - id: biome-check
    additional_dependencies:
    - '@biomejs/biome@1.9.4'
- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.23
  hooks:
  - id: validate-pyproject
- repo: https://github.com/djlint/djLint
  rev: v1.36.4
  hooks:
  - id: djlint-reformat-django
  - id: djlint-django
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.10.0
  hooks:
  - id: rst-directive-colons
  - id: rst-inline-touching-normal
- repo: local
  hooks:
  - id: rst-double-space
    name: rst text with double space
    description: Detect mistake of rst containg double space
    types: [rst]
    entry: \S  +(?![\| +])
    language: pygrep
    exclude: docs/devel/reporting-example.rst
  - id: rst-http
    name: http link in rst text
    description: Detect mistake of using http links
    types: [rst]
    entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|127\.0\.0\.1|user:password@proxy)
    language: pygrep
  - id: rst-bullet-stop
    name: Changes end with a stop
    description: Bullet list in changes should end with a stop.
    files: docs/changes\.rst
    entry: ^ *\* .*[^.]\n$
    language: pygrep
- repo: https://github.com/sphinx-contrib/sphinx-lint
  rev: v1.0.0
  hooks:
  - id: sphinx-lint

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    additional_dependencies:
    - tomli
    exclude: client/yarn.lock
exclude: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock$
ci:
  autoupdate_schedule: quarterly

Translated using Weblate (Hungarian)
  docs/locales/hu/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Hebrew)
  docs/locales/he/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Hungarian)
  weblate/locale/hu/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Georgian)
  weblate/locale/ka/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Georgian)
  docs/locales/ka/LC_MESSAGES/docs.po
Due: none

feat(search): add support for filtering by label counts
  weblate/trans/models/unit.py
  weblate/utils/search.py
Due: none

feat(search): add support for filtering by label counts
  weblate/trans/models/unit.py
Due: none

feat:label count, add doc
  docs/user/search.rst
Due: rst-double-space, rst-http

fix(seach): display correct search label for current results
  weblate/templates/snippets/embed-units.html
Due: none

move search logic to parse_query
  weblate/trans/models/unit.py
  weblate/utils/search.py
Due: none

add unit test
  weblate/utils/tests/test_search.py
Due: none

feat: backup categories
  pyproject.toml
  uv.lock
  weblate/trans/backups.py
  weblate/trans/tests/test_backups.py
Due: none

Apply suggestions from code review
  docs/admin/projects.rst
  docs/workflows.rst
Due: rst-double-space, rst-http

feat: allow to configure flags on project level
  docs/admin/checks.rst
  docs/admin/projects.rst
  docs/changes.rst
  weblate/api/serializers.py
  weblate/checks/tests/test_duplicate_checks.py
  weblate/checks/tests/test_format_checks.py
  weblate/templates/translate.html
  weblate/trans/forms.py
  weblate/trans/migrations/0034_project_check_flags.py
  weblate/trans/models/component.py
  weblate/trans/models/project.py
Due: rst-double-space, rst-http, rst-bullet-stop

Apply suggestions from code review
  docs/admin/checks.rst
  docs/changes.rst
Due: rst-double-space, rst-http, rst-bullet-stop

feat(machinery): configurable source language (#14518)
  docs/admin/machine.rst
  docs/admin/projects.rst
  docs/changes.rst
  docs/user/profile.rst
  docs/workflows.rst
  weblate/machinery/base.py
  weblate/machinery/dummy.py
  weblate/machinery/forms.py
  weblate/machinery/tests.py
  weblate/machinery/types.py
  weblate/machinery/weblatetm.py
Due: rst-double-space, rst-http, rst-bullet-stop

feat: add support for discarding flags while inheriting (#14465)
  docs/admin/checks.rst
  docs/changes.rst
  weblate/checks/flags.py
  weblate/checks/tests/test_flags.py
  weblate/trans/validators.py
Due: rst-double-space, rst-http, rst-bullet-stop

feat: include DATA_DIR in settings checked in ping
  weblate/utils/tasks.py
Due: none
