Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst contaning double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|anubis|127\.0\.0\.1|user:password@proxy|libretranslate:)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

rst-seealso-inline:
  name: seealso should use block
  entry: '^\.\. seealso:: .*$'
  language: pygrep

rst-seealso-list:
  name: seealso shoud use list for multiple lins
  args:
  - --multiline
  entry: ^\.\. seealso::\n\n(   *[:`*][^\n]*\n)*   *[:`*][^\n]*,
  language: pygrep

py-join-comma:
  name: Localized comma in join
  args:
  - --multiline
  entry: format_html_join\(\s*", "
  language: pygrep

preserve whitespaces in 'special_chars' field, threat model update
  docs/security/threat-model.rst
  weblate/api/serializers.py
  weblate/api/tests.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(addons): adds missing context field in webhook payload
  weblate/addons/webhooks.py
Due: py-join-comma

fixes and improvements
  weblate/static/styles/main.css
  weblate/trans/tests/test_selenium.py
Due: py-join-comma

update migration
  weblate/accounts/migrations/0034_profile_wide_tables.py
Due: py-join-comma

pin action icons and progress bars
  weblate/static/styles/main.css
Due: none

feat(API): User Profile API (#20738)
  docs/api.rst
  docs/changes.rst
  docs/security/threat-model.rst
  docs/specs/openapi.yaml
  weblate/accounts/forms.py
  weblate/accounts/models.py
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/api/views.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(checks): optimize inconsistent batch queries
  weblate/checks/consistency.py
  weblate/checks/tests/test_consistency_checks.py
Due: py-join-comma

feat(workspaces): add search and replace
  docs/admin/workspaces.rst
  docs/changes.rst
  weblate/templates/workspace.html
  weblate/trans/forms.py
  weblate/trans/mixins.py
  weblate/trans/models/unit.py
  weblate/trans/tests/test_search.py
  weblate/trans/views/search.py
  weblate/workspaces/tests.py
  weblate/workspaces/views.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

chore(l10n): update Turkish translation
  weblate/locale/tr/LC_MESSAGES/django.po
Due: none

chore(l10n): update Spanish translation
  weblate/locale/es/LC_MESSAGES/django.po
Due: none

chore(l10n): update Russian translation
  weblate/locale/ru/LC_MESSAGES/django.po
Due: none

chore(l10n): update Italian translation
  weblate/locale/it/LC_MESSAGES/django.po
Due: none

chore(l10n): update Vietnamese translation
  weblate/locale/vi/LC_MESSAGES/django.po
Due: none

chore(l10n): update Swedish translation
  weblate/locale/sv/LC_MESSAGES/django.po
Due: none

chore(l10n): update Japanese translation
  weblate/locale/ja/LC_MESSAGES/django.po
Due: none

chore(l10n): update Korean translation
  weblate/locale/ko/LC_MESSAGES/django.po
Due: none

chore(l10n): update Swedish translation
  weblate/locale/sv/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Bulgarian translation
  weblate/locale/bg/LC_MESSAGES/django.po
Due: none

chore(l10n): update Bengali translation
  weblate/locale/bn/LC_MESSAGES/django.po
Due: none

chore(l10n): update Bulgarian translation
  docs/locales/bg/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Bengali translation
  docs/locales/bn/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Czech translation
  docs/locales/cs/LC_MESSAGES/docs.po
Due: none

chore(l10n): update German translation
  docs/locales/de/LC_MESSAGES/docs.po
Due: none

chore(l10n): update French translation
  docs/locales/fr/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Italian translation
  docs/locales/it/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Japanese translation
  docs/locales/ja/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Korean translation
  docs/locales/ko/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Polish translation
  docs/locales/pl/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Portuguese translation
  docs/locales/pt/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Slovak translation
  docs/locales/sk/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Swedish translation
  docs/locales/sv/LC_MESSAGES/docs.po
Due: none

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
