Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pyupgrade, black, flake8, blacken-docs

isort:
  name: isort
  entry: isort
  language: system

pyupgrade:
  name: pyupgrade
  entry: pyupgrade --py36-plus
  language: system

black:
  name: black
  entry: black
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system

Update vcs.rst
  docs/vcs.rst
Due: blacken-docs

Translated using Weblate (Dutch)
  weblate/locale/nl/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Czech)
  docs/locales/cs/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Dutch)
  docs/locales/nl/LC_MESSAGES/docs.po
Due: none

Tune-up of VCS documentation (#5259)
  docs/vcs.rst
Due: blacken-docs

Translating documentation reworked (#5230)
  docs/user/translating.rst
Due: blacken-docs

Docs: Fixup trailing whitespace
  docs/vcs.rst
Due: blacken-docs

JS: Bump @sentry/browser from 6.0.2 to 6.0.3 (#5310)
  weblate/static/vendor/sentry.js
Due: none

ci: Switch back to using pre-commit integration over local
  .pre-commit-config.yaml
  requirements-lint.txt
Due: none

Docs: Share libre plan warning
  docs/admin/access.rst
  docs/snippets/not-hosted-libre.rst
Due: blacken-docs

Translate: Fetch relevant other units first
  weblate/trans/views/edit.py
Due: isort, pyupgrade, black, flake8, blacken-docs

Docs: Add new supporter
  BACKERS.rst
Due: blacken-docs

Translated using Weblate (French)
  weblate/locale/fr/LC_MESSAGES/django.po
Due: none

Formats: Improve language handling in TBX
  weblate/formats/base.py
  weblate/formats/ttkit.py
Due: isort, pyupgrade, black, flake8, blacken-docs

VCS: Fix typo in initial repo commit
  weblate/vcs/git.py
Due: isort, pyupgrade, black, flake8, blacken-docs

Formats: Automatically enable Java MessageFormat checks for Java Properties
  docs/changes.rst
  weblate/formats/ttkit.py
Due: isort, pyupgrade, black, flake8, blacken-docs

Component: Avoid template creation for bilingual formats
  weblate/formats/base.py
  weblate/formats/ttkit.py
  weblate/trans/models/component.py
Due: isort, pyupgrade, black, flake8, blacken-docs

Formats: Fix TBX file creation
  weblate/formats/ttkit.py
  weblate/trans/models/component.py
Due: isort, pyupgrade, black, flake8, blacken-docs

Formats: Avoid setting not set language
  weblate/formats/ttkit.py
Due: isort, pyupgrade, black, flake8, blacken-docs

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Due: none

Suggested changes made
  docs/admin/addons.rst
Due: blacken-docs

Translated using Weblate (Chinese (Simplified))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Due: none

Path conditions:
  isort: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*$
  pyupgrade: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*$
  black: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*$
  flake8: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*$
  blacken-docs: any of: \.(rst|md|markdown|py|tex)$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*$
