Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pyupgrade, black, flake8, blacken-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-xml
      - id: check-toml
      - id: requirements-txt-fixer
      - id: check-merge-conflict
      - id: check-json
      - id: fix-encoding-pragma
        args: [--remove]
      - id: mixed-line-ending
        args: [--fix=lf]
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.25.0
    hooks:
      - id: yamllint
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: pyupgrade
        name: pyupgrade
        entry: pyupgrade --py36-plus
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        files: '\.(rst|md|markdown|py|tex)$'
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        files: "\\.(\
          css|less|scss\
          |graphql|gql\
          |js|jsx\
          |json\
          |md|markdown|mdown|mkdn\
          |mdx\
          |vue\
          |yaml|yml\
          )$"
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v7.18.0
    hooks:
      - id: eslint
        args: ["--format=compact"]
        additional_dependencies:
          - prettier@2.2.1
          - eslint@>=6.2.2
          - eslint-plugin-import@>=2.18.0
          - eslint-plugin-node@>=9.1.0
          - eslint-plugin-promise@>=4.2.1
          - eslint-plugin-standard@>=4.0.0
          - eslint-config-prettier@latest
          - eslint-plugin-prettier@latest
  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: 0.0.2
    hooks:
      - id: stylelint
        args: ["--formatter=compact"]
        additional_dependencies:
          - stylelint@latest
          - stylelint-config-prettier@latest
          - stylelint-prettier@latest
          - prettier@2.2.1

exclude: "^.*\\.(\
  csv|\
  svg|\
  wsdl(\\.[^.]*)?\
  )|\
  weblate/trans/tests/data/memory-broken\\.json|\
  weblate/templates/browserconfig\\.xml|\
  weblate/templates/configuration/custom\\.css|\
  weblate/trans/tests/data/cs-CZ\\.rc|\
  weblate/static/vendor/.*\
  $"

Docs: Access control documentation reworked (#5137)
  docs/admin/access.rst
Due: blacken-docs

docs: Add missing format anchor
  docs/formats.rst
Due: blacken-docs

Alerts: Improve performance of fetching occurences
  weblate/trans/models/alert.py
Due: isort, pyupgrade, black, flake8, blacken-docs

Docs: Quote mod_wsgi
  docs/admin/install.rst
Due: blacken-docs

Docs: Clarify custom settings in Docker
  docs/admin/install/docker.rst
Due: blacken-docs

Formats: Parse context from tbx files
  weblate/formats/ttkit.py
Due: isort, pyupgrade, black, flake8, blacken-docs

Deps: Allow Django 3.2
  requirements.txt
Due: none

Conf: Introduce DEFAULT_AUTO_FIELD to avoid some warnings from Django 3.2
  weblate/settings_example.py
Due: isort, pyupgrade, black, flake8, blacken-docs

Trans: Disable key locking in select_for_update
  weblate/trans/autotranslate.py
  weblate/trans/bulk.py
  weblate/trans/models/translation.py
  weblate/trans/models/unit.py
  weblate/trans/views/search.py
  weblate/utils/db.py
Due: isort, pyupgrade, black, flake8, blacken-docs

Utils: Make requires_system_checks compatible with Django 3.2
  weblate/utils/management/base.py
Due: isort, pyupgrade, black, flake8, blacken-docs

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Due: none

Docs: Consolidate mod_wsgi markup
  docs/admin/config.rst
Due: blacken-docs

Translation: Support adding units for bilingual formats
  docs/admin/projects.rst
  docs/api.rst
  docs/changes.rst
  docs/devel/integration.rst
  weblate/addons/tasks.py
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/api/views.py
  weblate/auth/permissions.py
  weblate/formats/base.py
  weblate/formats/ttkit.py
  weblate/trans/forms.py
  weblate/trans/migrations/0112_component_new_unit.py
  weblate/trans/migrations/0113_component_new_unit.py
  weblate/trans/models/component.py
  weblate/trans/models/translation.py
  weblate/trans/tests/data/test-base-repo.git.tar
  weblate/trans/tests/data/test-base-repo.hg.tar
  weblate/trans/tests/data/test-base-repo.svn.tar
  weblate/trans/tests/test_edit.py
  weblate/trans/tests/test_variants.py
  weblate/trans/tests/utils.py
  weblate/trans/views/basic.py
  weblate/trans/views/create.py
  weblate/trans/views/edit.py
Due: isort, pyupgrade, black, flake8, blacken-docs

JS: Make whitespace highlighting consistent with Python
  weblate/static/loader-bootstrap.js
Due: none

Update weblate/auth/models.py
  weblate/auth/models.py
Due: isort, pyupgrade, black, flake8, blacken-docs

Small fixes in duplicatelanguage strings and models.py
  weblate/auth/models.py
  weblate/templates/trans/alert/duplicatelanguage.html
Due: isort, pyupgrade, black, flake8, blacken-docs

Migrations: Sync with #5225
  weblate/auth/migrations/0002_auto_20180507_1540_squashed_0011_auto_20180509_0739_squashed_0007_group_components.py
Due: isort, pyupgrade, black, flake8, blacken-docs

Translated using Weblate (Serbian)
  weblate/locale/sr/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Japanese)
  weblate/locale/ja/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Turkish)
  weblate/locale/tr/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Serbian)
  docs/locales/sr/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Finnish)
  docs/locales/fi/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Finnish)
  weblate/locale/fi/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Czech)
  docs/locales/cs/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Croatian)
  docs/locales/hr/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Croatian)
  weblate/locale/hr/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Due: none
