Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

fix(unit): corrected enforced checks handling
  weblate/trans/models/unit.py
  weblate/trans/tests/test_edit.py
Due: py-join-comma

fix: corrected all_checks type annotation
  weblate/trans/models/unit.py
Due: py-join-comma

fix(ui): fix progress bar appearance and table color
  weblate/static/styles/variables.css
Due: none

chore: add type annotations to bulk edit
  weblate/trans/bulk.py
  weblate/trans/models/unit.py
Due: py-join-comma

Translated using Weblate (Albanian)
  docs/locales/sq/LC_MESSAGES/docs.po
Due: none

docs: clarify custom machinery docs (#16584)
  docs/admin/config.rst
  docs/admin/customize.rst
  docs/admin/machine.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

docs: update external links
  docs/admin/machine.rst
  docs/formats/arb.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

docs: move us compliance to the compliance section
  docs/conf.py
  docs/contributing/license.rst
  docs/index.rst
  docs/security/index.rst
  docs/security/privacy-compliance.rst
  docs/security/us-compliance.rst
  docs/snippets/compliance-warning.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

Update docs/contributing/license.rst
  docs/contributing/license.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

docs: share success stories
  docs/devel/success-stories.rst
  docs/index.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

fix(pending change): write correct state to vcs
  weblate/trans/models/translation.py
  weblate/trans/tests/test_models.py
Due: py-join-comma

docs: move us compliance to the compliance section (#16594)
  docs/conf.py
  docs/contributing/license.rst
  docs/index.rst
  docs/security/index.rst
  docs/security/privacy-compliance.rst
  docs/security/us-compliance.rst
  docs/snippets/compliance-warning.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

chore: Sync with WeblateOrg/meta
  .github/workflows/setup.yml
  .pre-commit-config.yaml
Due: none

Revert "chore(deps): update dependency python to 3.14 (#16553)"
  .github/workflows/setup.yml
Due: none

fix: improve label for range selection
  weblate/trans/forms.py
Due: py-join-comma

feat: make warning for MySQL/MariaDB users more visible
  docs/admin/install.rst
  docs/snippets/mysql-warning.rst
  weblate/wladmin/models.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(settings): corrected documentation links
  weblate/trans/forms.py
Due: py-join-comma

chore: Sync with WeblateOrg/meta
  .pre-commit-config.yaml
Due: none

fix: rescan cleans out changes when commit policy is enabled
  weblate/trans/models/component.py
  weblate/trans/models/translation.py
  weblate/trans/models/unit.py
Due: py-join-comma

handle approved and fuzzy state appropriately
  weblate/trans/models/unit.py
Due: py-join-comma

use old_unit in store_disk_state
  weblate/trans/models/component.py
  weblate/trans/models/pending.py
  weblate/trans/models/unit.py
Due: py-join-comma
