Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst contaning double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|anubis|127\.0\.0\.1|user:password@proxy|libretranslate:)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

rst-seealso-inline:
  name: seealso should use block
  entry: '^\.\. seealso:: .*$'
  language: pygrep

rst-seealso-list:
  name: seealso shoud use list for multiple lins
  args:
  - --multiline
  entry: ^\.\. seealso::\n\n(   *[:`*][^\n]*\n)*   *[:`*][^\n]*,
  language: pygrep

py-join-comma:
  name: Localized comma in join
  args:
  - --multiline
  entry: format_html_join\(\s*", "
  language: pygrep

feat(ui): expand appearance customization options
  weblate/configuration/templatetags/colors.py
  weblate/configuration/views.py
  weblate/static/style-dark.css
  weblate/static/styles/main.css
  weblate/static/styles/variables.css
  weblate/templates/configuration/custom.css
  weblate/wladmin/forms.py
  weblate/wladmin/tests.py
Due: py-join-comma

pylint fixes
  weblate/configuration/templatetags/colors.py
Due: py-join-comma

revert incorrect merge conflict resolution
  docs/changes.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

feat(hooks)!: drop fallback matching for webhooks (#21051)
  docs/admin/code-hosting.rst
  docs/admin/continuous.rst
  docs/api.rst
  docs/changes.rst
  docs/security/threat-model.rst
  weblate/accounts/tests/test_notifications.py
  weblate/api/tests.py
  weblate/templates/trans/alert/inexacthookmatch.html
  weblate/trans/alerts/vcs.py
  weblate/trans/hooks/fallback.py
  weblate/trans/hooks/matching.py
  weblate/trans/hooks/repository.py
  weblate/trans/migrations/0100_remove_inexact_hook_match_alerts.py
  weblate/trans/tests/test_alert.py
  weblate/trans/tests/test_hooks.py
  weblate/trans/views/hooks.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(memory): enforce component access in translation memory
  docs/admin/memory.rst
  docs/admin/projects.rst
  docs/changes.rst
  docs/security/threat-model.rst
  docs/specs/openapi.yaml
  weblate/api/docs.py
  weblate/api/spectacular.py
  weblate/api/tests.py
  weblate/api/views.py
  weblate/memory/migrations/0007_memoryscope_source_component.py
  weblate/memory/models.py
  weblate/memory/tasks.py
  weblate/memory/tests.py
  weblate/memory/views.py
  weblate/templates/trans/delete-category.html
  weblate/templates/trans/delete-component.html
  weblate/trans/backups.py
  weblate/trans/forms.py
  weblate/trans/models/__init__.py
  weblate/trans/models/component.py
  weblate/trans/models/project.py
  weblate/trans/tasks.py
  weblate/trans/tests/test_backups.py
  weblate/trans/tests/test_manage.py
  weblate/trans/tests/test_settings.py
  weblate/trans/views/settings.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

ci(tests): limit pytest worker concurrency
  .github/workflows/test.yml
Due: none

Apply review suggestions
  docs/changes.rst
  weblate/accounts/models.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

chore(l10n): update French translation
  weblate/locale/fr/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Czech translation
  weblate/locale/cs/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update German translation
  docs/locales/de/LC_MESSAGES/docs.po
Due: none

chore(l10n): update French translation
  docs/locales/fr/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Croatian translation
  docs/locales/hr/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Portuguese translation
  docs/locales/pt/LC_MESSAGES/docs.po
Due: none

perf(vcs): defer backend version checks
  docs/admin/config.rst
  docs/changes.rst
  weblate/vcs/apps.py
  weblate/vcs/base.py
  weblate/vcs/git.py
  weblate/vcs/mercurial.py
  weblate/vcs/models.py
  weblate/vcs/tests/test_apps.py
  weblate/vcs/tests/test_vcs.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

docs(auth): clarify site-wide permission impact
  docs/admin/access.rst
  docs/api.rst
  docs/changes.rst
  docs/security/threat-model.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

chore(l10n): update Slovak translation
  weblate/locale/sk/LC_MESSAGES/django.po
Due: none

chore(l10n): update Turkish translation
  weblate/locale/tr/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Slovak translation
  docs/locales/sk/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Vietnamese translation
  docs/locales/vi/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Ukrainian translation
  weblate/locale/uk/LC_MESSAGES/django.po
Due: none

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
