Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst contaning double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|anubis|127\.0\.0\.1|user:password@proxy|libretranslate:)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

rst-seealso-inline:
  name: seealso should use block
  entry: '^\.\. seealso:: .*$'
  language: pygrep

rst-seealso-list:
  name: seealso shoud use list for multiple lins
  args:
  - --multiline
  entry: ^\.\. seealso::\n\n(   *[:`*][^\n]*\n)*   *[:`*][^\n]*,
  language: pygrep

py-join-comma:
  name: Localized comma in join
  args:
  - --multiline
  entry: format_html_join\(\s*", "
  language: pygrep

chore(l10n): update Chinese (Simplified Han script) translation
  weblate/locale/zh_Hans/LC_MESSAGES/django.po
Due: none

chore(l10n): update Indonesian translation
  docs/locales/id/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Swedish translation
  docs/locales/sv/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Russian translation
  docs/locales/ru/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Russian translation
  weblate/locale/ru/LC_MESSAGES/django.po
Due: none

chore(l10n): update Chinese (Simplified Han script) translation
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Swedish translation
  weblate/locale/sv/LC_MESSAGES/django.po
Due: none

chore(l10n): update Vietnamese translation
  docs/locales/vi/LC_MESSAGES/docs.po
Due: none

chore(l10n): update German translation
  weblate/locale/de/LC_MESSAGES/django.po
Due: none

chore(l10n): update Finnish translation
  weblate/locale/fi/LC_MESSAGES/django.po
Due: none

chore(l10n): update Spanish translation
  weblate/locale/es/LC_MESSAGES/django.po
Due: none

chore(l10n): update Portuguese translation
  docs/locales/pt/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Bulgarian translation
  docs/locales/bg/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Japanese translation
  docs/locales/ja/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Swedish translation
  weblate/locale/sv/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Spanish translation
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

chore(l10n): update German translation
  docs/locales/de/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Latvian translation
  docs/locales/lv/LC_MESSAGES/docs.po
Due: none

feat(changes): add cursor pagination and date navigation
  docs/changes.rst
  docs/user/translating.rst
  weblate/static/loader-bootstrap.js
  weblate/templates/trans/change_date.html
  weblate/templates/trans/change_list.html
  weblate/templates/trans/change_navigation.html
  weblate/trans/forms.py
  weblate/trans/tests/test_changes.py
  weblate/trans/tests/test_querystring.py
  weblate/trans/tests/test_selenium.py
  weblate/trans/views/changes.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(trans): prefetch relations for target unit comments
  weblate/trans/models/unit.py
  weblate/trans/tests/test_models.py
Due: py-join-comma

fix(selenium): wait for onboarding language searches to finish
  weblate/trans/tests/test_selenium.py
Due: py-join-comma

feat(screenshots): show newly assigned strings last (#21681)
  docs/changes.rst
  weblate/screenshots/tests.py
  weblate/screenshots/views.py
  weblate/static/loader-bootstrap.js
  weblate/templates/screenshots/screenshot_sources_body_actions.html
  weblate/templates/snippets/embed-units.html
  weblate/trans/tests/test_selenium.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(screenshots): enforce language permission scope
  docs/changes.rst
  weblate/screenshots/forms.py
  weblate/screenshots/tests.py
  weblate/screenshots/views.py
  weblate/templates/screenshots/screenshot_detail.html
  weblate/templates/screenshots/screenshot_list.html
  weblate/templates/screenshots/screenshot_sources_body.html
  weblate/templates/screenshots/screenshot_sources_search.html
  weblate/templates/translate.html
  weblate/trans/views/edit.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

feat(translations): support editing flags on translated units
  docs/admin/checks.rst
  docs/admin/translating.rst
  docs/api.rst
  docs/changes.rst
  docs/snippets/addons-autogenerated.rst
  docs/specs/openapi.yaml
  docs/user/glossary.rst
  docs/user/translating.rst
  weblate/addons/flags.py
  weblate/addons/forms.py
  weblate/addons/tests.py
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/api/views.py
  weblate/static/editor/full.js
  weblate/static/js/flag-editor.js
  weblate/static/loader-bootstrap.js
  weblate/templates/translate.html
  weblate/trans/bulk.py
  weblate/trans/forms.py
  weblate/trans/models/unit.py
  weblate/trans/tests/test_selenium.py
  weblate/trans/tests/test_unit_flags.py
  weblate/trans/views/edit.py
  weblate/trans/views/js.py
  weblate/trans/views/search.py
  weblate/trans/views/source.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(api): initialize add-ons through their factory
  weblate/api/serializers.py
  weblate/api/tests.py
Due: py-join-comma

fix(docs): generate documentation without database access
  .github/workflows/api.yml
  .github/workflows/docs.yml
  docs/Makefile
  weblate/addons/forms.py
  weblate/addons/management/commands/list_addons.py
  weblate/addons/tests.py
Due: py-join-comma

feat: add preview for markdown fields
  docs/changes.rst
  docs/user/translating.rst
  weblate/static/loader-bootstrap.js
  weblate/static/styles/main.css
  weblate/templates/js/markdown-preview.html
  weblate/templates/widgets/markdown_textarea.html
  weblate/trans/forms.py
  weblate/trans/tests/test_comment.py
  weblate/trans/tests/test_js_views.py
  weblate/trans/views/js.py
  weblate/urls.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(api): harden unit-ranked user listing
  docs/specs/openapi.yaml
  weblate/api/tests.py
  weblate/api/views.py
Due: py-join-comma

refactor(lock): satisfy ruff lint (docstring, try-clause complexity, raise-within-try)
  weblate/utils/lock.py
Due: py-join-comma

feat(addons): add batched AI quality evaluation
  docs/changes.rst
  docs/snippets/addons-autogenerated.rst
  docs/snippets/check-flags-autogenerated.rst
  docs/snippets/checks-autogenerated.rst
  docs/user/checks.rst
  weblate/addons/ai.py
  weblate/addons/defaults.py
  weblate/addons/models.py
  weblate/addons/tasks.py
  weblate/addons/test_ai.py
  weblate/api/tests.py
  weblate/checks/ai.py
  weblate/checks/defaults.py
  weblate/checks/migrations/0003_check_metadata.py
  weblate/checks/models.py
  weblate/machinery/base.py
  weblate/machinery/evaluation.py
  weblate/machinery/llm.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

docs(vcs): clarify reset scope and branch cleanup recovery
  docs/admin/continuous.rst
  weblate/templates/js/git-status.html
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
