Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

fix(ci): avoid cloning full SPDX history
  .github/renovate.json
  .github/workflows/apply-maintenance-patch.yml
  .github/workflows/licenses-update.yml
  .gitmodules
  docs/contributing/submodules.rst
  weblate/utils/licensedata.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

docs: pre-release updates
  docs/changes.rst
  docs/conf.py
  docs/python.rst
  docs/security/threat-model.rst
  docs/wlc.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

chore(l10n): update Vietnamese translation
  weblate/locale/vi/LC_MESSAGES/django.po
Due: none

chore(l10n): update Chinese (Simplified Han script) translation
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Kurdish (Kurmanji) translation
  weblate/locale/kmr/LC_MESSAGES/django.po
Due: none

chore(l10n): update Chinese (Traditional Han script) translation
  docs/locales/zh_Hant/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Chinese (Traditional Han script) translation
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Due: none

chore(l10n): update Kurdish (Kurmanji) translation
  docs/locales/kmr/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Kurdish (Kurmanji) translation
  weblate/locale/kmr/LC_MESSAGES/djangojs.po
Due: none

chore(js): update vendored libraries
  weblate/static/js/vendor/hotkeys.js
Due: none

fix(machinery): improve LLM provider diagnostics
  docs/changes.rst
  docs/snippets/machines-autogenerated.rst
  weblate/machinery/anthropic.py
  weblate/machinery/llm.py
  weblate/machinery/ollama.py
  weblate/machinery/openai.py
  weblate/machinery/tests.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

feat(email): add AWS SES e-mail backend support for Docker
  pyproject.toml
  weblate/settings_docker.py
Due: py-join-comma

Add the changelog entry
  docs/changes.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

address codex reviews
  docs/admin/install/docker.rst
  docs/security/threat-model.rst
  weblate/settings_docker.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

pin dependency
  docs/admin/install/docker.rst
  pyproject.toml
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

uv lock fix
  uv.lock
Due: none

fix docker documentation
  docs/admin/install/docker.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

docs: expand agent contribution guidance
  AGENTS.md
  pyproject.toml
Due: none

fix(vcs): invalidate registry on credential changes
  weblate/trans/tests/test_alert.py
  weblate/trans/tests/test_component.py
  weblate/trans/tests/test_vcs_params.py
  weblate/utils/classloader.py
  weblate/utils/tests/test_classloader.py
  weblate/vcs/models.py
  weblate/vcs/tests/test_apps.py
  weblate/vcs/tests/test_github_views.py
Due: py-join-comma

fix(auth): enforce second-factor account lockout
  docs/admin/config.rst
  docs/changes.rst
  docs/security/threat-model.rst
  weblate/accounts/forms.py
  weblate/accounts/models.py
  weblate/accounts/pipeline.py
  weblate/accounts/tests/test_twofactor.py
  weblate/accounts/utils.py
  weblate/accounts/views.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(discovery): bound repository mask matching
  docs/changes.rst
  docs/security/threat-model.rst
  weblate/trans/discovery.py
  weblate/trans/tests/test_discovery.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(migrations): handle unhashable JSON sort values
  weblate/trans/migrations/0102_migrate_json_sort_keys_to_choice.py
  weblate/trans/tests/test_migrations.py
Due: py-join-comma

docs(agents): document PostgreSQL test recovery
  AGENTS.md
Due: none

fix(discovery): address resource limit feedback
  weblate/addons/discovery.py
  weblate/addons/tests.py
  weblate/trans/discovery.py
  weblate/trans/tests/test_discovery.py
Due: py-join-comma

update doc
  docs/admin/install.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

fix(discovery): exclude VCS metadata from limits
  weblate/addons/discovery.py
  weblate/addons/tests.py
  weblate/trans/discovery.py
  weblate/trans/tests/test_discovery.py
Due: py-join-comma
