Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

Translated using Weblate (Swedish)
  weblate/locale/sv/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Bantu (Other))
  docs/locales/bnt/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Hungarian)
  docs/locales/hu/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Swedish)
  docs/locales/sv/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Croatian)
  docs/locales/hr/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

fix(docs) using email to authenticate on bitbucket cloud https://github.com/WeblateOrg/weblate/issues/17525 https://support.atlassian.com/bitbucket-cloud/docs/using-api-tokens/
  docs/admin/config.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

fix(accounts): do not require login for confirmation page
  weblate/accounts/views.py
Due: py-join-comma

fix(accounts): django-otp 1.7.0 compatibility
  pyproject.toml
  uv.lock
  weblate/accounts/middleware.py
Due: py-join-comma

fix(docs): using email to authenticate on bitbucket cloud
  docs/admin/config.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

fix(accounts): django-otp 1.7.0 compatibility (#17548)
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  pyproject.toml
  uv.lock
  weblate/accounts/middleware.py
Due: py-join-comma

tests: fix execution
  weblate/vcs/tests/test_vcs.py
Due: py-join-comma

tests: avoid setting override if not needed
  weblate/vcs/tests/test_vcs.py
Due: py-join-comma

fix(legal): fix TOS display with login required
  docs/changes.rst
  weblate/accounts/tests/test_registration.py
  weblate/legal/pipeline.py
  weblate/legal/views.py
  weblate/trans/tests/test_acl.py
  weblate/trans/tests/test_views.py
  weblate/trans/tests/utils.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

phrasing fix
  docs/changes.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

fix test execution
  weblate/trans/tests/test_acl.py
Due: py-join-comma

fix(legal): fix TOS display with login required (#17553)
  docs/changes.rst
  weblate/accounts/tests/test_registration.py
  weblate/legal/pipeline.py
  weblate/legal/views.py
  weblate/trans/tests/test_acl.py
  weblate/trans/tests/test_views.py
  weblate/trans/tests/utils.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Translated using Weblate (Irish)
  weblate/locale/ga/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Macedonian)
  docs/locales/mk/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (English (United Kingdom))
  docs/locales/en_GB/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Macedonian)
  weblate/locale/mk/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Finnish)
  docs/locales/fi/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Finnish)
  weblate/locale/fi/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Irish)
  docs/locales/ga/LC_MESSAGES/docs.po
Due: none
