Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

fix(add-ons): optimize fill in read-only
  docs/changes.rst
  weblate/addons/generate.py
  weblate/addons/tasks.py
  weblate/addons/tests.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(component): improve alerts prefetch
  weblate/trans/models/component.py
  weblate/trans/models/project.py
  weblate/trans/models/translation.py
  weblate/trans/tests/test_alert.py
Due: py-join-comma

feat(api): add announcements (#18648)
  docs/api.rst
  docs/changes.rst
  docs/specs/openapi.yaml
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/api/views.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(translate): improved comments loading
  docs/changes.rst
  weblate/trans/models/comment.py
  weblate/trans/models/unit.py
  weblate/trans/tests/test_comment.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Translated using Weblate (Arabic)
  weblate/locale/ar/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Irish)
  weblate/locale/ga/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Chinese (Traditional Han script))
  docs/locales/zh_Hant/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Due: none

chore(tests): restructure tests for improved performance
  weblate/fonts/tests/test_models.py
  weblate/fonts/tests/test_utils.py
  weblate/fonts/tests/utils.py
  weblate/lang/tests.py
  weblate/machinery/tests.py
  weblate/metrics/tests.py
  weblate/trans/tests/test_agreement.py
  weblate/trans/tests/test_commands.py
  weblate/trans/tests/test_component.py
  weblate/trans/tests/test_templatetags.py
  weblate/trans/tests/test_views.py
Due: py-join-comma

fix(add-ons): consolidate file validation code
  weblate/addons/gettext.py
  weblate/addons/tests.py
Due: py-join-comma

chore(tests): do not base format tests on fixture tests
  weblate/formats/tests/test_formats.py
Due: py-join-comma

chore(tests): remove not needed repository manipulations
  weblate/trans/tests/test_remote.py
  weblate/trans/tests/utils.py
Due: py-join-comma

improve rst syntax handling in
  weblate/checks/chars.py
  weblate/checks/same.py
  weblate/checks/tests/test_utils.py
  weblate/checks/utils.py
  weblate/trans/autofixes/chars.py
Due: py-join-comma

fix(metrics): batch fetch missing metrics
  docs/changes.rst
  weblate/metrics/wrapper.py
  weblate/trans/tests/test_charts.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

docs(add-ons): filter type annotations instead of stubbing them
  docs/_ext/autodoc_signature_filter.py
  docs/conf.py
  docs/contributing/addons.rst
  pyproject.toml
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

chore(tests): add test for pending state prefetch
  weblate/trans/tests/test_models.py
Due: py-join-comma

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
Due: none

chore(add-ons): improve configuration type annotations
  weblate/addons/autotranslate.py
  weblate/addons/base.py
  weblate/addons/forms.py
  weblate/addons/tests.py
Due: py-join-comma

chore(tests): base tests on more lightweight test bases
  weblate/addons/tests.py
  weblate/auth/tests/test_models.py
  weblate/auth/tests/test_permissions.py
  weblate/checks/tests/test_consistency_checks.py
  weblate/checks/tests/test_format_checks.py
  weblate/checks/tests/test_glossary_checks.py
  weblate/checks/tests/test_placeholders.py
  weblate/checks/tests/test_source_checks.py
  weblate/trans/tests/test_commands.py
  weblate/trans/tests/test_tasks.py
  weblate/utils/tests/test_db.py
Due: py-join-comma

chore(tests): use fixture tests for cases which do not need a repository
  weblate/accounts/tests/test_notifications.py
  weblate/auth/tests/test_views.py
  weblate/checks/tests/test_consistency_checks.py
  weblate/checks/tests/test_views.py
  weblate/trans/tests/test_changes.py
  weblate/trans/tests/test_dashboard.py
  weblate/trans/tests/test_labels.py
  weblate/trans/tests/test_lock.py
  weblate/trans/tests/test_projecttoken.py
  weblate/trans/tests/test_review.py
  weblate/trans/tests/test_workflowsetting.py
Due: py-join-comma

fix(settings): remove component.edit from announcement add path
  weblate/trans/views/settings.py
Due: py-join-comma

fix(lang): utilize existing plurals cache
  weblate/lang/models.py
  weblate/lang/tests.py
Due: py-join-comma
