Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst contaning double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|anubis|127\.0\.0\.1|user:password@proxy|libretranslate:)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

rst-seealso-inline:
  name: seealso should use block
  entry: '^\.\. seealso:: .*$'
  language: pygrep

rst-seealso-list:
  name: seealso shoud use list for multiple lins
  args:
  - --multiline
  entry: ^\.\. seealso::\n\n(   *[:`*][^\n]*\n)*   *[:`*][^\n]*,
  language: pygrep

py-join-comma:
  name: Localized comma in join
  args:
  - --multiline
  entry: format_html_join\(\s*", "
  language: pygrep

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Polish)
  weblate/locale/pl/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Greek)
  weblate/locale/el/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (German)
  weblate/locale/de/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Slovak)
  docs/locales/sk/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Slovak)
  weblate/locale/sk/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Slovak)
  weblate/locale/sk/LC_MESSAGES/django.po
Due: none

fix(alerts): clarify no mask matches alert
  weblate/templates/trans/alert/nomaskmatches.html
  weblate/trans/tests/test_alert.py
Due: py-join-comma

fix(workspaces): consolidate changes referencing workspace
  docs/changes.rst
  weblate/accounts/tests/test_notifications.py
  weblate/trans/migrations/0088_change_workspace_backfill.py
  weblate/trans/models/change.py
  weblate/trans/tests/test_models.py
  weblate/trans/views/basic.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(settings): corrected license inheritance handling
  weblate/accounts/tests/test_views.py
  weblate/accounts/views.py
  weblate/templates/accounts/profile.html
  weblate/trans/forms.py
  weblate/trans/tests/test_create.py
  weblate/trans/tests/test_dashboard.py
  weblate/trans/tests/test_selenium.py
  weblate/trans/tests/test_views.py
Due: py-join-comma

fix: use manual SQL instead of Django ORM for migration
  weblate/trans/migrations/0088_change_workspace_backfill.py
Due: py-join-comma

fix: migrate workspace changes by project
  weblate/trans/migrations/0088_change_workspace_backfill.py
Due: py-join-comma

fix(workspace): gracefully deal with deferred fields
  docs/changes.rst
  weblate/trans/inherited_settings.py
  weblate/trans/tests/test_settings.py
  weblate/workspaces/models.py
  weblate/workspaces/tests.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Potential fix for pull request finding
  weblate/workspaces/tests.py
Due: py-join-comma

fix(workspace): gracefully deal with deferred fields (#19798)
  docs/changes.rst
  weblate/trans/inherited_settings.py
  weblate/trans/tests/test_settings.py
  weblate/workspaces/models.py
  weblate/workspaces/tests.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Translated using Weblate (Polish)
  weblate/locale/pl/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Polish)
  docs/locales/pl/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Chinese (Traditional Han script))
  docs/locales/zh_Hant/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Due: none

Apply suggested fix to weblate/templates/accounts/profile.html from Copilot Autofix
  weblate/templates/accounts/profile.html
Due: none

Apply suggested fix to weblate/trans/tests/test_views.py from Copilot Autofix
  weblate/trans/tests/test_views.py
Due: py-join-comma

chore(workspaces): fix variable comments
  weblate/workspaces/models.py
Due: py-join-comma

feat(outbound): store rejected IP addresses as tracing breadcrumbs
  weblate/utils/outbound.py
Due: py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
