Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst contaning double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|anubis|127\.0\.0\.1|user:password@proxy|libretranslate:)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

rst-seealso-inline:
  name: seealso should use block
  entry: '^\.\. seealso:: .*$'
  language: pygrep

rst-seealso-list:
  name: seealso shoud use list for multiple lins
  args:
  - --multiline
  entry: ^\.\. seealso::\n\n(   *[:`*][^\n]*\n)*   *[:`*][^\n]*,
  language: pygrep

py-join-comma:
  name: Localized comma in join
  args:
  - --multiline
  entry: format_html_join\(\s*", "
  language: pygrep

chore(l10n): update Czech translation
  weblate/locale/cs/LC_MESSAGES/django.po
Due: none

chore(l10n): update Polish translation
  docs/locales/pl/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Japanese translation
  weblate/locale/ja/LC_MESSAGES/django.po
Due: none

chore(l10n): update Russian translation
  docs/locales/ru/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Polish translation
  weblate/locale/pl/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Czech translation
  docs/locales/cs/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Irish translation
  weblate/locale/ga/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Vietnamese translation
  docs/locales/vi/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Chinese (Simplified Han script) translation
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Irish translation
  weblate/locale/ga/LC_MESSAGES/django.po
Due: none

chore(l10n): update Irish translation
  docs/locales/ga/LC_MESSAGES/docs.po
Due: none

fix(ui): let outline button icons follow the text color
  docs/changes.rst
  weblate/static/styles/main.css
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

fix(devcontainer): fail on package index download errors
  dev-docker/weblate-dev/Dockerfile
Due: none

feat(translations): support editing source strings and keys
  docs/admin/projects.rst
  docs/api.rst
  docs/changes.rst
  docs/specs/openapi.yaml
  docs/user/translating.rst
  weblate/api/serializers.py
  weblate/api/views.py
  weblate/auth/permissions.py
  weblate/formats/source_edit.py
  weblate/formats/tests/test_source_edit.py
  weblate/templates/trans/source_edit.html
  weblate/templates/translate.html
  weblate/trans/forms.py
  weblate/trans/migrations/0106_alter_component_manage_units.py
  weblate/trans/models/component.py
  weblate/trans/models/pending.py
  weblate/trans/models/translation.py
  weblate/trans/models/unit.py
  weblate/trans/source_edit.py
  weblate/trans/tests/test_source_edit.py
  weblate/trans/views/edit.py
  weblate/urls.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(upload): bound XLIFF language validation
  weblate/formats/base.py
  weblate/formats/tests/test_languages.py
  weblate/formats/ttkit.py
  weblate/lang/models.py
  weblate/lang/tests.py
  weblate/trans/models/translation.py
  weblate/trans/tests/test_files.py
Due: py-join-comma

fix(upload): handle declaration limit cleanly
  docs/changes.rst
  weblate/trans/models/translation.py
  weblate/trans/tests/test_files.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(markdown): bound mention user lookups
  weblate/utils/markdown.py
  weblate/utils/tests/test_markdown.py
Due: py-join-comma

fix(markdown): preserve case-insensitive mentions
  weblate/utils/markdown.py
  weblate/utils/tests/test_markdown.py
Due: py-join-comma

fix(markdown): preserve Unicode mention spelling
  weblate/utils/markdown.py
  weblate/utils/tests/test_markdown.py
Due: py-join-comma

fix(addons): handle CEL resource limits on macOS
  docs/admin/automation.rst
  docs/security/threat-model.rst
  weblate/addons/automation_cel.py
  weblate/addons/automation_expressions.py
  weblate/addons/test_automation.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

chore(l10n): update Slovak translation
  weblate/locale/sk/LC_MESSAGES/django.po
Due: none

chore(l10n): update Slovak translation
  docs/locales/sk/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Croatian translation
  weblate/locale/hr/LC_MESSAGES/django.po
Due: none

chore(l10n): update Croatian translation
  weblate/locale/hr/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Indonesian translation
  weblate/locale/id/LC_MESSAGES/django.po
Due: none

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
