Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst contaning double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|anubis|127\.0\.0\.1|user:password@proxy)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

rst-seealso-inline:
  name: seealso should use block
  entry: '^\.\. seealso:: .*$'
  language: pygrep

rst-seealso-list:
  name: seealso shoud use list for multiple lins
  args:
  - --multiline
  entry: ^\.\. seealso::\n\n(   *[:`*][^\n]*\n)*   *[:`*][^\n]*,
  language: pygrep

py-join-comma:
  name: Localized comma in join
  args:
  - --multiline
  entry: format_html_join\(\s*", "
  language: pygrep

Translated using Weblate (Romanian)
  weblate/locale/ro/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Romanian)
  docs/locales/ro/LC_MESSAGES/docs.po
Due: none

fix: better report missing configuration
  pyproject.toml
  weblate/trans/models/component.py
Due: py-join-comma

fix(ui): minor fixes
  weblate/static/styles/main.css
  weblate/static/styles/variables.css
  weblate/templates/snippets/last-changes-content.html
Due: none

fix(ui): show default tab on the dashboard according to user preferences
  weblate/templates/dashboard/user.html
  weblate/trans/templatetags/translations.py
Due: py-join-comma

Mark imported memories as active
  docs/changes.rst
  weblate/memory/models.py
  weblate/memory/tests.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Due: none

WIP: feat(ui): Instance customization for bootstrap 5 templates
  weblate/configuration/templatetags/__init__.py
  weblate/configuration/templatetags/colors.py
  weblate/static/style-dark.css
  weblate/templates/configuration/custom.css
Due: py-join-comma

fix(add-ons): fixed trigger of legacy autotranslate configuration
  weblate/addons/autotranslate.py
Due: py-join-comma

chore(js): update vendored libraries
  client/yarn.lock
Due: none

Translated using Weblate (Kannada)
  weblate/locale/kn/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Kannada)
  docs/locales/kn/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Kannada)
  weblate/locale/kn/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Dutch)
  weblate/locale/nl/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Dutch)
  docs/locales/nl/LC_MESSAGES/docs.po
Due: none

Removing penalty for imported memory without context
  weblate/memory/machine.py
  weblate/memory/management/commands/import_memory.py
  weblate/memory/models.py
  weblate/memory/tests.py
Due: py-join-comma

docs: move some improvements to new features
  docs/changes.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

fix(docker): do not set attributes mapping if not configured
  docs/admin/auth.rst
  weblate/settings_docker.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
