Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

chore(l10n): update Indonesian translation
  weblate/locale/id/LC_MESSAGES/django.po
Due: none

chore(l10n): update Indonesian translation
  docs/locales/id/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Czech translation
  docs/locales/cs/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Slovak translation
  docs/locales/sk/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Czech translation
  weblate/locale/cs/LC_MESSAGES/django.po
Due: none

chore(l10n): update Slovak translation
  weblate/locale/sk/LC_MESSAGES/django.po
Due: none

chore(l10n): update Croatian translation
  weblate/locale/hr/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Croatian translation
  weblate/locale/hr/LC_MESSAGES/django.po
Due: none

feat(translations): support editing source strings and keys
  docs/admin/projects.rst
  docs/api.rst
  docs/changes.rst
  docs/specs/openapi.yaml
  docs/user/translating.rst
  weblate/api/serializers.py
  weblate/api/views.py
  weblate/auth/permissions.py
  weblate/formats/source_edit.py
  weblate/formats/tests/test_source_edit.py
  weblate/templates/trans/source_edit.html
  weblate/templates/translate.html
  weblate/trans/forms.py
  weblate/trans/migrations/0106_alter_component_manage_units.py
  weblate/trans/models/component.py
  weblate/trans/models/pending.py
  weblate/trans/models/translation.py
  weblate/trans/models/unit.py
  weblate/trans/source_edit.py
  weblate/trans/tests/test_source_edit.py
  weblate/trans/views/edit.py
  weblate/urls.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix: silence llms.txt generation warnings
  docs/conf.py
Due: py-join-comma

fix(upload): bound XLIFF language validation (#21759)
  docs/changes.rst
  weblate/formats/base.py
  weblate/formats/tests/test_languages.py
  weblate/formats/ttkit.py
  weblate/lang/models.py
  weblate/lang/tests.py
  weblate/trans/models/translation.py
  weblate/trans/tests/test_files.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(markdown): bound mention user lookups (#21760)
  weblate/utils/markdown.py
  weblate/utils/tests/test_markdown.py
Due: py-join-comma

fix(deps): pin ua-parser
  pyproject.toml
  uv.lock
Due: none

fix(utils): preserve regex flag operands with pyparsing 3.3.3
  weblate/utils/inv_regex.py
  weblate/utils/tests/test_inv_regex.py
Due: py-join-comma

fix(backups): clarify self-hosted backup purchasing
  docs/admin/backup.rst
  docs/admin/support.rst
  weblate/templates/manage/backups.html
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

fix(glossary): label only flagged terms as untranslatable
  docs/changes.rst
  weblate/formats/tests/test_tbx_multivalue.py
  weblate/glossary/models.py
  weblate/glossary/tests.py
  weblate/templates/snippets/glossary-concept.html
  weblate/templates/snippets/glossary-row.html
  weblate/trans/models/unit.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(glossary): keep source-wide read-only terms untranslatable
  weblate/glossary/tests.py
  weblate/trans/forms.py
  weblate/trans/models/unit.py
Due: py-join-comma

fix: keep HEAD requests read-only
  weblate/api/tests.py
  weblate/api/views.py
  weblate/billing/tests.py
  weblate/billing/views.py
Due: py-join-comma

fix(auth): initialize ASGI requests with Sentry middleware
  docs/changes.rst
  weblate/accounts/middleware.py
  weblate/accounts/tests/test_middleware.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(memory): bound fuzzy candidate tie sorting
  docs/changes.rst
  weblate/memory/models.py
  weblate/memory/tests.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(glossary): label only flagged terms as untranslatable (#21683)
  docs/changes.rst
  weblate/formats/tests/test_tbx_multivalue.py
  weblate/glossary/models.py
  weblate/glossary/tests.py
  weblate/templates/snippets/glossary-concept.html
  weblate/templates/snippets/glossary-row.html
  weblate/trans/forms.py
  weblate/trans/models/unit.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Apply batched suggestions from code review
  weblate/machinery/tasks.py
Due: py-join-comma

fix(auth): enforce source explanation permission
  weblate/trans/forms.py
  weblate/trans/source_edit.py
  weblate/trans/tests/test_source_edit.py
Due: py-join-comma

Apply suggestion from @nijel
  weblate/machinery/tests.py
Due: py-join-comma

fix(checks): aggregate consistency matches by plural group
  docs/changes.rst
  weblate/checks/consistency.py
  weblate/checks/tests/test_consistency_checks.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma
