Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

Translated using Weblate (Portuguese (Brazil))
  docs/locales/pt_BR/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  weblate/locale/pt_BR/LC_MESSAGES/django.po
Due: none

fix(checks): introduce project-level check lock
  weblate/checks/base.py
  weblate/checks/consistency.py
  weblate/checks/tests/test_checks.py
  weblate/checks/tests/test_consistency_checks.py
  weblate/checks/tests/test_models.py
  weblate/trans/models/component.py
  weblate/trans/models/project.py
Due: py-join-comma

feat(ci): introduce fuzzing
  .clusterfuzzlite/Dockerfile
  .clusterfuzzlite/build.sh
  .clusterfuzzlite/project.yaml
  .github/actions/cflite-run-fuzzers/Dockerfile
  .github/actions/cflite-run-fuzzers/action.yml
  .github/workflows/cflite_batch.yml
  .github/workflows/cflite_build.yml
  .github/workflows/cflite_pr.yml
  fuzzing/README.md
  fuzzing/__init__.py
  fuzzing/atheris_compat.py
  fuzzing/bootstrap.py
  fuzzing/corpus/backups/seed.txt
  fuzzing/corpus/markup/seed.md
  fuzzing/corpus/memory_import/memory.json
  fuzzing/corpus/memory_import/memory.json.license
  fuzzing/corpus/ssh/known_hosts.txt
  fuzzing/corpus/ssh/known_hosts.txt.license
  fuzzing/corpus/translation_formats/po_seed.po
  fuzzing/corpus/webhooks/github_push.json
  fuzzing/corpus/webhooks/github_push.json.license
  fuzzing/runner.py
  fuzzing/targets.py
  fuzzing/urls.py
  pyproject.toml
  uv.lock
  weblate/memory/models.py
  weblate/memory/tests.py
  weblate/settings_fuzz.py
Due: py-join-comma

fix(git-export): avoid inferring shared history status from have packets
  docs/changes.rst
  weblate/gitexport/tests.py
  weblate/gitexport/views.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(checks): fixed crash on parsing certain rst markup
  docs/changes.rst
  weblate/checks/markup.py
  weblate/checks/tests/test_markup_checks.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(alerts): clarify website and repo browser URL alert wording
  docs/changes.rst
  weblate/templates/trans/alert/brokenbrowserurl.html
  weblate/templates/trans/alert/brokenprojecturl.html
  weblate/trans/tests/test_alert.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

docs: clarify scope of the ``user.edit`` permission
  docs/admin/access.rst
  docs/api.rst
  docs/changes.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

Update docs/admin/access.rst
  docs/admin/access.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

fix(project-backup): validate repository before restore
  docs/changes.rst
  weblate/trans/backups.py
  weblate/trans/tests/test_backups.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

docs: clarify scope of the ``user.edit`` permission (#19058)
  docs/admin/access.rst
  docs/api.rst
  docs/changes.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

feat(accounts): include API token reset on password change
  docs/changes.rst
  weblate/accounts/forms.py
  weblate/accounts/models.py
  weblate/accounts/tests/test_registration.py
  weblate/accounts/tests/test_views.py
  weblate/accounts/utils.py
  weblate/accounts/views.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

feat(accounts): extend audit log tracking
  docs/changes.rst
  weblate/accounts/migrations/0026_alter_auditlog_activity.py
  weblate/accounts/models.py
  weblate/accounts/tests/test_models.py
  weblate/accounts/tests/test_registration.py
  weblate/accounts/tests/test_views.py
  weblate/accounts/views.py
  weblate/api/tests.py
  weblate/api/views.py
  weblate/auth/admin.py
  weblate/auth/management/commands/createadmin.py
  weblate/auth/models.py
  weblate/auth/tests/test_admin.py
  weblate/auth/tests/test_commands.py
  weblate/auth/tests/test_models.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix: use select_for_update for component updates
  docs/specs/openapi.yaml
  weblate/api/tests.py
  weblate/api/views.py
  weblate/trans/models/component.py
  weblate/trans/tests/test_component.py
  weblate/trans/tests/test_manage.py
  weblate/trans/tests/test_settings.py
  weblate/trans/views/settings.py
Due: py-join-comma

test(client): add selenium tests for the new date picker
  weblate/trans/tests/test_selenium.py
Due: py-join-comma

fix(vcs): annotate remote operation for validation
  weblate/addons/git.py
  weblate/addons/tests.py
  weblate/api/tests.py
  weblate/gitexport/tests.py
  weblate/gitexport/views.py
  weblate/trans/component_copy.py
  weblate/trans/tests/test_component.py
  weblate/trans/tests/test_git_views.py
  weblate/trans/tests/test_remote.py
  weblate/vcs/base.py
  weblate/vcs/git.py
  weblate/vcs/mercurial.py
  weblate/vcs/tests/test_vcs.py
Due: py-join-comma

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Due: none
