Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Chinese (Traditional Han script))
  docs/locales/zh_Hant/LC_MESSAGES/docs.po
Due: none

fix(component): consolidate lock ordering
  weblate/api/tests.py
  weblate/api/views.py
  weblate/trans/models/component.py
  weblate/trans/tests/test_manage.py
  weblate/trans/tests/test_settings.py
  weblate/trans/views/settings.py
Due: py-join-comma

Translated using Weblate (Portuguese (Brazil))
  docs/locales/pt_BR/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Due: none

Apply suggested fix to weblate/vcs/mercurial.py from Copilot Autofix
  weblate/vcs/mercurial.py
Due: py-join-comma

fix(add-ons): consolidate symlink validation
  weblate/addons/forms.py
  weblate/addons/gettext.py
  weblate/addons/tests.py
Due: py-join-comma

fix(style): customize bootstrap variables used by toasts
  docs/changes.rst
  weblate/static/style-dark.css
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

feat: new date range picker implementation (#19046)
  client/package.json
  client/src/main.js
  client/yarn.lock
  weblate/static/daterangepicker.css
  weblate/static/daterangepicker.css.license
  weblate/static/js/date-range-picker.js
  weblate/static/js/vendor/autoComplete.js
  weblate/static/js/vendor/main.js
  weblate/static/js/vendor/main.js.license
  weblate/static/js/vendor/mousetrap.js
  weblate/static/js/vendor/multi.js
  weblate/static/js/vendor/prismjs.js
  weblate/static/js/vendor/tribute.js
  weblate/static/loader-bootstrap.js
  weblate/static/style-dark.css
  weblate/static/styles/date-range-picker.css
  weblate/static/styles/main.css
  weblate/templates/base.html
  weblate/templates/snippets/meta-css.html
  weblate/trans/tests/test_selenium.py
Due: py-join-comma

chore(js): update vendored libraries
  docs/specs/sbom/partial/javascript.json
  docs/specs/sbom/sbom.json
Due: none

chore(js): update vendored libraries (#19076)
  docs/specs/sbom/partial/javascript.json
  docs/specs/sbom/sbom.json
Due: none

chore(vcs): fix typo in docs (#19072)
  weblate/vcs/mercurial.py
Due: py-join-comma

feat(manage): support for removing host keys
  docs/changes.rst
  weblate/templates/manage/ssh.html
  weblate/trans/models/component.py
  weblate/trans/tests/test_alert.py
  weblate/trans/tests/test_component.py
  weblate/vcs/ssh.py
  weblate/vcs/tests/test_ssh.py
  weblate/wladmin/tests.py
  weblate/wladmin/views.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(utils): avoid newline stripping from errors
  docs/changes.rst
  weblate/trans/tests/test_component.py
  weblate/trans/tests/test_util.py
  weblate/trans/util.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

chode(tests): fix typos in selenium tests
  weblate/trans/tests/test_selenium.py
Due: py-join-comma

fix(utils): correctly count words in plural CJK strings
  weblate/trans/tests/test_util.py
  weblate/trans/util.py
Due: py-join-comma

fix(add-ons): simplify pot header cleanup
  docs/changes.rst
  weblate/addons/gettext.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

chore(vcs): add type annotations to Mercurial backend (#19086)
  weblate/vcs/mercurial.py
Due: py-join-comma

chore(js): update vendored libraries
  client/yarn.lock
Due: none

fix(ci): corrected fuzzer runner invocation
  .clusterfuzzlite/build.sh
Due: none

chore(utils): change type annotation to match changed django stubs
  weblate/utils/render.py
Due: py-join-comma

fix(ci): move uv lock maintenance further from yarn lock maintenance
  .github/workflows/uv-upgrade.yml
Due: none
