Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst contaning double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|anubis|127\.0\.0\.1|user:password@proxy|libretranslate:)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

rst-seealso-inline:
  name: seealso should use block
  entry: '^\.\. seealso:: .*$'
  language: pygrep

rst-seealso-list:
  name: seealso shoud use list for multiple lins
  args:
  - --multiline
  entry: ^\.\. seealso::\n\n(   *[:`*][^\n]*\n)*   *[:`*][^\n]*,
  language: pygrep

py-join-comma:
  name: Localized comma in join
  args:
  - --multiline
  entry: format_html_join\(\s*", "
  language: pygrep

fix(ci): annotate pre-commit-ci-lite steps
  .github/actions/auto-commit/action.yml
  .github/workflows/docs.yml
  .github/workflows/licenses-update.yml
  .github/workflows/schema-update.yml
  .github/workflows/unicodechars.yml
  .github/workflows/uv-upgrade.yml
  .github/workflows/yarn-update.yml
Due: none

configure exporter headers with file_format_params
  weblate/formats/base.py
  weblate/formats/exporters.py
  weblate/formats/tests/test_exporters.py
Due: py-join-comma

set GettextSetLanguageTeamHeader default to True
  weblate/formats/ttkit.py
  weblate/trans/file_format_params.py
Due: py-join-comma

docs: Documentation snippets update
  docs/snippets/file-format-parameters.rst
Due: rst-http, rst-seealso-inline, rst-seealso-list

deps: replace daterangepicker with flatpickr
  client/package.json
  client/src/flatpicker.css
  client/src/main.js
  client/webpack.config.js
  client/yarn.lock
  weblate/static/daterangepicker.css
  weblate/static/daterangepicker.css.license
  weblate/static/js/vendor/flatpickr.js
  weblate/static/js/vendor/main.js
  weblate/static/js/vendor/main.js.license
  weblate/static/loader-bootstrap.js
  weblate/static/style-dark.css
  weblate/static/styles/vendor/flatpickr.css
  weblate/templates/snippets/meta-css.html
Due: none

fix(ci): make the migration testing work with 5.17 as well
  ci/migrate-scripts/setup-base.py
Due: py-join-comma

use indexed 2-pointer approach in make_replacer
  weblate/checks/chars.py
  weblate/trans/autofixes/chars.py
Due: py-join-comma

feat(add-ons): show preview for language consistency add-on
  docs/changes.rst
  weblate/addons/consistency.py
  weblate/addons/forms.py
  weblate/addons/tasks.py
  weblate/addons/tests.py
  weblate/addons/views.py
  weblate/lang/models.py
  weblate/lang/tests.py
  weblate/templates/addons/language_consistency_preview.html
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

feat(accounts): add default notification configuration to settings
  docs/admin/config.rst
  docs/admin/install/docker.rst
  weblate/accounts/data.py
  weblate/accounts/models.py
  weblate/settings_docker.py
  weblate/utils/environment.py
  weblate/utils/tests/test_environment.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(component): pass force_scan to linked components
  weblate/trans/models/component.py
Due: py-join-comma

changelog update
  docs/changes.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

remove outdated changelog lines
  docs/changes.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

feat(add-ons): add button for manual trigger of daily add-ons
  docs/admin/addons.rst
  docs/api.rst
  docs/changes.rst
  docs/snippets/addon-events-autogenerated.rst
  docs/snippets/addons-autogenerated.rst
  docs/specs/openapi.yaml
  weblate/addons/base.py
  weblate/addons/events.py
  weblate/addons/gettext.py
  weblate/addons/migrations/0016_alter_addonactivitylog_event_alter_event_event.py
  weblate/addons/migrations/0017_add_manual_event_to_extract_pot_addons.py
  weblate/addons/models.py
  weblate/addons/tasks.py
  weblate/addons/tests.py
  weblate/addons/views.py
  weblate/api/tests.py
  weblate/api/views.py
  weblate/templates/addons/addon_detail.html
  weblate/templates/addons/addon_list.html
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Apply suggestion from @nijel
  docs/changes.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

fix(add-ons): avoid repeated commit pending on linked components
  weblate/addons/base.py
  weblate/addons/gettext.py
  weblate/addons/tests.py
Due: py-join-comma

feat(add-ons): improve discovery configuration and documentation
  docs/changes.rst
  docs/snippets/addons-autogenerated.rst
  weblate/addons/forms.py
  weblate/addons/tests.py
  weblate/addons/views.py
  weblate/static/js/addon-discovery.js
  weblate/templates/addons/addon_detail.html
  weblate/trans/tests/test_discovery.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

feat(change): add bulk revert operation
  docs/changes.rst
  docs/snippets/addon-parameters-autogenerated.rst
  docs/specs/openapi.yaml
  weblate/accounts/tests/test_views.py
  weblate/accounts/views.py
  weblate/templates/accounts/user.html
  weblate/templates/trans/project-access.html
  weblate/trans/actions.py
  weblate/trans/change_display.py
  weblate/trans/forms.py
  weblate/trans/migrations/0073_alter_change_action.py
  weblate/trans/models/change.py
  weblate/trans/models/unit.py
  weblate/trans/tasks.py
  weblate/trans/tests/test_acl.py
  weblate/trans/tests/test_edit.py
  weblate/trans/views/acl.py
  weblate/trans/views/edit.py
  weblate/urls.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

docs: clarify upgrading instructions on Celery queues
  docs/admin/upgrade.rst
  docs/changes.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

chore: disable doc reviews for now
  .github/CODEOWNERS
Due: none

fix(backup): use accordion to render backup status
  weblate/static/style-dark.css
  weblate/templates/manage/backups.html
  weblate/trans/tests/test_selenium.py
Due: py-join-comma

fix(checks): Fix false positives in placeholders for Punctuation spacing check (#18600)
  docs/changes.rst
  weblate/checks/chars.py
  weblate/checks/duplicate.py
  weblate/checks/same.py
  weblate/checks/tests/test_chars_checks.py
  weblate/checks/tests/test_duplicate_checks.py
  weblate/checks/tests/test_same_checks.py
  weblate/checks/tests/test_utils.py
  weblate/checks/utils.py
  weblate/trans/autofixes/chars.py
  weblate/trans/tests/test_autofix.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

feat(js): use Bootstrap toasts for notifications
  docs/changes.rst
  weblate/static/loader-bootstrap.js
  weblate/static/styles/main.css
  weblate/templates/base.html
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

feat(manage): allow admins to search by IP address
  docs/changes.rst
  docs/user/search.rst
  weblate/utils/search.py
  weblate/utils/tests/test_search.py
  weblate/wladmin/tests.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(component): use context for storing updated revision
  weblate/trans/models/component.py
  weblate/trans/models/translation.py
  weblate/trans/tests/test_component.py
Due: py-join-comma

feat: new date range picker implementation
  client/package.json
  client/src/main.js
  client/yarn.lock
  weblate/static/daterangepicker.css
  weblate/static/daterangepicker.css.license
  weblate/static/js/date-range-picker.js
  weblate/static/js/vendor/autoComplete.js
  weblate/static/js/vendor/main.js
  weblate/static/js/vendor/main.js.license
  weblate/static/js/vendor/mousetrap.js
  weblate/static/js/vendor/multi.js
  weblate/static/js/vendor/prismjs.js
  weblate/static/js/vendor/tribute.js
  weblate/static/loader-bootstrap.js
  weblate/static/style-dark.css
  weblate/static/styles/date-range-picker.css
  weblate/static/styles/main.css
  weblate/templates/base.html
  weblate/templates/snippets/meta-css.html
  weblate/trans/tests/test_selenium.py
Due: py-join-comma

Translated using Weblate (Arabic)
  weblate/locale/ar/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Swedish)
  weblate/locale/sv/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Kabyle)
  weblate/locale/kab/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Albanian)
  docs/locales/sq/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Korean)
  docs/locales/ko/LC_MESSAGES/docs.po
Due: none

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
