Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

Translated using Weblate (Bulgarian)
  weblate/locale/bg/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Japanese)
  weblate/locale/ja/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Slovak)
  docs/locales/sk/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Slovak)
  weblate/locale/sk/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Chinese (Traditional Han script))
  docs/locales/zh_Hant/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Vietnamese)
  docs/locales/vi/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Hebrew)
  weblate/locale/he/LC_MESSAGES/django.po
Due: none

fix(ci): pin hash for cyclonedx-cli
  .github/renovate.json
  .github/workflows/setup.yml
  pyproject.toml
  scripts/show-version.py
  uv.lock
Due: py-join-comma

chore: use existing checklist for engage actions
  weblate/templates/engage.html
  weblate/trans/checklists.py
  weblate/trans/tests/test_widgets.py
Due: py-join-comma

feat(machinery): show warning about sending data to third-party
  docs/admin/machine.rst
  weblate/machinery/base.py
  weblate/machinery/cyrtranslit.py
  weblate/machinery/dummy.py
  weblate/machinery/tests.py
  weblate/machinery/views.py
  weblate/templates/machinery/edit.html
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

Add file format specific tags to format features docs
  docs/snippets/format-features/arb-features.rst
  docs/snippets/format-features/aresource-features.rst
  docs/snippets/format-features/asciidoc-features.rst
  docs/snippets/format-features/cmp-resource-features.rst
  docs/snippets/format-features/fluent-features.rst
  docs/snippets/format-features/formatjs-features.rst
  docs/snippets/format-features/gwt-features.rst
  docs/snippets/format-features/html-features.rst
  docs/snippets/format-features/i18next-features.rst
  docs/snippets/format-features/i18nextv4-features.rst
  docs/snippets/format-features/idml-features.rst
  docs/snippets/format-features/laravel-features.rst
  docs/snippets/format-features/markdown-features.rst
  docs/snippets/format-features/mdx-features.rst
  docs/snippets/format-features/mi18n-lang-features.rst
  docs/snippets/format-features/moko-resource-features.rst
  docs/snippets/format-features/odf-features.rst
  docs/snippets/format-features/properties-features.rst
  docs/snippets/format-features/resourcedictionary-features.rst
  docs/snippets/format-features/strings-features.rst
  docs/snippets/format-features/stringsdict-features.rst
  weblate/formats/management/commands/list_format_features.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

Translated using Weblate (Hebrew)
  docs/locales/he/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Czech)
  docs/locales/cs/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Finnish)
  docs/locales/fi/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Finnish)
  weblate/locale/fi/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Finnish)
  weblate/locale/fi/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Due: none

feat: Add translate method to user agent in audit log entry
  weblate/accounts/models.py
Due: py-join-comma

feat: Render translated user agent on profile views
  weblate/templates/accounts/profile.html
  weblate/templates/accounts/user.html
Due: none

chore: Add translated user agent tests
  weblate/accounts/tests/test_models.py
Due: py-join-comma

fix: Translate only generic user agent parts
  weblate/accounts/models.py
  weblate/accounts/tests/test_models.py
Due: py-join-comma
