Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

Translated using Weblate (Ukrainian)
  weblate/locale/uk/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Portuguese)
  docs/locales/pt/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Ukrainian)
  weblate/locale/uk/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Norwegian Bokmål)
  docs/locales/nb/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Korean)
  weblate/locale/ko/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Korean)
  docs/locales/ko/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Due: none

Apply suggestions from code review
  weblate/addons/git.py
Due: py-join-comma

Apply suggested fix to weblate/trans/models/component.py from Copilot Autofix
  weblate/trans/models/component.py
Due: py-join-comma

fix(vcs): bump minimal git version
  docs/changes.rst
  weblate/vcs/git.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Translated using Weblate (Norwegian Bokmål)
  weblate/locale/nb/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Ukrainian)
  docs/locales/uk/LC_MESSAGES/docs.po
Due: none

fix(lock): better log locking errors
  weblate/addons/tasks.py
  weblate/trans/models/component.py
  weblate/utils/lock.py
Due: py-join-comma

chore(backups): remove checking for database features
  weblate/trans/backups.py
  weblate/trans/models/component.py
  weblate/trans/tests/test_backups.py
Due: py-join-comma

chore(component): spelling fixes (#18344)
  weblate/trans/models/component.py
Due: py-join-comma

chore(edit): improve type annotations for automatic translation
  weblate/addons/autotranslate.py
  weblate/api/views.py
  weblate/checks/tests/test_models.py
  weblate/trans/autotranslate.py
  weblate/trans/management/commands/auto_translate.py
  weblate/trans/tasks.py
  weblate/trans/tests/test_autotranslate.py
  weblate/trans/views/edit.py
Due: py-join-comma

Apply suggested fix to weblate/memory/models.py from Copilot Autofix
  weblate/memory/models.py
Due: py-join-comma

fix(memory): use correct language code in the error
  weblate/memory/models.py
Due: py-join-comma

chore(js): corrected typo in time description
  weblate/static/loader-bootstrap.js
Due: none
