Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, py-join-comma

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst containg double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|anubis|127\.0\.0\.1|user:password@proxy)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

py-join-comma:
  name: Localized comma in join
  args:
  - --multiline
  entry: format_html_join\(\s*", "
  language: pygrep

fix after merge
  weblate/static/style-dark.css
Due: none

chore(backup): refactor project directory operations
  .github/workflows/mypy.yml
  weblate/trans/backups.py
  weblate/trans/models/project.py
  weblate/trans/tests/test_backups.py
  weblate/trans/views/settings.py
Due: py-join-comma

fix(ci): explicitely specify artifact to download
  .github/workflows/setup.yml
Due: none

feat(format): support starting from scratch with XLIFF
  docs/changes.rst
  weblate/api/tests.py
  weblate/formats/ttkit.py
Due: rst-double-space, rst-http, rst-bullet-stop, py-join-comma

fix(ui): make authentication icons visible in dark mode (#15744)
  weblate/static/style-dark.css
Due: none

Translated using Weblate (Slovak)
  weblate/locale/sk/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Greek)
  weblate/locale/el/LC_MESSAGES/django.po
Due: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Due: none

feat(repo): add link to browse all repository changes
  weblate/templates/js/git-status.html
  weblate/trans/views/js.py
Due: py-join-comma

feat(changes): add forced sync and scan operations
  docs/specs/openapi.yaml
  weblate/trans/actions.py
  weblate/trans/migrations/0045_alter_change_action.py
  weblate/trans/models/component.py
Due: py-join-comma

Clarify authentication documentation
  docs/admin/auth.rst
  docs/admin/install/docker.rst
Due: rst-double-space, rst-http

Fix config type
  docs/conf.py
Due: py-join-comma

bugfix: reject backups with duplicate files
  weblate/trans/backups.py
  weblate/trans/tests/data/projectbackup-duplicate-files.zip
  weblate/trans/tests/test_backups.py
Due: py-join-comma

implement project level locking
  weblate/api/serializers.py
  weblate/api/views.py
Due: py-join-comma

fix mypy errors
  weblate/trans/file_format_params.py
  weblate/trans/forms.py
  weblate/trans/management/commands/list_file_format_params.py
  weblate/trans/migrations/0045_component_file_format_params.py
Due: py-join-comma

Update formats.rst: TBX supports Context
  docs/formats.rst
Due: rst-double-space, rst-http

more mypy errors fix
  weblate/trans/file_format_params.py
Due: py-join-comma

Make migration elidable
  weblate/addons/migrations/0007_update_autotranslate_filter_type.py
Due: py-join-comma

chore(formats): directly use pypo implementation for gettext PO
  weblate/formats/convert.py
  weblate/formats/exporters.py
  weblate/formats/tests/test_formats.py
  weblate/formats/ttkit.py
Due: py-join-comma

docs: improve enforced checks documentation
  docs/admin/checks.rst
  docs/admin/projects.rst
Due: rst-double-space, rst-http

docs: update link to the laravel docs
  docs/formats/laravel.rst
Due: rst-double-space, rst-http

feat: use search queries for automatic translation (#15585)
  docs/admin/addons.rst
  weblate/addons/autotranslate.py
  weblate/addons/migrations/0007_update_autotranslate_filter_type.py
  weblate/addons/tests.py
  weblate/api/tests.py
  weblate/api/views.py
  weblate/checks/tests/test_models.py
  weblate/trans/autotranslate.py
  weblate/trans/forms.py
  weblate/trans/management/commands/auto_translate.py
  weblate/trans/models/unit.py
  weblate/trans/tasks.py
  weblate/trans/tests/test_autotranslate.py
  weblate/trans/tests/test_component.py
  weblate/trans/tests/test_selenium.py
  weblate/trans/views/edit.py
Due: rst-double-space, rst-http, py-join-comma

docs: fix typos
  docs/changes.rst
  docs/contributing/tests.rst
Due: rst-double-space, rst-http, rst-bullet-stop

docs: update link to the laravel docs
  docs/formats.rst
Due: rst-double-space, rst-http

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
