Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

Translated using Weblate (Chinese (Traditional Han script))
  docs/locales/zh_Hant/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Korean)
  docs/locales/ko/LC_MESSAGES/docs.po
Due: none

feat(add-ons): normalize POT comments as well
  docs/snippets/addons-autogenerated.rst
  weblate/addons/forms.py
  weblate/addons/gettext.py
  weblate/addons/tests.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

Update weblate/addons/forms.py
  weblate/addons/forms.py
Due: py-join-comma

Apply suggested fix to weblate/formats/ttkit.py from Copilot Autofix
  weblate/formats/ttkit.py
Due: py-join-comma

docs(docker): update versioning spec
  docs/admin/install/docker.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

fix(add-ons): use fetch_validated_url to trigger webhooks (#18815)
  docs/admin/config.rst
  docs/admin/install/docker.rst
  docs/changes.rst
  weblate/addons/forms.py
  weblate/addons/tests.py
  weblate/addons/webhooks.py
  weblate/settings_docker.py
  weblate/settings_example.py
  weblate/utils/models.py
  weblate/utils/requests.py
  weblate/utils/tests/test_requests.py
  weblate/utils/tests/test_validators.py
  weblate/utils/validators.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

chore(formats): fix typo (#18836)
  weblate/formats/ttkit.py
Due: py-join-comma

fix(test): add test to avoid growing permissions queries
  weblate/auth/tests/test_models.py
  weblate/trans/models/component.py
Due: py-join-comma

docs: extend threat model
  docs/security/threat-model.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

docs: clarify IRP
  docs/security/incident-response-plan.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

Update docs/security/threat-model.rst
  docs/security/threat-model.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

fix(ci): avoid using --frozen on uv script
  .github/workflows/docs.yml
Due: none

Update docs/security/incident-response-plan.rst
  docs/security/incident-response-plan.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

docs: clarify IRP (#18848)
  docs/security/incident-response-plan.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

docs: extend threat model (#18846)
  docs/security/threat-model.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

fix(docs): wrong indentation
  docs/security/incident-response-plan.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

fix(vcs): improved symlink validation
  docs/changes.rst
  weblate/trans/discovery.py
  weblate/trans/tests/test_discovery.py
  weblate/utils/files.py
  weblate/utils/tests/test_files.py
  weblate/vcs/base.py
  weblate/vcs/tests/test_vcs.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(formats): properly handle default params
  ci/migrate-scripts/assert-encoding.py
  ci/migrate-scripts/setup-formats.py
  docs/changes.rst
  docs/snippets/file-format-parameters.rst
  weblate/formats/tests/test_formats.py
  weblate/formats/ttkit.py
  weblate/trans/file_format_params.py
  weblate/trans/migrations/0070_remove_xwiki_page_properties_encoding.py
  weblate/trans/models/component.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

feat(docker): support WEBLATE_SOCIAL_AUTH_KEYCLOAK_ID_KEY env var (#18852)
  docs/admin/install/docker.rst
  docs/changes.rst
  weblate/settings_docker.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

move doc to right place
  docs/snippets/checks-autogenerated.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

chore(auth): fix docstring typo
  weblate/auth/models.py
Due: py-join-comma

feat(hooks): Add Forgejo notification webhook (#18838)
  docs/admin/continuous.rst
  docs/api.rst
  docs/changes.rst
  docs/specs/openapi.yaml
  weblate/templates/data.html
  weblate/trans/tests/test_hooks.py
  weblate/trans/views/hooks.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Translated using Weblate (Irish)
  docs/locales/ga/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Czech)
  docs/locales/cs/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Breton)
  docs/locales/br/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Due: none

Translated using Weblate (French)
  weblate/locale/fr/LC_MESSAGES/djangojs.po
Due: none
