Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

fix html build errors
  docs/formats/laravel.rst
  docs/snippets/addons-autogenerated.rst
  docs/snippets/checks-autogenerated.rst
  weblate/addons/management/commands/list_addons.py
  weblate/utils/management/base.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

fix faulty newlines
  docs/admin/addons.rst
  docs/admin/machine.rst
  docs/snippets/addons-autogenerated.rst
  docs/snippets/checks-autogenerated.rst
  docs/snippets/machines-autogenerated.rst
  weblate/addons/cdn.py
  weblate/addons/management/commands/list_addons.py
  weblate/machinery/management/commands/list_machinery.py
  weblate/utils/management/base.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

refactor DocVersionsMixin
  docs/snippets/addons-autogenerated.rst
  weblate/addons/cleanup.py
  weblate/addons/fedora_messaging.py
  weblate/addons/generate.py
  weblate/addons/gettext.py
  weblate/addons/webhooks.py
  weblate/machinery/alibaba.py
  weblate/machinery/anthropic.py
  weblate/machinery/cyrtranslit.py
  weblate/machinery/libretranslate.py
  weblate/machinery/modernmt.py
  weblate/machinery/ollama.py
  weblate/machinery/openai.py
  weblate/machinery/yandexv2.py
  weblate/utils/docs.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

Automate docs generation for checks
  docs/Makefile
  docs/admin/checks.rst
  docs/snippets/check-flags-autogenerated.rst
  docs/snippets/checks-autogenerated.rst
  docs/user/checks.rst
  weblate/addons/management/commands/list_addons.py
  weblate/checks/base.py
  weblate/checks/chars.py
  weblate/checks/consistency.py
  weblate/checks/duplicate.py
  weblate/checks/fluent/inner_html.py
  weblate/checks/fluent/parts.py
  weblate/checks/fluent/references.py
  weblate/checks/fluent/syntax.py
  weblate/checks/format.py
  weblate/checks/glossary.py
  weblate/checks/icu.py
  weblate/checks/management/commands/list_checks.py
  weblate/checks/markup.py
  weblate/checks/placeholders.py
  weblate/checks/source.py
  weblate/machinery/management/commands/list_machinery.py
  weblate/utils/docs.py
  weblate/utils/management/base.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

setup DB/cache services in docs GA workflow
  .github/workflows/docs.yml
  docs/snippets/check-flags-autogenerated.rst
  docs/snippets/machines-autogenerated.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

add prepare database step
  .github/workflows/docs.yml
Due: none

fix inconsistent title level bug
  docs/snippets/checks-autogenerated.rst
  docs/user/checks.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

delete some content for test
  docs/snippets/addons-autogenerated.rst
  docs/snippets/checks-autogenerated.rst
  docs/snippets/machines-autogenerated.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

docs: Documentation snippets update
  docs/snippets/addons-autogenerated.rst
  docs/snippets/checks-autogenerated.rst
  docs/snippets/machines-autogenerated.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

update command name in comments
  docs/snippets/check-flags-autogenerated.rst
  docs/snippets/checks-autogenerated.rst
  docs/snippets/machines-autogenerated.rst
  weblate/utils/management/base.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

improve test coverage
  weblate/addons/tests.py
  weblate/machinery/tests.py
Due: py-join-comma

fix: correct color styling for button links
  weblate/static/style-dark.css
  weblate/static/styles/main.css
  weblate/templates/translate.html
Due: none

docs: fix author params in api upload endpoint
  docs/api.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

feat(ui): clarify styling of explanation box
  weblate/static/styles/main.css
  weblate/templates/translate.html
Due: none

pylint check fix
  weblate/utils/management/base.py
Due: py-join-comma

fix: use effective default reviewers for bitbucket cloud
  weblate/vcs/git.py
Due: py-join-comma

chore(js): update vendored libraries
  client/yarn.lock
Due: none

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  uv.lock
Due: none

chore(deps): update lockfile (#18473)
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  uv.lock
Due: none

chore(js): update vendored libraries (#18472)
  client/yarn.lock
Due: none

fix(ci): remove homebrew postgresql workaround
  .github/workflows/macos.yml
Due: none

chore: Sync with WeblateOrg/meta
  .editorconfig
  .github/comments/issue-fixed.md
  .github/comments/issue-fixed.md.license
  .github/comments/issue-newbie.md
  .github/comments/issue-newbie.md.license
  .github/comments/issue-resolved.md
  .github/comments/issue-resolved.md.license
  .github/workflows/labels.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pull_requests.yaml
  .pre-commit-config.yaml
Due: none

chore: annotate some zizmor warnings
  .github/workflows/docs.yml
  .github/workflows/fossa.yml
  .github/workflows/issue-stale.yml
  .github/workflows/labels.yml
  .github/workflows/licenses-update.yml
  .github/workflows/macos.yml
  .github/workflows/migrations.yml
  .github/workflows/pr-stale.yml
  .github/workflows/pre-commit.yml
  .github/workflows/schema-update.yml
  .github/workflows/test.yml
  .github/workflows/unicodechars.yml
  .github/workflows/uv-upgrade.yml
  .github/workflows/yarn-update.yml
Due: none

feat(ci): use gh to publish release on GitHub
  .github/workflows/setup.yml
Due: none

feat(ui): clarify styling of explanation box (#18460)
  weblate/static/styles/main.css
  weblate/templates/translate.html
Due: none

chore(ci): document up-to-date reason for not using wheels
  ci/pip-install
Due: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Hebrew)
  docs/locales/he/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Vietnamese)
  docs/locales/vi/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Korean)
  docs/locales/ko/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Korean)
  weblate/locale/ko/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Slovenian)
  weblate/locale/sl/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Kabyle)
  docs/locales/kab/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Kabyle)
  weblate/locale/kab/LC_MESSAGES/django.po
Due: none
