Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

chore(l10n): update Portuguese translation
  docs/locales/pt/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Croatian translation
  docs/locales/hr/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Portuguese translation
  weblate/locale/pt/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Spanish translation
  weblate/locale/es/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Spanish translation
  weblate/locale/es/LC_MESSAGES/django.po
Due: none

chore(l10n): update Vietnamese translation
  weblate/locale/vi/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Czech translation
  weblate/locale/cs/LC_MESSAGES/django.po
Due: none

chore(l10n): update Swedish translation
  docs/locales/sv/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Khmer (Central) translation
  weblate/locale/km/LC_MESSAGES/django.po
Due: none

chore(l10n): update Czech translation
  docs/locales/cs/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Spanish translation
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Vietnamese translation
  weblate/locale/vi/LC_MESSAGES/django.po
Due: none

chore(l10n): update Persian translation
  weblate/locale/fa/LC_MESSAGES/django.po
Due: none

chore(l10n): update Croatian translation
  weblate/locale/hr/LC_MESSAGES/django.po
Due: none

chore(l10n): update Russian translation
  weblate/locale/ru/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Albanian translation
  weblate/locale/sq/LC_MESSAGES/django.po
Due: none

chore(l10n): update Swedish translation
  weblate/locale/sv/LC_MESSAGES/django.po
Due: none

chore(l10n): update Vietnamese translation
  docs/locales/vi/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Portuguese translation
  weblate/locale/pt/LC_MESSAGES/django.po
Due: none

chore: modernize readthedocs setup
  .readthedocs.yml
Due: none

fix(js): prevent form persistence from crashing page init on empty field name
  weblate/static/loader-bootstrap.js
  weblate/trans/tests/test_selenium.py
Due: py-join-comma

fix(vcs): validate Git history before repository URL updates
  docs/changes.rst
  weblate/trans/models/component.py
  weblate/trans/tests/test_component.py
  weblate/vcs/base.py
  weblate/vcs/git.py
  weblate/vcs/tests/test_vcs.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

feat: finish removing jquery (#20164)
  biome.json
  client/package.json
  client/src/main.js
  client/yarn.lock
  weblate/static/js/vendor/main.js
  weblate/static/js/vendor/main.js.license
  weblate/static/loader-bootstrap.js
  weblate/trans/tests/test_selenium.py
Due: py-join-comma

feat(alerts): improve alerts rendering
  docs/changes.rst
  weblate/billing/models.py
  weblate/billing/tests.py
  weblate/templates/component.html
  weblate/templates/snippets/libre-checklist.html
  weblate/trans/models/alert.py
  weblate/trans/tests/test_guidance.py
  weblate/trans/tests/test_selenium.py
  weblate/trans/views/basic.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

refactor(accounts): adopt social auth external partial confirmation
  docs/changes.rst
  pyproject.toml
  uv.lock
  weblate/accounts/pipeline.py
  weblate/accounts/strategy.py
  weblate/accounts/tests/test_registration.py
  weblate/accounts/tests/test_remove.py
  weblate/accounts/urls.py
  weblate/accounts/views.py
  weblate/legal/tests.py
  weblate/settings_docker.py
  weblate/settings_example.py
  weblate/templates/accounts/token.html
  weblate/templates/social_django/partial_pipeline_external_resume.html
  weblate/trans/tests/test_acl.py
  weblate/trans/tests/test_selenium.py
  weblate/trans/tests/test_views.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(auth): normalize workspace team language selection
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/api/views.py
  weblate/auth/forms.py
  weblate/auth/migrations/0012_workspace_team_language_selection.py
  weblate/auth/models.py
  weblate/auth/tests/test_views.py
  weblate/billing/migrations/0012_migrate_owners_to_workspace.py
  weblate/workspaces/models.py
  weblate/workspaces/tests.py
Due: py-join-comma

fix(auth): enforce 2fa for global team permissions
  docs/changes.rst
  docs/security/threat-model.rst
  weblate/auth/models.py
  weblate/auth/tests/test_permissions.py
  weblate/wladmin/tests.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(api): filter component assignment lookup
  weblate/api/views.py
Due: py-join-comma

fix(security): prevent symlink leaks in ZIP downloads
  docs/changes.rst
  weblate/api/tests.py
  weblate/trans/tasks.py
  weblate/trans/tests/test_views.py
  weblate/utils/files.py
  weblate/utils/tests/test_files.py
  weblate/utils/views.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

test(selenium): wait for base JavaScript readiness
  weblate/trans/tests/test_selenium.py
Due: py-join-comma
