Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst containg double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|127\.0\.0\.1|user:password@proxy)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

fix(exporters): apply string filter to location
  weblate/formats/base.py
Due: none

fix(glossary): correctly handle mixed origin glossaries
  weblate/glossary/models.py
Due: none

fix(api): add missing prefetch on project download
  weblate/api/views.py
Due: none

fix: fallback to author if user is not set
  weblate/trans/models/translation.py
Due: none

feat(add-ons): track CDN add-on as author of extracted strings
  weblate/addons/cdn.py
  weblate/addons/tasks.py
Due: none

fix(editor): pass event to indicateChanges for accurate context
  weblate/static/editor/base.js
Due: none

feat(search): add has:location lookup
  docs/changes.rst
  docs/user/search.rst
  weblate/utils/search.py
  weblate/utils/tests/test_search.py
Due: rst-double-space, rst-http, rst-bullet-stop

Apply suggestions from code review
  docs/admin/install.rst
Due: rst-double-space, rst-http

fix: corrected server side ordering of translations
  docs/changes.rst
  weblate/templates/dashboard/user.html
  weblate/trans/templatetags/translations.py
  weblate/utils/views.py
Due: rst-double-space, rst-http, rst-bullet-stop

feat(api): add comment api (#14695)
  docs/api.rst
  docs/changes.rst
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/api/views.py
  weblate/trans/models/comment.py
  weblate/trans/tests/test_tasks.py
  weblate/trans/views/edit.py
Due: rst-double-space, rst-http, rst-bullet-stop

chore: debug payload
  .github/workflows/issue-closed.yml
Due: none

feat(actions): add handler for reopened issues
  .github/workflows/issue-reopened.yaml
Due: none

docs: clarify reverse proxy setup (#14708)
  docs/admin/install.rst
Due: rst-double-space, rst-http

feat(checks): skip same check for Toki Pona (#14704)
  docs/changes.rst
  weblate/checks/duplicate.py
  weblate/checks/same.py
Due: rst-double-space, rst-http, rst-bullet-stop

fix(actions): corrected closing comment
  .github/workflows/issue-closed.yml
Due: none

Update docs/security/issues.rst
  docs/security/issues.rst
Due: rst-double-space, rst-http

feat: import comment api
  docs/api.rst
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/api/views.py
  weblate/trans/models/comment.py
  weblate/trans/tests/test_tasks.py
  weblate/trans/views/edit.py
Due: rst-double-space, rst-http

Translated using Weblate (Hungarian)
  docs/locales/hu/LC_MESSAGES/docs.po
Due: none

fix: avoid using uv .. --no-sources
  .github/workflows/api.yml
  .github/workflows/docs.yml
  .github/workflows/linkcheck.yml
  .github/workflows/macos.yml
  .github/workflows/migrations.yml
  .github/workflows/mypy.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pylint.yml
  .github/workflows/setup.yml
  .github/workflows/test.yml
  .github/workflows/uv-upgrade.yml
  .readthedocs.yml
  ci/lib.sh
  ci/pip-install
  ci/run-migrate
  dev-docker/weblate-dev/start-dev
  scripts/set-version
Due: none

chore: Sync with WeblateOrg/meta
  .github/workflows/pre-commit.yml
Due: none

fix: avoid using uv .. --no-sources
  .github/workflows/api.yml
  .github/workflows/docs.yml
  .github/workflows/linkcheck.yml
  .github/workflows/macos.yml
  .github/workflows/migrations.yml
  .github/workflows/mypy.yml
  .github/workflows/pylint.yml
  .github/workflows/setup.yml
  .github/workflows/test.yml
  .github/workflows/uv-upgrade.yml
  .readthedocs.yml
  ci/lib.sh
  ci/pip-install
  ci/run-migrate
  dev-docker/weblate-dev/start-dev
  scripts/set-version
Due: none

Translated using Weblate (Belarusian)
  weblate/locale/be/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Belarusian)
  docs/locales/be/LC_MESSAGES/docs.po
Due: none

docs: add security chapter to the documentation (#14713)
  docs/conf.py
  docs/contributing/issues.rst
  docs/index.rst
  docs/security/index.rst
  docs/security/issues.rst
Due: rst-double-space, rst-http

docs: clarify security updates
  docs/contributing/release.rst
  docs/security/index.rst
Due: rst-double-space, rst-http

docs: update link to security issues
  SECURITY.md
  weblate/static/security.txt
Due: none

chore: Sync with WeblateOrg/meta
  .github/workflows/uv-upgrade.yml
Due: none

fix: include leading and trailing slash when testing for excluded paths
  weblate/utils/files.py
Due: none

fix: detect OSerror when decompressing ZIP
  weblate/trans/views/create.py
Due: none

fix(glossary): prefetch parent object info in fast mode
  weblate/glossary/models.py
Due: none

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock$
