Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

fix(api): improve fields access control (#18687)
  docs/changes.rst
  docs/specs/openapi.yaml
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/api/views.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(memory): tighten initial similarity tresholds
  weblate/memory/models.py
  weblate/memory/tests.py
  weblate/utils/db.py
  weblate/utils/tests/test_db.py
Due: py-join-comma

docs: Documentation snippets update
  weblate/machinery/tests.py
Due: py-join-comma

Translated using Weblate (Swedish)
  weblate/locale/sv/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Italian)
  docs/locales/it/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Korean)
  docs/locales/ko/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Chinese (Traditional Han script))
  weblate/locale/zh_Hant/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Chinese (Traditional Han script))
  docs/locales/zh_Hant/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Italian)
  weblate/locale/it/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Japanese)
  docs/locales/ja/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Estonian)
  weblate/locale/et/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Polish)
  weblate/locale/pl/LC_MESSAGES/djangojs.po
Due: none

fix(add-ons): invalidate cache on add-on install
  weblate/addons/gettext.py
  weblate/addons/tests.py
Due: py-join-comma

fix: allow redirects in project websites
  docs/changes.rst
  weblate/utils/requests.py
  weblate/utils/tests/test_requests.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix: properly annotate pot files
  REUSE.toml
Due: none

feat(add-ons): use component url for Report-Msgid-Bugs-To
  docs/changes.rst
  weblate/addons/gettext.py
  weblate/addons/tests.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(settings): list newly added add-on is settings
  weblate/settings_docker.py
  weblate/settings_example.py
Due: py-join-comma

perf(machinery): improve built-in machinery performance (#18665)
  docs/changes.rst
  weblate/machinery/tests.py
  weblate/machinery/weblatetm.py
  weblate/trans/migrations/0068_unit_source_tm_index.py
  weblate/trans/models/unit.py
  weblate/utils/db.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Translated using Weblate (Greek)
  weblate/locale/el/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Bengali)
  weblate/locale/bn/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Crimean Tatar)
  weblate/locale/crh/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Tibetan)
  weblate/locale/bo/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Belarusian (Latin script))
  weblate/locale/be_Latn/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Bashkir)
  weblate/locale/ba/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Breton)
  weblate/locale/br/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Welsh)
  weblate/locale/cy/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Afrikaans)
  weblate/locale/af/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Bulgarian)
  weblate/locale/bg/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Bavarian)
  weblate/locale/bar/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Danish)
  weblate/locale/da/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Kurdish (Central))
  weblate/locale/ckb/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Albanian)
  weblate/locale/sq/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Awadhi)
  weblate/locale/awa/LC_MESSAGES/django.po
Due: none
