Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

chore(l10n): update Chinese (Traditional Han script) translation
  weblate/locale/zh_Hant/LC_MESSAGES/django.po
Due: none

chore(l10n): update Chinese (Simplified Han script) translation
  weblate/locale/zh_Hans/LC_MESSAGES/django.po
Due: none

chore(l10n): update Swedish translation
  docs/locales/sv/LC_MESSAGES/docs.po
Due: none

chore(l10n): update French translation
  docs/locales/fr/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Tamil translation
  docs/locales/ta/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Lao translation
  weblate/locale/lo/LC_MESSAGES/django.po
Due: none

chore(l10n): update Irish translation
  weblate/locale/ga/LC_MESSAGES/django.po
Due: none

chore(l10n): update Spanish translation
  weblate/locale/es/LC_MESSAGES/django.po
Due: none

chore(l10n): update Slovak translation
  weblate/locale/sk/LC_MESSAGES/django.po
Due: none

chore(l10n): update Vietnamese translation
  weblate/locale/vi/LC_MESSAGES/django.po
Due: none

chore(l10n): update German translation
  weblate/locale/de/LC_MESSAGES/django.po
Due: none

chore(l10n): update Portuguese translation
  weblate/locale/pt/LC_MESSAGES/django.po
Due: none

chore(l10n): update Dutch translation
  weblate/locale/nl/LC_MESSAGES/django.po
Due: none

chore(l10n): update Russian translation
  weblate/locale/ru/LC_MESSAGES/django.po
Due: none

chore(l10n): update Japanese translation
  weblate/locale/ja/LC_MESSAGES/django.po
Due: none

docs(changelog): document post-2026.9 changes
  docs/changes.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

dynamic serializer, doc
  docs/api.rst
  weblate/api/serializers.py
  weblate/api/views.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

test(celery): guard URL preload imports
  weblate/utils/tests/test_celery.py
Due: py-join-comma

typo
  weblate/api/views.py
Due: py-join-comma

fix(backups): serialize backup file generation
  docs/changes.rst
  weblate/utils/backup.py
  weblate/utils/lock.py
  weblate/utils/tasks.py
  weblate/utils/tests/test_backup.py
  weblate/wladmin/management/commands/backup.py
  weblate/wladmin/migrations/0007_remove_separate_backup_schedules.py
  weblate/wladmin/tasks.py
  weblate/wladmin/tests.py
  weblate/wladmin/views.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

perf(urls): share resolver cache across languages
  weblate/__init__.py
  weblate/utils/tests/test_urls.py
  weblate/utils/urls.py
Due: py-join-comma

docs: document Celery worker modes
  docs/admin/install.rst
  docs/admin/install/docker.rst
  docs/admin/install/steps/install-configure.rst
  docs/changes.rst
  docs/security/threat-model.rst
  weblate/examples/celery
  weblate/examples/celery-weblate.conf
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

fix(ssh): create wrappers atomically
  weblate/vcs/ssh.py
  weblate/vcs/tests/test_ssh.py
Due: py-join-comma

Apply suggestion from @nijel
  weblate/api/views.py
Due: py-join-comma

fix: persist the translate form in more cases
  weblate/static/editor/full.js
  weblate/templates/translate.html
  weblate/trans/tests/test_selenium.py
Due: py-join-comma

Apply suggestion from @nijel
  weblate/api/serializers.py
Due: py-join-comma
