Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

Translated using Weblate (Croatian)
  weblate/locale/hr/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Indonesian)
  docs/locales/id/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Indonesian)
  weblate/locale/id/LC_MESSAGES/djangojs.po
Due: none

automatically generate documentation snippets in docs workflow
  .github/workflows/docs.yml
  docs/Makefile
  docs/admin/access.rst
  docs/admin/addons.rst
  docs/snippets/change-events.rst
  docs/snippets/permissions.rst
  docs/snippets/roles.rst
  weblate/auth/management/commands/list_permissions.py
  weblate/trans/management/commands/list_change_events.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

Translated using Weblate (Indonesian)
  weblate/locale/id/LC_MESSAGES/django.po
Due: none

fix(fonts): avoid caching for system check
  weblate/fonts/apps.py
  weblate/fonts/utils.py
Due: py-join-comma

fix(machinery): remove unsued code
  weblate/machinery/views.py
Due: py-join-comma

fix(translate): show inherited flags overview for project flags
  weblate/templates/translate.html
Due: none

fix(translation): extend new unit validation logic
  docs/changes.rst
  weblate/trans/models/translation.py
  weblate/trans/tests/data/cs-plural.po
  weblate/trans/tests/test_edit.py
  weblate/trans/tests/test_files.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

feat(search): improve error handling
  docs/changes.rst
  weblate/api/views.py
  weblate/trans/tests/test_edit.py
  weblate/utils/forms.py
  weblate/utils/search.py
  weblate/utils/tests/test_search.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Apply suggestions from code review
  weblate/trans/models/translation.py
Due: py-join-comma

Apply suggestion from @Copilot
  weblate/utils/search.py
Due: py-join-comma

fix(ui): fix translate page suggestion button
  weblate/templates/translate.html
Due: none

chore: add type annotations to Change model
  .github/workflows/mypy.yml
  weblate/trans/change_display.py
  weblate/trans/models/change.py
  weblate/utils/stats.py
Due: py-join-comma

feat(search): improve error handling (#17612)
  docs/changes.rst
  weblate/api/views.py
  weblate/trans/tests/test_edit.py
  weblate/utils/forms.py
  weblate/utils/search.py
  weblate/utils/tests/test_search.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

docs: describe why using e-mail for errors might not be a good idea
  docs/admin/install.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

fix: increase timeout for LLM translations
  weblate/machinery/llm.py
Due: py-join-comma

fix(file-format-params): make msgmerge behaviour safe by default
  weblate/trans/file_format_params.py
Due: py-join-comma
