Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

Translated using Weblate (Bulgarian)
  weblate/locale/bg/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Bulgarian)
  docs/locales/bg/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Estonian)
  docs/locales/et/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Estonian)
  weblate/locale/et/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Estonian)
  weblate/locale/et/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (German)
  weblate/locale/de/LC_MESSAGES/django.po
Due: none

Translated using Weblate (German)
  weblate/locale/de/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Bulgarian)
  weblate/locale/bg/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Chinese (Simplified Han script))
  weblate/locale/zh_Hans/LC_MESSAGES/django.po
Due: none

fix(checks): avoid concurrent rst parsing
  weblate/checks/markup.py
Due: py-join-comma

fix(machinery): CyrTranslit installation error
  docs/changes.rst
  weblate/machinery/base.py
  weblate/machinery/cyrtranslit.py
  weblate/machinery/tests.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(plurals): reject obviously wrong plural forms
  docs/specs/openapi.yaml
  weblate/lang/migrations/0005_alter_plural_number.py
  weblate/lang/models.py
  weblate/lang/tests.py
Due: py-join-comma
