Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

chore(l10n): update Croatian translation
  weblate/locale/hr/LC_MESSAGES/django.po
Due: none

chore(l10n): update Norwegian Nynorsk translation
  weblate/locale/nn/LC_MESSAGES/django.po
Due: none

chore(l10n): update Swedish translation
  docs/locales/sv/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Czech translation
  weblate/locale/cs/LC_MESSAGES/django.po
Due: none

chore(l10n): update Czech translation
  docs/locales/cs/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Bulgarian translation
  docs/locales/bg/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Bulgarian translation
  weblate/locale/bg/LC_MESSAGES/django.po
Due: none

chore(l10n): update Chinese (Simplified Han script) translation
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Portuguese translation
  docs/locales/pt/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Vietnamese translation
  docs/locales/vi/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Spanish translation
  weblate/locale/es/LC_MESSAGES/django.po
Due: none

chore(l10n): update English (United Kingdom) translation
  weblate/locale/en_GB/LC_MESSAGES/django.po
Due: none

chore(l10n): update Chinese (Simplified Han script) translation
  weblate/locale/zh_Hans/LC_MESSAGES/django.po
Due: none

chore(l10n): update Vietnamese translation
  weblate/locale/vi/LC_MESSAGES/django.po
Due: none

chore(l10n): update Spanish translation
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

chore(js): update vendored libraries
  client/yarn.lock
Due: none

feat(memory): add scoped translation memory (#20168)
  docs/admin/memory.rst
  docs/admin/projects.rst
  docs/admin/workspaces.rst
  docs/changes.rst
  docs/specs/openapi.yaml
  weblate/accounts/utils.py
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/api/views.py
  weblate/auth/permissions.py
  weblate/memory/admin.py
  weblate/memory/apps.py
  weblate/memory/machine.py
  weblate/memory/management/commands/dump_memory.py
  weblate/memory/migrations/0005_memory_scopes.py
  weblate/memory/models.py
  weblate/memory/tasks.py
  weblate/memory/tests.py
  weblate/memory/views.py
  weblate/metrics/models.py
  weblate/trans/backups.py
  weblate/trans/forms.py
  weblate/trans/migrations/0093_project_workspace_tm.py
  weblate/trans/models/__init__.py
  weblate/trans/models/component.py
  weblate/trans/models/project.py
  weblate/trans/tests/test_backups.py
  weblate/trans/tests/test_reports.py
  weblate/trans/tests/test_settings.py
  weblate/workspaces/forms.py
  weblate/workspaces/migrations/0003_workspace_translation_memory.py
  weblate/workspaces/models.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

feat(memory): show migration progress on performance report
  docs/admin/memory.rst
  docs/admin/upgrade.rst
  docs/changes.rst
  weblate/templates/manage/performance.html
  weblate/wladmin/tests.py
  weblate/wladmin/views.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Apply suggestion from @nijel
  docs/changes.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

chore(deps): update lockfile
  uv.lock
Due: none

Handle new installs gracefully
  weblate/templates/manage/performance.html
  weblate/wladmin/tests.py
  weblate/wladmin/views.py
Due: py-join-comma

chore(js): update vendored libraries
  weblate/static/js/vendor/altcha.js
  weblate/static/js/vendor/autoComplete.js
  weblate/static/js/vendor/bootstrap5.js
  weblate/static/js/vendor/main.js
  weblate/static/js/vendor/prismjs.js
  weblate/static/js/vendor/sentry.js
  weblate/static/js/vendor/tom-select.js
Due: none

Address review feedback
  weblate/templates/vcs/github_repository_list.html
  weblate/vcs/tests/test_github_views.py
  weblate/vcs/views.py
Due: py-join-comma
