Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

fix: remove not needed dependency
  .github/workflows/unicodechars.yml
Due: none

feat(ci): base uv cache on actual python version
  .github/workflows/api.yml
  .github/workflows/mypy.yml
  .github/workflows/test.yml
Due: none

docs: improve documentation for merging POT files with PO translations (#16468)
  docs/admin/addons.rst
  docs/devel/gettext.rst
  docs/devel/integration.rst
  docs/faq.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  uv.lock
Due: none

fix: revert upgrade from general lock maintenance
  .github/workflows/uv-upgrade.yml
Due: none

fix(ci): test install on 3.13
  .github/workflows/setup.yml
Due: none

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
Due: none

docs: update list of backers
  BACKERS.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

fix(ci): add concurency setup for docs
  .github/workflows/docs.yml
Due: none

fix(ui): bootstrap 5 migration fixes
  weblate/static/loader-bootstrap.js
  weblate/static/styles/main.css
  weblate/static/styles/variables.css
  weblate/templates/accounts/user.html
  weblate/templates/component.html
  weblate/templates/dashboard/user.html
  weblate/templates/js/git-status.html
  weblate/templates/language-project.html
  weblate/templates/project.html
  weblate/templates/snippets/translation.html
  weblate/templates/trans/delete-project.html
Due: none

Translated using Weblate (Portuguese)
  weblate/locale/pt/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Spanish)
  weblate/locale/es/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Slovak)
  weblate/locale/sk/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Slovak)
  docs/locales/sk/LC_MESSAGES/docs.po
Due: none

fix(api): correctly track authorship for add-on installation
  weblate/api/serializers.py
  weblate/api/tests.py
Due: py-join-comma

chore: avoid using deprecated argparse.FileType
  weblate/accounts/management/commands/dumpuserdata.py
  weblate/accounts/management/commands/importuserdata.py
  weblate/addons/management/commands/install_addon.py
  weblate/auth/management/commands/createadmin.py
  weblate/auth/management/commands/importusers.py
  weblate/auth/management/commands/setupgroups.py
  weblate/billing/management/commands/billing_check.py
  weblate/lang/management/commands/cleanup_languages.py
  weblate/lang/management/commands/list_languages.py
  weblate/lang/management/commands/move_language.py
  weblate/lang/management/commands/setuplang.py
  weblate/machinery/management/commands/install_machinery.py
  weblate/memory/management/commands/dump_memory.py
  weblate/memory/management/commands/import_memory.py
  weblate/trans/management/commands/__init__.py
  weblate/trans/management/commands/add_suggestions.py
  weblate/trans/management/commands/auto_translate.py
  weblate/trans/management/commands/benchmark.py
  weblate/trans/management/commands/commit_pending.py
  weblate/trans/management/commands/import_demo.py
  weblate/trans/management/commands/import_json.py
  weblate/trans/management/commands/import_project.py
  weblate/trans/management/commands/import_projectbackup.py
  weblate/trans/management/commands/list_translators.py
  weblate/trans/management/commands/loadpo.py
  weblate/trans/management/commands/pushgit.py
  weblate/trans/management/commands/updategit.py
Due: py-join-comma

feat(ci): test with free-threaded Python 3.14
  .github/workflows/test.yml
Due: none

fix(test): hide depreciation warning in third-party module
  pyproject.toml
Due: none

feat(ci): update test matrix
  .github/workflows/test.yml
Due: none

chore: remove outdated docs
  CONTACT.md
  CONTRIBUTING.md
Due: none

fix(ci): sigstore action needs Python 3.13
  .github/workflows/setup.yml
Due: none

feat(deps): allow testing with Django 6
  ci/pip-install
  pyproject.toml
  uv.lock
Due: none

feat: add reset keeping Weblate changes
  docs/changes.rst
  docs/specs/openapi.yaml
  weblate/addons/tests.py
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/api/views.py
  weblate/screenshots/tests.py
  weblate/trans/models/component.py
  weblate/trans/models/project.py
  weblate/trans/models/translation.py
  weblate/trans/tasks.py
  weblate/trans/tests/test_git_views.py
  weblate/trans/views/git.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix: close font file after parsing it
  weblate/fonts/utils.py
Due: py-join-comma

fix(component): cache file format class
  weblate/trans/models/component.py
Due: py-join-comma

feat(ci): allow postgresql to allocate more memory
  ci/docker-compose-postgresql.yml
Due: none

docs: fixed formatting
  docs/changes.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

fix: better report missing configuration
  pyproject.toml
  weblate/trans/models/component.py
Due: py-join-comma
