Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst contaning double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|anubis|127\.0\.0\.1|user:password@proxy|libretranslate:)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

rst-seealso-inline:
  name: seealso should use block
  entry: '^\.\. seealso:: .*$'
  language: pygrep

rst-seealso-list:
  name: seealso shoud use list for multiple lins
  args:
  - --multiline
  entry: ^\.\. seealso::\n\n(   *[:`*][^\n]*\n)*   *[:`*][^\n]*,
  language: pygrep

py-join-comma:
  name: Localized comma in join
  args:
  - --multiline
  entry: format_html_join\(\s*", "
  language: pygrep

refactor(memory): simplify fuzzy candidate sorting
  weblate/memory/models.py
Due: py-join-comma

fix(machinery): restore DeepL API v1 support
  docs/changes.rst
  docs/snippets/machines-autogenerated.rst
  weblate/machinery/deepl.py
  weblate/machinery/forms.py
  weblate/machinery/tests.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

docs(security): clarify incident reporting for a small team
  docs/changes.rst
  docs/index.rst
  docs/security/incident-reporting.rst
  docs/security/incident-response-plan.rst
  docs/security/index.rst
  docs/security/issues.rst
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list

docs(security): clarify sharing and report access boundaries
  docs/security/threat-model.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

fix(accounts): make TOTP enrollment atomic and single-use
  docs/admin/auth.rst
  docs/changes.rst
  docs/security/threat-model.rst
  weblate/accounts/forms.py
  weblate/accounts/migrations/0036_deduplicate_totp_devices.py
  weblate/accounts/models.py
  weblate/accounts/tasks.py
  weblate/accounts/tests/test_totp_enrollment.py
  weblate/accounts/tests/test_twofactor.py
  weblate/accounts/utils.py
  weblate/accounts/views.py
  weblate/auth/tests/test_permissions.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

refactor(dev): share container testing and consolidate ARM CI
  .devcontainer/compose.yaml
  .devcontainer/environment.py
  .devcontainer/test_environment.py
  .devcontainer/test_rundev.py
  .github/renovate.json
  .github/workflows/devcontainer.yml
  .github/workflows/rundev.yml
  dev-docker/docker-compose.yml
  dev-docker/valkey.yml
  docs/changes.rst
  docs/contributing/start.rst
  rundev.sh
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

feat(dev): isolate application QA per worktree
  .devcontainer/compose.yaml
  .devcontainer/environment.py
  .devcontainer/smoke.py
  .devcontainer/test_environment.py
  .devcontainer/test_rundev.py
  .github/renovate.json
  .github/workflows/rundev.yml
  dev-docker/docker-compose.yml
  dev-docker/postgres.yml
  dev-docker/valkey.yml
  dev-docker/weblate-dev/start-dev
  docs/changes.rst
  docs/contributing/start.rst
  docs/security/threat-model.rst
  rundev.sh
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(dev): avoid healthcheck wait for the test shell
  .devcontainer/environment.py
  .devcontainer/test_environment.py
Due: py-join-comma

fix(dev): resolve managed Python for application activation
  .devcontainer/environment.py
  .devcontainer/test_environment.py
  dev-docker/weblate-dev/Dockerfile
Due: py-join-comma

fix(dev): preserve cache ownership and resolve application paths
  .devcontainer/compose.yaml
  .devcontainer/test_environment.py
  dev-docker/docker-compose.yml
  dev-docker/weblate-dev/Dockerfile
Due: py-join-comma

feat(dev): add dependable browser testing in development containers
  .devcontainer/doctor.py
  .devcontainer/environment.py
  .devcontainer/test_doctor.py
  .devcontainer/test_environment.py
  .github/workflows/rundev.yml
  dev-docker/weblate-dev/Dockerfile
  docs/changes.rst
  docs/contributing/start.rst
  weblate/trans/tests/browser.py
  weblate/trans/tests/test_selenium.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(dev): verify resolved Compose environment in regression test
  .devcontainer/test_environment.py
Due: py-join-comma

feat(accounts): add user notification diagnostics
  docs/changes.rst
  docs/user/profile.rst
  weblate/accounts/forms.py
  weblate/accounts/notification_debug.py
  weblate/accounts/notifications.py
  weblate/accounts/tests/test_notification_debug.py
  weblate/accounts/views.py
  weblate/templates/accounts/notification_debug.html
  weblate/templates/accounts/user.html
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

test(dev): verify asynchronous application journeys in Docker
  .devcontainer/application_qa.py
  .devcontainer/environment.py
  .devcontainer/smoke.py
  .devcontainer/test_application_qa.py
  .devcontainer/test_environment.py
  .github/workflows/rundev.yml
  docs/contributing/start.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(dev): exclude disposable uv cache from persistence checks
  .devcontainer/smoke.py
Due: py-join-comma

feat(glossary): warn when string management is disabled
  docs/changes.rst
  docs/devel/alerts.rst
  docs/user/glossary.rst
  weblate/glossary/tests.py
  weblate/templates/trans/alert/glossarystringmanagementdisabled.html
  weblate/trans/alerts/config.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(history): preserve language scope in change rendering
  docs/changes.rst
  weblate/trans/models/change.py
  weblate/trans/tests/test_changes.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Use resolved language attribute
  weblate/trans/models/change.py
Due: py-join-comma

fix(checks): render literal examples for each output context
  docs/snippets/checks-autogenerated.rst
  weblate/checks/base.py
  weblate/checks/chars.py
  weblate/checks/management/commands/list_checks.py
  weblate/checks/models.py
  weblate/checks/source.py
  weblate/checks/tests/test_chars_checks.py
  weblate/checks/tests/test_commands.py
  weblate/checks/tests/test_models.py
  weblate/checks/tests/test_placeholders.py
  weblate/checks/tests/test_source_checks.py
  weblate/templates/snippets/suggestions.html
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

feat(announcements): support category-language pages
  docs/admin/announcements.rst
  docs/changes.rst
  weblate/auth/permissions.py
  weblate/templates/category-language.html
  weblate/trans/models/announcement.py
  weblate/trans/templatetags/translations.py
  weblate/trans/tests/test_manage.py
  weblate/trans/tests/test_models.py
  weblate/trans/views/basic.py
  weblate/trans/views/settings.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

refactor(lock): use PostgreSQL advisory locks
  weblate/addons/tasks.py
  weblate/screenshots/views.py
  weblate/trans/models/component.py
  weblate/trans/models/project.py
  weblate/trans/models/translation.py
  weblate/utils/lock.py
  weblate/utils/stats.py
  weblate/vcs/apps.py
  weblate/vcs/base.py
  weblate/vcs/git.py
Due: py-join-comma

refactor(lock): handle existing transactions
  weblate/utils/lock.py
Due: py-join-comma

fix(checks): detect untranslated Markdown link titles
  docs/changes.rst
  docs/snippets/checks-autogenerated.rst
  weblate/checks/markup.py
  weblate/checks/tests/test_markup_checks.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(history): preserve language scope in change rendering (#21489)
  docs/changes.rst
  weblate/trans/models/change.py
  weblate/trans/tests/test_changes.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Add link to opened pull request
  docs/changes.rst
  weblate/templates/snippets/git-info.html
  weblate/trans/migrations/0104_component_pull_request_url.py
  weblate/trans/models/component.py
  weblate/trans/tests/test_git_views.py
  weblate/trans/tests/test_remote.py
  weblate/vcs/base.py
  weblate/vcs/git.py
  weblate/vcs/github.py
  weblate/vcs/tests/test_vcs.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

chore(l10n): update Polish translation
  weblate/locale/pl/LC_MESSAGES/django.po
Due: none

chore(l10n): update French translation
  weblate/locale/fr/LC_MESSAGES/django.po
Due: none

chore(l10n): update German translation
  weblate/locale/de/LC_MESSAGES/django.po
Due: none

chore(l10n): update Czech translation
  weblate/locale/cs/LC_MESSAGES/django.po
Due: none

chore(l10n): update Chinese (Simplified Han script) translation
  weblate/locale/zh_Hans/LC_MESSAGES/django.po
Due: none

chore(l10n): update Czech translation
  docs/locales/cs/LC_MESSAGES/docs.po
Due: none

chore(l10n): update German translation
  docs/locales/de/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Polish translation
  docs/locales/pl/LC_MESSAGES/docs.po
Due: none

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
