Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst contaning double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|anubis|127\.0\.0\.1|user:password@proxy|libretranslate:)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

rst-seealso-inline:
  name: seealso should use block
  entry: '^\.\. seealso:: .*$'
  language: pygrep

rst-seealso-list:
  name: seealso shoud use list for multiple lins
  args:
  - --multiline
  entry: ^\.\. seealso::\n\n(   *[:`*][^\n]*\n)*   *[:`*][^\n]*,
  language: pygrep

py-join-comma:
  name: Localized comma in join
  args:
  - --multiline
  entry: format_html_join\(\s*", "
  language: pygrep

feat(deps): bump minimal urllib (#17686)
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  pyproject.toml
  uv.lock
Due: none

fix: always apply format settings for msgmerge
  weblate/formats/base.py
  weblate/trans/file_format_params.py
  weblate/trans/tests/test_file_format_params.py
Due: py-join-comma

Fix handling of acronyms
  docs/user/checks.rst
  weblate/checks/chars.py
  weblate/checks/tests/test_chars_checks.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

Simplified regexp evaluation
  weblate/checks/chars.py
Due: py-join-comma

Add to example settings
  weblate/settings_example.py
Due: py-join-comma

feat: add warning about commit policy implications on rescan
  weblate/templates/js/git-status.html
Due: none

chore(deps): use latest certify package
  pyproject.toml
  uv.lock
Due: none

fix(unit): honor source unit based state even when there are no flags
  weblate/trans/models/unit.py
  weblate/trans/tests/test_models.py
Due: py-join-comma

chore(deps): use latest certify package (#17690)
  pyproject.toml
  uv.lock
Due: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Ukrainian)
  docs/locales/uk/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Catalan)
  weblate/locale/ca/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Pashto)
  weblate/locale/ps/LC_MESSAGES/django.po
Due: none

Translated using Weblate (German)
  weblate/locale/de/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Pashto)
  docs/locales/ps/LC_MESSAGES/docs.po
Due: none

fix(checks): avoid regex marking strings as placeholders
  docs/changes.rst
  docs/user/checks.rst
  weblate/checks/placeholders.py
  weblate/checks/tests/test_placeholders.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

chore: add type annotations to Project model
  weblate/glossary/models.py
  weblate/trans/mixins.py
  weblate/trans/models/alert.py
  weblate/trans/models/project.py
  weblate/trans/views/basic.py
Due: py-join-comma

fix(acl): do not allow inviting users with registration closed
  weblate/trans/tests/test_acl.py
  weblate/trans/views/acl.py
Due: py-join-comma

fix(component): gracefully handle corrupted repositories
  weblate/trans/models/component.py
  weblate/trans/tests/test_component.py
  weblate/vcs/base.py
Due: py-join-comma

feat(checks): Add MultipleCapitalCheck for issue #8753 (#17265)
  docs/changes.rst
  docs/user/checks.rst
  weblate/checks/chars.py
  weblate/checks/models.py
  weblate/checks/tests/test_chars_checks.py
  weblate/settings_docker.py
  weblate/settings_example.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Documentation improvements
  docs/admin/config.rst
  docs/changes.rst
  weblate/settings_example.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(vcs): gracefully handle error responses from code hosting sites
  weblate/vcs/git.py
Due: py-join-comma

chore: pin jquery version to 3.7.1 for compatibility reasons
  client/package.json
  client/yarn.lock
  weblate/static/js/vendor/main.js
Due: none

chore: pin jquery version to 3.7.1 for compatibility reasons (#17704)
  client/package.json
  client/yarn.lock
  docs/specs/sbom/partial/javascript.json
  docs/specs/sbom/sbom.json
  weblate/static/js/vendor/main.js
Due: none

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
