Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

chore(l10n): update Bulgarian translation
  weblate/locale/bg/LC_MESSAGES/django.po
Due: none

chore(l10n): update Arabic translation
  docs/locales/ar/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Russian translation
  docs/locales/ru/LC_MESSAGES/docs.po
Due: none

chore: releasing 2026.10.1
  docs/changes.rst
  docs/changes/contributors/2026.10.1.rst
  pyproject.toml
  uv.lock
  weblate/utils/version.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

chore: releasing 2026.10.1
  docs/changes/contributors/2026.10.1.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

chore: setting version to 2026.11
  client/package.json
  docs/changes.rst
  docs/changes/contributors/2026.11.rst
  docs/conf.py
  pyproject.toml
  uv.lock
  weblate/trans/views/about.py
  weblate/utils/version.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(addons): honor PO wrapping for Sphinx templates
  docs/changes.rst
  weblate/addons/gettext.py
  weblate/addons/tests.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

test(api): reuse component fixtures across API tests
  docs/contributing/tests.rst
  weblate/api/tests.py
  weblate/trans/tests/test_fixtures.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(trans): keep announcement changes typed
  weblate/trans/models/announcement.py
  weblate/trans/tests/test_models.py
Due: py-join-comma

fix(accounts): require TOTP device selection for multiple apps
  docs/admin/auth.rst
  docs/changes.rst
  weblate/accounts/forms.py
  weblate/accounts/templatetags/authnames.py
  weblate/accounts/tests/test_twofactor.py
  weblate/accounts/utils.py
  weblate/templates/accounts/profile.html
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

test(selenium): reuse demo fixtures and reduce setup overhead
  docs/contributing/tests.rst
  weblate/trans/tests/selenium_fixtures.py
  weblate/trans/tests/test_selenium.py
  weblate/trans/tests/test_selenium_fixtures.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(ci): pin coordinated macOS Homebrew snapshot
  .github/renovate.json
  .github/workflows/macos.yml
Due: none

ci: stop applying uv maintenance patches
  .github/actions/auto-commit/action.yml
  .github/workflows/apply-maintenance-patch.yml
  .github/workflows/uv-upgrade.yml
  docs/security/dependencies.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

Apply suggestion from @nijel
  weblate/locale/br/LC_MESSAGES/djangojs.po
Due: none

Update plural forms in djangojs.po for Breton (br) locale (#21966)
  weblate/locale/br/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Polish translation
  weblate/locale/pl/LC_MESSAGES/django.po
Due: none

chore(l10n): update Portuguese translation
  weblate/locale/pt/LC_MESSAGES/django.po
Due: none

chore(l10n): update Breton translation
  weblate/locale/br/LC_MESSAGES/django.po
Due: none

chore(l10n): update Slovak translation
  weblate/locale/sk/LC_MESSAGES/django.po
Due: none

chore(l10n): update Asturian translation
  weblate/locale/ast/LC_MESSAGES/django.po
Due: none

chore(l10n): update Vietnamese translation
  weblate/locale/vi/LC_MESSAGES/django.po
Due: none

chore(l10n): update Dutch translation
  weblate/locale/nl/LC_MESSAGES/django.po
Due: none

chore(l10n): update Japanese translation
  weblate/locale/ja/LC_MESSAGES/django.po
Due: none

chore(l10n): update Arabic translation
  weblate/locale/ar/LC_MESSAGES/django.po
Due: none

chore(l10n): update German translation
  weblate/locale/de/LC_MESSAGES/django.po
Due: none

chore(l10n): update Polish translation
  weblate/locale/pl/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update German translation
  weblate/locale/de/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Dutch translation
  weblate/locale/nl/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Asturian translation
  docs/locales/ast/LC_MESSAGES/docs.po
Due: none

chore(l10n): update German translation
  docs/locales/de/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Dutch translation
  docs/locales/nl/LC_MESSAGES/docs.po
Due: none
