Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst contaning double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|anubis|127\.0\.0\.1|user:password@proxy|libretranslate:)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

rst-seealso-inline:
  name: seealso should use block
  entry: '^\.\. seealso:: .*$'
  language: pygrep

rst-seealso-list:
  name: seealso shoud use list for multiple lins
  args:
  - --multiline
  entry: ^\.\. seealso::\n\n(   *[:`*][^\n]*\n)*   *[:`*][^\n]*,
  language: pygrep

py-join-comma:
  name: Localized comma in join
  args:
  - --multiline
  entry: format_html_join\(\s*", "
  language: pygrep

minor js fixes
  weblate/static/loader-bootstrap.js
Due: none

handle .sdlxliff and .mdxliff as rich content
  weblate/formats/auto.py
  weblate/formats/tests/test_formats.py
Due: py-join-comma

fix(auth): prevent automatic bot team assignment
  ci/migrate-scripts/assert-bot-memberships.py
  ci/migrate-scripts/setup-bot-memberships.py
  ci/run-migrate
  docs/changes.rst
  weblate/auth/migrations/0013_cleanup_bot_memberships.py
  weblate/auth/models.py
  weblate/auth/tests/test_autogroup.py
  weblate/auth/tests/test_models.py
  weblate/trans/tests/test_projecttoken.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(machinery): preserve Anthropic base URL paths (#20999)
  docs/changes.rst
  weblate/machinery/anthropic.py
  weblate/machinery/llm.py
  weblate/machinery/tests.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

feat(support): focus purchase offers on administrators
  docs/admin/config.rst
  docs/admin/support.rst
  weblate/templates/about/donate.html
  weblate/templates/manage/index.html
  weblate/templates/manage/snippets/activation-form.html
  weblate/templates/registration/logged_out.html
  weblate/templates/snippets/about.html
  weblate/templates/snippets/donate.html
  weblate/templates/snippets/support.html
  weblate/trans/tests/test_basic_views.py
  weblate/trans/tests/test_selenium.py
  weblate/trans/views/about.py
  weblate/wladmin/middleware.py
  weblate/wladmin/tests.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

chore(l10n): update Irish translation
  docs/locales/ga/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Spanish translation
  weblate/locale/es/LC_MESSAGES/django.po
Due: none

chore(l10n): update Swedish translation
  weblate/locale/sv/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Catalan translation
  weblate/locale/ca/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Spanish translation
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

fix(glossary): label only flagged terms as untranslatable
  docs/changes.rst
  weblate/formats/tests/test_tbx_multivalue.py
  weblate/glossary/models.py
  weblate/glossary/tests.py
  weblate/templates/snippets/glossary-concept.html
  weblate/templates/snippets/glossary-row.html
  weblate/trans/models/unit.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

utils: Update SPDX license data
  weblate/utils/licensedata.py
Due: py-join-comma

docs: improve translator onboarding
  .gitignore
  docs/changes.rst
  docs/devel/community.rst
  docs/index.rst
  docs/screenshots/onboarding-languages.webp
  docs/screenshots/onboarding-translation.webp
  docs/user/basic.rst
  docs/user/translating.rst
  weblate/trans/tests/test_selenium.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(api): bind runtime serializer for the screenshots action
  weblate/api/views.py
Due: py-join-comma

test(selenium): showcase translation quality and context
  docs/screenshots/onboarding-languages.webp
  docs/screenshots/onboarding-translation.webp
  docs/screenshots/translation-quality.webp
  docs/user/basic.rst
  weblate/trans/tests/data/translation-quality.html
  weblate/trans/tests/data/translation-quality.po
  weblate/trans/tests/test_selenium.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(glossary): improve term wrapping and row alignment
  weblate/static/styles/main.css
  weblate/templates/translate.html
Due: none

feat: add @mention autocomplete to translation comments
  weblate/api/tests.py
  weblate/api/views.py
  weblate/static/loader-bootstrap.js
  weblate/templates/translate.html
Due: py-join-comma

fix(comments): reuse existing mention autocomplete instead of a custom one
  weblate/static/loader-bootstrap.js
Due: none

fix(addons): bound repository ITS validation
  weblate/addons/gettext_rules.py
  weblate/addons/test_gettext_rules.py
Due: py-join-comma

fix(accounts): hide inaccessible notification scopes
  docs/changes.rst
  weblate/accounts/tests/test_views.py
  weblate/accounts/views.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(trans): prefetch relations for target unit comments
  weblate/trans/models/unit.py
  weblate/trans/tests/test_models.py
Due: py-join-comma

fix(checks): reuse source units when updating checks
  weblate/trans/tasks.py
  weblate/trans/tests/test_tasks.py
Due: py-join-comma

fix(formats): stop reporting msgmerge input failures
  weblate/formats/ttkit.py
Due: py-join-comma

fix(auth): protect restricted translation sources
  docs/changes.rst
  weblate/addons/forms.py
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/trans/autotranslate.py
  weblate/trans/forms.py
  weblate/trans/tests/test_autotranslate.py
  weblate/trans/tests/test_edit.py
  weblate/trans/views/edit.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(api): avoid repeated commit bot lookups during downloads
  weblate/api/tests.py
  weblate/auth/bots.py
  weblate/auth/tests/test_models.py
  weblate/screenshots/models.py
  weblate/trans/models/component.py
  weblate/trans/models/translation.py
  weblate/trans/tests/test_component.py
  weblate/trans/tests/test_files.py
  weblate/trans/views/files.py
Due: py-join-comma

Enhance user mentions to prioritize contextual contributors
  weblate/api/tests.py
  weblate/api/views.py
  weblate/static/loader-bootstrap.js
Due: py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
