Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst contaning double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|anubis|127\.0\.0\.1|user:password@proxy|libretranslate:)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

rst-seealso-inline:
  name: seealso should use block
  entry: '^\.\. seealso:: .*$'
  language: pygrep

rst-seealso-list:
  name: seealso shoud use list for multiple lins
  args:
  - --multiline
  entry: ^\.\. seealso::\n\n(   *[:`*][^\n]*\n)*   *[:`*][^\n]*,
  language: pygrep

py-join-comma:
  name: Localized comma in join
  args:
  - --multiline
  entry: format_html_join\(\s*", "
  language: pygrep

Translated using Weblate (Chinese (Simplified Han script))
  weblate/locale/zh_Hans/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Greek)
  weblate/locale/el/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Due: none

feat: use uv native sbom exporter
  .github/workflows/uv-upgrade.yml
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
Due: none

feat(docker): integrate Fedora OIDC auth
  docs/admin/install/docker.rst
  weblate/settings_docker.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

chore(docs): remove outdated versionadded blocks
  docs/wlc.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

feat(add-ons): improve installable condition check
  weblate/addons/base.py
  weblate/addons/cdn.py
  weblate/addons/cleanup.py
  weblate/addons/flags.py
  weblate/addons/generate.py
  weblate/addons/gettext.py
  weblate/addons/management/commands/install_addon.py
  weblate/addons/models.py
  weblate/addons/tests.py
  weblate/addons/views.py
  weblate/api/serializers.py
  weblate/trans/guide.py
  weblate/trans/models/component.py
  weblate/trans/tasks.py
  weblate/trans/tests/test_file_format_params.py
Due: py-join-comma

feat(ci): utilize slim runners for some lightweight tasks
  .github/workflows/dependency-review.yml
  .github/workflows/fossa.yml
  .github/workflows/issue-closed.yml
  .github/workflows/issue-commented.yml
  .github/workflows/issue-labeled.yml
  .github/workflows/issue-milestoned.yml
  .github/workflows/issue-opened.yml
  .github/workflows/issue-reopened.yaml
  .github/workflows/issue-stale.yml
  .github/workflows/milestone-closed.yml
  .github/workflows/pr-stale.yml
  .github/workflows/pull_requests.yaml
Due: none

feat(add-ons): validate webhook secret length
  docs/admin/addons.rst
  docs/changes.rst
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  pyproject.toml
  uv.lock
  weblate/addons/forms.py
  weblate/addons/tests.py
  weblate/addons/webhooks.py
  weblate/utils/const.py
  weblate/utils/tests/test_validators.py
  weblate/utils/validators.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Refactor templates to use Bootstrap 5 classes
  weblate/static/styles/main.css
  weblate/templates/accounts/login.html
  weblate/templates/accounts/register.html
  weblate/templates/accounts/snippets/login-title.html
  weblate/templates/addons/addon_list.html
  weblate/templates/auth/team.html
  weblate/templates/base.html
  weblate/templates/category-language.html
  weblate/templates/category.html
  weblate/templates/component.html
  weblate/templates/keyboard-shortcuts.html
  weblate/templates/keyboard-shortcuts5.html
  weblate/templates/language-project.html
  weblate/templates/manage/backups.html
  weblate/templates/manage/teams.html
  weblate/templates/memory/index.html
  weblate/templates/project.html
  weblate/templates/registration/logged_out.html
  weblate/templates/screenshots/screenshot_detail.html
  weblate/templates/snippets/embed-units.html
  weblate/templates/snippets/info.html
  weblate/templates/snippets/share-menu.html
  weblate/templates/snippets/share-menu5.html
  weblate/templates/snippets/user-sort-field.html
  weblate/templates/snippets/watch-dropdown.html
  weblate/templates/snippets/watch-dropdown5.html
  weblate/templates/trans/alert/addonscripterror.html
  weblate/templates/trans/alert/ambiguouslanguage.html
  weblate/templates/trans/alert/cdnaddonerror.html
  weblate/templates/trans/alert/duplicatelanguage.html
  weblate/templates/trans/alert/duplicatestring.html
  weblate/templates/trans/alert/parseerror.html
  weblate/templates/trans/component_create.html
  weblate/templates/trans/project-access-row.html
  weblate/templates/trans/project-access.html
  weblate/templates/translate.html
  weblate/templates/translation.html
  weblate/templates/zen.html
  weblate/trans/forms.py
Due: py-join-comma

fix(vcs): use consistent args for create_pull_request
  weblate/vcs/git.py
Due: py-join-comma

fix(scripts): remove unused variable
  scripts/rtd-projects.py
Due: py-join-comma

chore: remove unused variable assignments
  weblate/accounts/tests/test_registration.py
  weblate/addons/tests.py
  weblate/api/tests.py
  weblate/checks/tests/test_views.py
  weblate/glossary/tests.py
  weblate/machinery/modernmt.py
  weblate/trans/tests/test_edit.py
  weblate/wladmin/tests.py
Due: py-join-comma

feat: Basic LLM machinery structures + Local Ollama IA model integration
  pyproject.toml
  uv.lock
  weblate/machinery/forms.py
  weblate/machinery/llm.py
  weblate/machinery/ollama.py
Due: py-join-comma

fix(ui): update modal titles
  weblate/static/styles/main.css
  weblate/templates/accounts/user.html
  weblate/templates/auth/team.html
  weblate/templates/manage/backups.html
  weblate/templates/manage/teams.html
  weblate/templates/memory/index.html
  weblate/templates/trans/project-access-row.html
  weblate/templates/trans/project-access.html
  weblate/templates/translate.html
Due: none

refactor: some code reorganization and cleanup + local tests with Ollama
  weblate/machinery/llm.py
  weblate/machinery/models.py
  weblate/machinery/ollama.py
Due: py-join-comma

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Belarusian)
  docs/locales/be/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (German)
  weblate/locale/de/LC_MESSAGES/django.po
Due: none

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
