Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-xml
  - id: check-toml
  - id: check-merge-conflict
  - id: check-json
  - id: debug-statements
  - id: mixed-line-ending
    args: [--fix=lf]
  - id: pretty-format-json
    args: [--no-sort-keys, --autofix, --no-ensure-ascii]
    exclude: ^weblate/trans/fixtures/simple-project.json|weblate/trans/tests/data/.*.json$
- repo: https://github.com/adamchainz/django-upgrade
  rev: 1.23.0
  hooks:
  - id: django-upgrade
    args: [--target-version, '5.1']
- repo: https://github.com/adrienverge/yamllint
  rev: v1.35.1
  hooks:
  - id: yamllint
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.4
  hooks:
  - id: ruff
    args: [--fix, --exit-non-zero-on-fix]
  - id: ruff-format
- repo: https://github.com/asottile/blacken-docs
  rev: 1.19.1
  hooks:
  - id: blacken-docs
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.14.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2']
- repo: https://github.com/pappasam/toml-sort
  rev: v0.24.2
  hooks:
  - id: toml-sort-fix
- repo: https://github.com/executablebooks/mdformat
  rev: 0.7.22
  hooks:
  - id: mdformat
    additional_dependencies:
    - mdformat-gfm==0.4.1
    - mdformat-ruff==0.1.3
    - mdformat-shfmt==0.2.0
    - mdformat_tables==1.0.0
- repo: https://github.com/scop/pre-commit-shfmt
  rev: v3.10.0-2
  hooks:
  - id: shfmt
- repo: https://github.com/awebdeveloper/pre-commit-stylelint
  rev: 0.0.2
  hooks:
  - id: stylelint
    args: [--formatter=compact]
    additional_dependencies:
    - stylelint@16.14.1
- repo: https://github.com/fsfe/reuse-tool
  rev: v5.0.2
  hooks:
  - id: reuse
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    require_serial: true
    args: [-x]
- repo: https://github.com/biomejs/pre-commit
  rev: v1.9.4
  hooks:
  - id: biome-check
    additional_dependencies:
    - '@biomejs/biome@1.9.4'
- repo: https://github.com/abravalheri/validate-pyproject
  rev: v0.23
  hooks:
  - id: validate-pyproject
- repo: https://github.com/djlint/djLint
  rev: v1.36.4
  hooks:
  - id: djlint-reformat-django
  - id: djlint-django
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.10.0
  hooks:
  - id: rst-directive-colons
  - id: rst-inline-touching-normal
- repo: local
  hooks:
  - id: rst-double-space
    name: rst text with double space
    description: Detect mistake of rst containg double space
    types: [rst]
    entry: \S  +(?![\| +])
    language: pygrep
    exclude: docs/devel/reporting-example.rst
  - id: rst-http
    name: http link in rst text
    description: Detect mistake of using http links
    types: [rst]
    entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|127\.0\.0\.1|user:password@proxy)
    language: pygrep
  - id: rst-bullet-stop
    name: Changes end with a stop
    description: Bullet list in changes should end with a stop.
    files: docs/changes\.rst
    entry: ^ *\* .*[^.]\n$
    language: pygrep
- repo: https://github.com/sphinx-contrib/sphinx-lint
  rev: v1.0.0
  hooks:
  - id: sphinx-lint

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    additional_dependencies:
    - tomli
    exclude: client/yarn.lock
exclude: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock$
ci:
  autoupdate_schedule: quarterly

Translated using Weblate (Czech)
  weblate/locale/cs/LC_MESSAGES/django.po
Due: none

feat: improve reporting broken backups or unpaid subscriptions
  weblate/templates/manage/backups.html
  weblate/templates/manage/index.html
  weblate/utils/checks.py
  weblate/utils/const.py
  weblate/wladmin/apps.py
  weblate/wladmin/models.py
Due: none

feat: add PWA support with caching and offline support
  weblate/static/loader-bootstrap.js
  weblate/templates/js/service-worker.js
  weblate/templates/site.webmanifest
  weblate/urls.py
  weblate/views.py
Due: none

Translated using Weblate (Galician)
  weblate/locale/gl/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Portuguese (Brazil))
  weblate/locale/pt_BR/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Croatian)
  weblate/locale/hr/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Galician)
  docs/locales/gl/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Croatian)
  weblate/locale/hr/LC_MESSAGES/djangojs.po
Due: none

Translated using Weblate (Croatian)
  docs/locales/hr/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Hungarian)
  weblate/locale/hu/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Persian)
  weblate/locale/fa/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Hungarian)
  docs/locales/hu/LC_MESSAGES/docs.po
Due: none

Update docs/admin/install/docker.rst
  docs/admin/install/docker.rst
Due: rst-double-space, rst-http

fix(checks): has been translated should look only at translation changes
  docs/changes.rst
  weblate/checks/consistency.py
Due: rst-double-space, rst-http, rst-bullet-stop

Update docs/changes.rst
  docs/changes.rst
Due: rst-double-space, rst-http, rst-bullet-stop

feat(add-ons): allow webhook to be installed multiple times
  docs/changes.rst
  weblate/addons/base.py
Due: rst-double-space, rst-http, rst-bullet-stop

fix: improve tab naming consistency
  weblate/templates/category-language.html
  weblate/templates/category.html
  weblate/templates/component-list.html
  weblate/templates/component.html
  weblate/templates/language-project.html
  weblate/templates/language.html
  weblate/templates/project.html
  weblate/templates/snippets/info.html
  weblate/templates/translation.html
Due: none

docs: document Anubis integration (#14811)
  .pre-commit-config.yaml
  docs/admin/install/docker.rst
Due: rst-double-space, rst-http

fix(add-ons): fixed delivery of project or site scoped changes (#14810)
  docs/changes.rst
  weblate/addons/migrations/0006_alter_addonactivitylog_component.py
  weblate/addons/models.py
  weblate/addons/tasks.py
  weblate/addons/tests.py
Due: rst-double-space, rst-http, rst-bullet-stop

feat(add-ons): rendering of webhook logs (#14843)
  docs/changes.rst
  docs/conf.py
  weblate/addons/base.py
  weblate/addons/models.py
  weblate/addons/webhooks.py
  weblate/templates/addons/addon_logs.html
  weblate/templates/addons/webhook_log.html
  weblate/trans/templatetags/translations.py
Due: rst-double-space, rst-http, rst-bullet-stop

Translated using Weblate (Portuguese)
  weblate/locale/pt/LC_MESSAGES/django.po
Due: none

Translated using Weblate (French)
  docs/locales/fr/LC_MESSAGES/docs.po
Due: none
