Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$

chore(l10n): update Indonesian translation
  docs/locales/id/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Vietnamese translation
  docs/locales/vi/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Chinese (Simplified Han script) translation
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Irish translation
  weblate/locale/ga/LC_MESSAGES/django.po
Due: none

chore(l10n): update Irish translation
  docs/locales/ga/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Irish translation
  weblate/locale/ga/LC_MESSAGES/djangojs.po
Due: none

fix(css): avoid using duplicate IDs
  weblate/static/styles/main.css
  weblate/templates/list-comments.html
Due: none

fix(html): use unique element IDs
  weblate/templates/trans/component_create.html
Due: none

fix(accounts): avoid nested notification controls
  weblate/static/loader-bootstrap.js
  weblate/static/styles/main.css
  weblate/templates/accounts/profile.html
Due: none

fix(translations): remove duplicate new unit radio IDs
  weblate/static/loader-bootstrap.js
  weblate/templates/translation.html
Due: none

fix(stats): refresh cached aggregates and correct category totals
  docs/changes.rst
  weblate/trans/models/__init__.py
  weblate/trans/models/project.py
  weblate/trans/tests/test_categories.py
  weblate/trans/tests/test_labels.py
  weblate/trans/tests/test_models.py
  weblate/utils/stats.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

feat(glossary): support TBX alternatives and metadata round trips
  docs/api.rst
  docs/changes.rst
  docs/formats/tbx.rst
  docs/specs/openapi.yaml
  weblate/api/serializers.py
  weblate/checks/glossary.py
  weblate/checks/same.py
  weblate/formats/exporters.py
  weblate/formats/tests/test_exporters.py
  weblate/formats/tests/test_formats.py
  weblate/formats/tests/test_tbx_multivalue.py
  weblate/formats/ttkit.py
  weblate/glossary/models.py
  weblate/glossary/tests.py
  weblate/glossary/views.py
  weblate/machinery/llm.py
  weblate/machinery/microsoft.py
  weblate/static/editor/base.js
  weblate/static/editor/full.js
  weblate/templates/snippets/glossary-concept.html
  weblate/templates/snippets/glossary-row.html
  weblate/templates/snippets/glossary.html
  weblate/templates/snippets/tbx-terms.html
  weblate/templates/translate.html
  weblate/trans/forms.py
  weblate/trans/models/component.py
  weblate/trans/models/unit.py
  weblate/trans/tests/test_component.py
  weblate/trans/tests/test_selenium.py
  weblate/utils/terminology.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

chore(l10n): update Vietnamese translation
  weblate/locale/vi/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Bulgarian translation
  weblate/locale/bg/LC_MESSAGES/django.po
Due: none

chore(l10n): update Vietnamese translation
  weblate/locale/vi/LC_MESSAGES/django.po
Due: none

chore(l10n): update Chinese (Simplified Han script) translation
  weblate/locale/zh_Hans/LC_MESSAGES/django.po
Due: none

chore(l10n): update Bulgarian translation
  docs/locales/bg/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Indonesian translation
  weblate/locale/id/LC_MESSAGES/django.po
Due: none

fix(api): restrict notification subscription targets
  docs/api.rst
  docs/changes.rst
  docs/specs/openapi.yaml
  weblate/accounts/models.py
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/api/views.py
  weblate/trans/views/acl.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

chore(deps): update lockfile
  uv.lock
Due: none

checks: make overview searches exact
  weblate/checks/tests/test_views.py
  weblate/checks/views.py
Due: py-join-comma

fix(api): restrict notification subscription targets
  docs/api.rst
  docs/changes.rst
  docs/specs/openapi.yaml
  weblate/accounts/models.py
  weblate/accounts/tasks.py
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/api/views.py
  weblate/trans/views/acl.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(trans): resolve migration conflict and complete repoweb_translations integration
  docs/changes.rst
  docs/specs/schemas/weblate-component.schema.json
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/trans/backups.py
  weblate/trans/migrations/0106_component_repoweb_translations.py
  weblate/trans/tests/test_backups.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

revert(backups): drop repoweb_translations from backup/restore for now
  weblate/trans/backups.py
  weblate/trans/tests/test_backups.py
Due: py-join-comma

feat(ci): test custom Sphinx extensions
  .github/workflows/docs.yml
Due: none

fix(widgets): render category and workspace scopes
  docs/changes.rst
  docs/devel/share.rst
  weblate/templates/browse.html
  weblate/templates/category.html
  weblate/templates/component.html
  weblate/templates/language-project.html
  weblate/templates/language.html
  weblate/templates/project.html
  weblate/templates/translate.html
  weblate/templates/translation.html
  weblate/templates/widgets.html
  weblate/templates/zen.html
  weblate/trans/tests/test_widgets.py
  weblate/trans/views/widgets.py
  weblate/trans/widgets.py
  weblate/utils/stats.py
  weblate/utils/views.py
  weblate/workspaces/tests.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(trans): cover translation repository browser links
  docs/api.rst
  weblate/accounts/notifications.py
  weblate/accounts/tests/test_notifications.py
  weblate/trans/alerts/config.py
  weblate/trans/tests/test_alert.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma
