Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst contaning double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|anubis|127\.0\.0\.1|user:password@proxy|libretranslate:)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

rst-seealso-inline:
  name: seealso should use block
  entry: '^\.\. seealso:: .*$'
  language: pygrep

rst-seealso-list:
  name: seealso shoud use list for multiple lins
  args:
  - --multiline
  entry: ^\.\. seealso::\n\n(   *[:`*][^\n]*\n)*   *[:`*][^\n]*,
  language: pygrep

py-join-comma:
  name: Localized comma in join
  args:
  - --multiline
  entry: format_html_join\(\s*", "
  language: pygrep

Translated using Weblate (Russian)
  weblate/locale/ru/LC_MESSAGES/django.po
Due: none

Translated using Weblate (German)
  docs/locales/de/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Chinese (Simplified Han script))
  docs/locales/zh_Hans/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (German)
  weblate/locale/de/LC_MESSAGES/django.po
Due: none

chore(deps): update lockfile
  docs/specs/sbom/partial/python.json
  docs/specs/sbom/sbom.json
  uv.lock
Due: none

fix: allow admin login page to be accessible without authentication
  weblate/accounts/tests/test_middleware.py
  weblate/wladmin/sites.py
Due: py-join-comma

migrate StringsFormat encoding to file format parameters
  weblate/formats/base.py
  weblate/formats/ttkit.py
  weblate/trans/file_format_params.py
  weblate/trans/forms.py
  weblate/trans/models/component.py
  weblate/trans/tests/test_component.py
  weblate/trans/tests/test_file_format_params.py
Due: py-join-comma

migrate CSVFormat and CSVSimpleFormat encoding to file_format_params
  weblate/formats/external.py
  weblate/formats/models.py
  weblate/formats/multi.py
  weblate/formats/ttkit.py
  weblate/trans/file_format_params.py
  weblate/trans/tests/test_component.py
  weblate/trans/tests/utils.py
Due: py-join-comma

migrate PropertiesFormat encoding to file_format_params
  weblate/addons/properties.py
  weblate/formats/models.py
  weblate/formats/ttkit.py
  weblate/trans/file_format_params.py
  weblate/trans/models/component.py
  weblate/trans/tests/test_component.py
  weblate/trans/tests/test_file_format_params.py
  weblate/trans/tests/utils.py
Due: py-join-comma

migrate GWTFormat encoding to file format params
  weblate/formats/ttkit.py
  weblate/trans/file_format_params.py
Due: py-join-comma

Translated using Weblate (Belarusian)
  docs/locales/be/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Bulgarian)
  weblate/locale/bg/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Belarusian)
  weblate/locale/be/LC_MESSAGES/django.po
Due: none

Translated using Weblate (Russian)
  docs/locales/ru/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Turkish)
  docs/locales/tr/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Spanish)
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Bulgarian)
  docs/locales/bg/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Vietnamese)
  docs/locales/vi/LC_MESSAGES/docs.po
Due: none

Translated using Weblate (Vietnamese)
  weblate/locale/vi/LC_MESSAGES/django.po
Due: none

feat(unit): replace auto-translated label with dedicated boolean field
  docs/user/search.rst
  weblate/addons/autotranslate.py
  weblate/api/serializers.py
  weblate/templates/snippets/query-builder.html
  weblate/templates/translate.html
  weblate/trans/bulk.py
  weblate/trans/migrations/0052_unit_automatically_translated_alter_unit_labels.py
  weblate/trans/migrations/0053_migrate_automatically_translated_label_to_unit_field.py
  weblate/trans/models/label.py
  weblate/trans/models/project.py
  weblate/trans/models/unit.py
  weblate/trans/templatetags/translations.py
  weblate/trans/tests/test_autotranslate.py
  weblate/trans/tests/test_search.py
  weblate/utils/search.py
  weblate/utils/stats.py
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list, py-join-comma

allow users to leave a note when blocking a user
  weblate/auth/migrations/0008_userblock_note.py
  weblate/auth/models.py
  weblate/templates/accounts/user.html
  weblate/templates/trans/project-access.html
  weblate/trans/forms.py
  weblate/trans/tests/test_acl.py
  weblate/trans/views/acl.py
Due: py-join-comma

chore: remove unused variable assignments (#17024)
  weblate/accounts/tests/test_registration.py
  weblate/addons/tests.py
  weblate/api/tests.py
  weblate/checks/tests/test_views.py
  weblate/glossary/tests.py
  weblate/machinery/modernmt.py
  weblate/trans/tests/test_edit.py
  weblate/wladmin/tests.py
Due: py-join-comma

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
