Repository WeblateOrg/weblate: changes, and which pre-commit hooks are due for each by the changed paths.
All: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

rst-double-space:
  name: rst text with double space
  description: Detect mistake of rst contaning double space
  entry: \S  +(?![\| +])
  language: pygrep

rst-http:
  name: http link in rst text
  description: Detect mistake of using http links
  entry: http://(?!example\.|[a-z]*\.example\.|weblate:|localhost|anubis|127\.0\.0\.1|user:password@proxy|libretranslate:)
  language: pygrep

rst-bullet-stop:
  name: Changes end with a stop
  description: Bullet list in changes should end with a stop.
  entry: ^ *\* .*[^.]\n$
  language: pygrep

rst-seealso-inline:
  name: seealso should use block
  entry: '^\.\. seealso:: .*$'
  language: pygrep

rst-seealso-list:
  name: seealso shoud use list for multiple lins
  args:
  - --multiline
  entry: ^\.\. seealso::\n\n(   *[:`*][^\n]*\n)*   *[:`*][^\n]*,
  language: pygrep

py-join-comma:
  name: Localized comma in join
  args:
  - --multiline
  entry: format_html_join\(\s*", "
  language: pygrep

docs(formats): remove duplicate tbx special tags descriptions
  docs/formats/tbx.rst
  docs/snippets/format-features/tbx-features.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

docs(formats): extend tbx example with types, description and explanations
  weblate/formats/tests/test_formats.py
  weblate/trans/tests/data/cs.tbx
Due: py-join-comma

chore(js): update vendored libraries
  weblate/static/js/vendor/sentry.js
Due: none

fix(tests): clear cache between selenium test runs
  weblate/metrics/tests.py
  weblate/metrics/wrapper.py
  weblate/trans/tests/test_selenium.py
Due: py-join-comma

feat(formats): add new parameters from translate-toolkit
  docs/changes.rst
  docs/formats/markdown.rst
  docs/snippets/file-format-parameters.rst
  weblate/formats/convert.py
  weblate/formats/tests/test_convert.py
  weblate/formats/tests/test_formats.py
  weblate/formats/ttkit.py
  weblate/trans/file_format_params.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

fix(component): reuse component lock for save
  weblate/trans/models/component.py
  weblate/trans/tests/test_settings.py
Due: py-join-comma

update documentation and threat model
  docs/admin/backup.rst
  docs/security/threat-model.rst
Due: rst-double-space, rst-http, rst-seealso-inline, rst-seealso-list

feat(api): Manage Project backups via API (#20155)
  docs/admin/backup.rst
  docs/api.rst
  docs/changes.rst
  docs/security/threat-model.rst
  docs/specs/openapi.yaml
  weblate/api/serializers.py
  weblate/api/tests.py
  weblate/api/views.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

docs: include all VCS choices in embedded OpenAPI spec
  docs/Makefile
  docs/specs/openapi.yaml
  weblate/api/docs.py
  weblate/api/spectacular.py
  weblate/api/tests.py
  weblate/vcs/models.py
Due: py-join-comma

fix(vcs): disable automatic maintenance on git repos
  docs/changes.rst
  weblate/vcs/base.py
  weblate/vcs/git.py
  weblate/vcs/tests/test_vcs.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

style: move message property to comply with Django Style Guide in Change model
  weblate/trans/models/change.py
  weblate/trans/tests/test_search.py
Due: py-join-comma

fix(add-ons): improve Fedora Messaging SSL cert handling
  docs/changes.rst
  docs/snippets/addons-autogenerated.rst
  weblate/addons/defaults.py
  weblate/addons/fedora_messaging.py
  weblate/addons/forms.py
  weblate/addons/migrations/0021_migrate_fedora_messaging_amqp_url.py
  weblate/addons/models.py
  weblate/addons/tests.py
  weblate/utils/outbound.py
  weblate/utils/requests.py
Due: rst-double-space, rst-http, rst-bullet-stop, rst-seealso-inline, rst-seealso-list, py-join-comma

docs: Update JSON schemas
  docs/specs/schemas/weblate-backup.schema.json
Due: none

fix(checks): preserve MDX expression context in SafeMDX check (#20154)
  weblate/checks/mdx.py
  weblate/checks/tests/test_mdx.py
Due: py-join-comma

fix tests 4
  weblate/trans/tests/test_selenium.py
Due: py-join-comma

chore(l10n): update Spanish translation
  weblate/locale/es/LC_MESSAGES/django.po
Due: none

chore(l10n): update Portuguese translation
  weblate/locale/pt/LC_MESSAGES/django.po
Due: none

chore(l10n): update Vietnamese translation
  weblate/locale/vi/LC_MESSAGES/django.po
Due: none

chore(l10n): update Albanian translation
  weblate/locale/sq/LC_MESSAGES/django.po
Due: none

chore(l10n): update Czech translation
  weblate/locale/cs/LC_MESSAGES/django.po
Due: none

chore(l10n): update Swedish translation
  weblate/locale/sv/LC_MESSAGES/django.po
Due: none

chore(l10n): update Spanish translation
  weblate/locale/es/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Portuguese translation
  weblate/locale/pt/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Vietnamese translation
  weblate/locale/vi/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Russian translation
  weblate/locale/ru/LC_MESSAGES/djangojs.po
Due: none

chore(l10n): update Persian translation
  weblate/locale/fa/LC_MESSAGES/django.po
Due: none

chore(l10n): update Khmer (Central) translation
  weblate/locale/km/LC_MESSAGES/django.po
Due: none

chore(l10n): update Croatian translation
  weblate/locale/hr/LC_MESSAGES/django.po
Due: none

chore(l10n): update Czech translation
  docs/locales/cs/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Spanish translation
  docs/locales/es/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Portuguese translation
  docs/locales/pt/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Croatian translation
  docs/locales/hr/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Vietnamese translation
  docs/locales/vi/LC_MESSAGES/docs.po
Due: none

chore(l10n): update Swedish translation
  docs/locales/sv/LC_MESSAGES/docs.po
Due: none

Path conditions:
  rst-double-space: any of: \.rst$ and not (docs/devel/reporting-example.rst|docs/admin/addons.rst|docs/snippets/file-format-parameters.rst) and not (^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$)
  rst-http: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-bullet-stop: any of: docs/changes\.rst, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-inline: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  rst-seealso-list: any of: \.rst$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
  py-join-comma: any of: \.py$, but not: ^.*\.(csv|svg|wsdl(\.[^.]*)?)|weblate/trans/tests/data/memory-broken\.json|weblate/templates/browserconfig\.xml|weblate/templates/configuration/custom\.css|weblate/trans/tests/data/cs-CZ\.rc|weblate/static/vendor/.*|weblate/static/js/vendor/.*|weblate/static/styles/vendor/.*|docs/make\.bat|weblate/templates/addons/js/weblate\.js|uv\.lock|docs/specs/openapi.yaml$
